///* ========================================================================
//   #ALIASES
//   Map Inuit aliases to project aliases ======================================================================== */

// Mixins
@mixin font-size($font-size, $line-height: auto, $modifier: 0, $important: false) {
  @include inuit-font-size($font-size, $line-height, $modifier, $important)
}

// Units
$unit: $inuit-global-spacing-unit;
$unit-tiny: $inuit-global-spacing-unit-tiny;
$unit-small: $inuit-global-spacing-unit-small;
$unit-large: $inuit-global-spacing-unit-large;
$unit-huge: $inuit-global-spacing-unit-huge;

// Font size
$font-huge: $inuit-font-size-huge;
$font-h1: $inuit-font-size-h1;
$font-h2: $inuit-font-size-h2;
$font-h3: $inuit-font-size-h3;
$font-h4: $inuit-font-size-h4;
$font-h5: $inuit-font-size-h5;
$font-h6: $inuit-font-size-h6;
$font-small: $inuit-font-size-small;
$font-tiny: $inuit-font-size-tiny;

// Font settings
$font-primary: $inuit-font-family-primary;
$font-regular: $inuit-font-weight-regular;
$font-bold: $inuit-font-weight-bold;
