{#
 # Projecten
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="c-row c-row--md">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp6">
                <div class="s-content u-max-width-md">
                    <div class="c-typo-lead">
                        <p>We bouwen niet enkel dingen in <strong>Nerdlab</strong>. We organiseren ook trajecten waar we kinderen en andere jonge mensen creatief laten zijn met technologie.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            STOOM
                        </h2>
                        <p>Tijdens een jaartraject kijken wat er ontstaat als kunst en technologie botsen. Aan de hand van laagdrempelige workshops kijken we hoe je met een beamer kan mappen, zoeken we de limieten van VR en gaan we aan de slag met licht.</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/21107716_772905649556154_6990988279961092096_n.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/21689277_1474015486233172_6724994547228606464_n.jpg" alt="">
                </p>

            </div>
        </div>
    </div>
</div>

<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            Maak de stad
                        </h2>
                        <p>In de wijkbibliotheken van Gent bouwden we samen met een hoop joelende 8 tot 14 jarigen een ideale stad. We gingen aan de slag met een lasercutter om gebouwen te snijden, maakten kleine robotjes voor in de straten en fleurden de boel om met streetart.</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/tumblr_ougxlsjxu61w8imfzo9_1280.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/tumblr_ougxlsjxu61w8imfzo6_1280.jpg" alt="">
                </p>

            </div>
        </div>
    </div>
</div>

<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            STEAM Power
                        </h2>
                        <p>Tijdens de opleiding “STEAM Power” leiden we jeugdwerkers op tot volwaardige fablabinstructeurs. Samen met <a href="http://jes.be/">JES</a> en <a href="http://ingegno.be/">Ingegno</a> onder de vleugels van <a href="https://www.digipolis.be/">Digipolis</a> bieden we een traject aan waar technische-, sociale- en creatieve vaardigheden centraal staan.</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/22281628_766766460192135_6144517589570733880_n.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/22405542_766766360192145_202973194781822891_n.jpg" alt="">
                </p>

            </div>
        </div>
    </div>
</div>

<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            BYOB
                        </h2>
                        <p>Bring Your Own Beamer is een internationaal kunstconcept waar digitale makers hun werk komen presenteren via hun zelf meegebrachte beamer. Wij organiseren jaarlijks de grootste editie in België met een 80 tal makers en 1500 bezoekers.</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/IMG_0622_web%20(c)%20Michiel%20Devijver.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/IMG_0692_web%20(c)%20Michiel%20Devijver.jpg" alt="">
                </p>

                <p class="u-ms-2 u-color-neutral-base">
                    © Vicky Bogaert
                </p>

            </div>
        </div>
    </div>
</div>

<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            Retro LAN-party flightcases
                        </h2>
                        <p>LAN party’s is so 00’s. Multiplayer gaming speelt zich vooral online af en het gezeul met pc’s en schermen is niet echt een beeld om naar uit te kijken. LAN party’s zijn echter ook een bron van pure nostalgie: je favoriete games die je tien jaar (of langer) geleden met je vrienden dat ene weekend eens kon samen spelen.</p>

<p>Enter de LAN-party flightcase! Een uniek concept waarbij een schare oude pc’s (denk Windows XP) netjes in houten – makkelijk vervoerbare – cases worden gestopt en samen in een grote flightcase de magie van de LAN parties van weleer zal doen herleven! Momenteel zitten we aan ons eerste prototype te werken, maar binnenkort kunnen we daadwerkelijk gaan gamen. Kom gerust eenhandje toesteken!</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/lan-party-2.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/lan-party-1.jpg" alt="">
                </p>

            </div>
        </div>
    </div>
</div>

<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            Machien
                        </h2>
                        <p>Honderden schakels om iets heel eenvoudig te doen, dat zijn Rube Goldberg machines. Denk aan een domino blokjes die omvallen, maar dan met brandende koorden en vliegende televisies. De heren van OK GO, verheven dit bouwen tot kunst en we geven ze geen ongelijk. Machien doen we graag samen met heel veel mensen van allerlei pluimage. Die ene keer was dat vooral samen met Het Entrepot.</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/machien-7.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/machien-2-square.jpg" alt="">
                </p>

                <p class="u-ms-2 u-color-neutral-base">
                    © Kasper Vandermaesen Photography
                </p>

            </div>
        </div>
    </div>
</div>

<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            EKKO
                        </h2>
                        <p>Een Europees project waarbij de verschillende partners gewoon in hun hoofdkwartier bleven. We bouwden een rugzak (naar het protonpack van ghostbusters) met een gps-tracker en gprs module om altijd haar locatie doorgaf. Op die manier lifte ‘EkkO’ doorheen Europa waar ze door verschillende organisaties werd ontvangen.</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/ekko-2.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/ekko-1-square.jpg" alt="">
                </p>

            </div>
        </div>
    </div>
</div>

<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            Game-o-tron 9000
                        </h2>
                        <p>Deze schoonheid was in de jaren 90 gastvrouw voor een NEO GEO met de arcade versie van Die Hard. Na een mooie carriere heeft scherm én moederbord de geest gegeven en kreeg ze een flatscreen en stevige processor in de plaats. Ze heeft nog nood aan nieuwe knoppen, een likje verf en een beamer die ook de omgeving van sfeer voorziet.</p>

                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="/assets/img/uploads/game-o-tron-2.jpg" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="/assets/img/uploads/game-o-tron-1-square.jpg" alt="">
                </p>

            </div>
        </div>
    </div>
{% endblock %}
