{#
 # The homepage template
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="c-row c-row--md u-z-delta">
  <div class="o-container">
    <div class="o-grid o-grid--gutter o-flex">
      <div class="o-grid__item u-1-of-2-bp6">
        <div class="s-content u-max-width-md">
          <div class="c-typo-lead">
            <p><strong>Nerdlab</strong> is een open collectief van makers. We bouwen <a href="/projecten">installaties</a>, organiseren <a href="/agenda">evenementen</a> en veroveren de wereld. We hebben ook een <a href="/lab">lab</a> in Gent waar iedereen welkom is.<br />
            Elke week kan je daar terecht voor workshops <a href="vr/">Virtual Reality</a> of <a href="iot/">Interface of things</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-row c-row--md c-row--cta u-z-delta">
  <div class="c-background-image c-background-image--fallback" style="background-image: url('/assets/img/uploads/home-3.jpg');"></div>
    <video class="c-background-video" autoplay loop muted preload="true">
      <source src="/assets/img/uploads/nerdlab.webm" type="video/webm">
      <source src="/assets/img/uploads/nerdlab.mp4" type="video/mp4">
    </video>
    <p class="c-background-video__meta">
      Video: LUCA School of Arts - campus C-mine
    </p>
    <div class="o-container">
      <div class="o-grid o-grid--gutter o-flex">
        <div class="o-grid__item u-1-of-2-bp6">
          <div class="u-max-width-md">
            <div class="c-cta-lead u-color-neutral-xxxxx-light">
              <p>Heb je een project waar je vast mee zit of zin om samen met ons mee in een project te duiken?</p>
            </div>
            <p>
              <a href="/word-nerd/" class="c-button c-button--lg c-button--cta">
                Kom eens langs
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
