/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  position: relative;
  z-index: $z-index-alpha;
}

.c-header__items {
  display: flex;
  justify-content: space-between;
}
