/* ==========================================================================
   #BRAND
   ========================================================================== */

$logo-ratio:     3.3333;
$logo-height:    1.6rem;
$logo-width:     $logo-height * $logo-ratio;

.c-logo,
.c-logo__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  margin-bottom: 0;
  color: $color-neutral-dark;
  text-decoration: none;
  z-index: $z-index-alpha;
}

  .c-logo__mark {
    display: block;
    width: $logo-width/1.2;
    height: $logo-height/1.2;
    margin-bottom: $unit-small/1.2;
    background: transparent url('../img/svg/glasses.svg') 50% 50% no-repeat;
    background-size: contain;
    transform: rotate(-10deg);
    transition: transform $global-transition;

    @include mq(medium) {
      width: $logo-width;
      height: $logo-height;
    }
  }

  .c-logo__label {
    @include font-size(14px);
    font-family: $font-primary;
    font-weight: $font-bold;
    text-transform: uppercase;

    @include mq(medium) {
      @include font-size(16px);
    }
  }

.c-nerdlab {
  font-family: $font-primary;
  font-weight: $font-bold;
}

.c-logo-vlaanderen {
  display: block;
  width: 150px;
  margin-top: $unit;

  @include mq(small) {
    width: 150px;
    margin-top: 0;
  }

  @include mq(medium) {
    width: 180px;
  }
}
