# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY="X93dJw6xAh76MVY0qKCdhGwj5EGaws8h"

# Database
DB_PORT="3306"
DB_DRIVER="mysql"
DB_HOST="db"
DB_USER="db"
DB_PASSWORD="db"
DB_NAME="db"
DB_SCHEMA="public"
DB_TABLE_PREFIX=""

CRAFT_DB_PORT="3306"
CRAFT_DB_SERVER="db"
CRAFT_DB_USER="db"
CRAFT_DB_DATABASE="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_TABLE_PREFIX=""
CRAFT_DB_DRIVER="mysql"

CRAFT_DB_CHARSET="utf8mb3"
CRAFT_DB_COLLATION="utf8mb3_general_ci"
CRAFT_WEB_ROOT="/var/www/html/web"

# Vite
USE_VITE_DEV_SERVER=1

# Variables
PRIMARY_SITE_URL="https://nerdlab.ddev.site"
ASSET_BASE_PATH = "/data"
ASSET_PUBLIC_PATH = "/data"

# Mailpit
MAILPIT_SMTP_PORT="1025"
MAILPIT_SMTP_HOSTNAME="127.0.0.1"





