{#
 # Project detail
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="o-row-intro">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--large o-layout--spacer">
      <div class="o-layout__item u-1/2@large">
        {# Breadcrumb #}
        <p class="c-breadcrumb">
          <a href="/{{ craft.app.request.getSegment(1) }}/{{ craft.app.request.getSegment(2) }}" alt="{{ craft.app.request.getSegment(2) |capitalize }}" class="c-breadcrumb__link">
            {% include '_tools/tools.icon.html' with { options: { icon: 'back' } } %}{{ craft.app.request.getSegment(2) |capitalize }}
          </a>
        </p>
        {# Page title #}
        <h1 class="c-h1">{{ entry.title }}</h1>
        {# Intro #}
        {% include '_components/components.intro.html' %}
      </div>
    </div>
  </div>
</div>

{# Workshops #}
{% include '_components/components.workshops-related.html' %}
{% endblock %}
