///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.





// Page-level constraining and wrapping elements.

$inuit-wrapper-width: 860px;
$inuit-wrapper-width-tiny: 320px;
$inuit-wrapper-width-small: 600px;
$inuit-wrapper-width-large: 1200px;
$inuit-wrapper-width-huge: 1400px;
$inuit-wrapper-breakpoint: medium !default;





// Breakpoints (https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.necmuodfd)

$mq-breakpoints: (
  small:  600px,
  medium:  900px,
  large: 1200px,
  xlarge: 1400px,
  huge: 1800px
);

// $mq-show-breakpoints: (small, medium, large, huge);





// Font styles

$inuit-font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$inuit-font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$inuit-font-weight-light: 300;
$inuit-font-weight-regular: 400;
$inuit-font-weight-bold: 600;
$inuit-font-weight-black: 700;




// Heading sizes

$inuit-font-size-huge: 72px;
$inuit-font-size-h1: 54px;
$inuit-font-size-h2: 42px;
$inuit-font-size-h3: 30px;
$inuit-font-size-h4: 24px;
$inuit-font-size-h5: 21px;
$inuit-font-size-h6: 18px;





// Standardise some UI treatments.
$global-radius: 44px;
$global-transition: (1/5) + s;
$btn-ghost-border-width: 2px;





// Z-indexes
$z-index-alpha: 1;
$z-index-beta: 2;
$z-index-gamma: 3;





// Crops & ratio's: a list of cropping ratios that get generated as modifier classes.

$inuit-crops: (
  (1:1),
  (2:1),
  (4:3),
  (16:9),
);

$inuit-ratios: (
  (2:1),
  (4:3),
  (16:9),
  (21:10),
);





// Width utilities

$inuit-fractions: 1 2 3 4 5 6;
$inuit-offsets: true;
$inuit-widths-delimiter: \/;
$inuit-widths-breakpoint-separator: \@;





// Spacing utilities

$inuit-spacing-directions: (
  null: null,
  '-top': '-top',
  '-right': '-right',
  '-bottom': '-bottom',
  '-left': '-left',
);

$inuit-spacing-properties: (
  'padding': 'padding',
  'margin': 'margin',
);

$inuit-spacing-sizes: (
  null: $inuit-global-spacing-unit,
  '-tiny': $inuit-global-spacing-unit-tiny,
  '-small': $inuit-global-spacing-unit-small,
  '-large': $inuit-global-spacing-unit-large,
  '-huge': $inuit-global-spacing-unit-huge,
  '-none': 0
);
