// ==================================
// #COLORS
// ==================================

// Tint & shade helper functions (http://bourbon.io/docs/#tint-shade)

// Makes a color lighter
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Makes a color darker
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}





// Base colors inspired by clrs.cc by @mrmrs_
$navy                       : #001F3F;
// $blue                       : #0000FF;
$blue                       : shade(#3741F9,5);
$aqua                       : #7FDBFF;
$teal                       : #39CCCC;
$olive                      : #3D9970;
$green                      : #2ECC40;
$lime                       : #01FF70;
$yellow                     : #FFE100;
$orange                     : #FF851B;
// $red                        : #DF0000;
$red                        : #DF0000;
$fuchsia                    : #f268e5;
$purple                     : #B10DC9;
$maroon                     : #85144B;

$white                      : #FFFFFF;
$silver                     : #DDDDDD;
$gray                       : #202226;
$black                      : #202226;
$brown											: #372b1d;





// Brand colors

$color-neutral              : $gray;
$color-neutral-xxlight      : tint($color-neutral,93%);
$color-neutral-xlight       : tint($color-neutral,85%);
$color-neutral-light        : tint($color-neutral,30%);
$color-neutral-dark         : shade($color-neutral,60%);

$color-primary              : $fuchsia;
$color-primary-xlight       : tint($color-primary,80);
$color-primary-light        : tint($color-primary,20);
$color-primary-dark         : shade($color-primary,20);

$color-secondary            : $brown;
$color-secondary-xxlight    : tint($color-secondary,90);
$color-secondary-xlight     : tint($color-secondary,80);
$color-secondary-light      : tint($color-secondary,20);
$color-secondary-dark       : shade($color-secondary,20);

$color-tertiary             : $black;
$color-tertiary-xlight      : tint($color-tertiary,80);
$color-tertiary-light       : tint($color-tertiary,20);
$color-tertiary-dark        : shade($color-tertiary,20);
$color-tertiary-xdark       : shade($color-tertiary,40);



// UI colors

$color-success              : $green;
$color-success-light        : tint($color-success,10%);
$color-success-dark         : shade($color-success,10%);

$color-error                : $red;
$color-error-light          : tint($color-error,10%);
$color-error-dark           : shade($color-error,10%);

$color-notice               : $orange;
$color-notice-light         : tint($color-notice,10%);
$color-notice-dark          : shade($color-notice,10%);
