{#
 # IoT
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="c-row c-row--md">
  <div class="o-container">
    <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
      <div class="o-grid__item u-1-of-2-bp5">
        <div class="s-content u-max-width-md">
          <div class="c-typo-lead">
              <h2 id="the-interface-of-things">The interface of things</h2>

<p>Nee, geen typo. We gaan wel degelijk op zoek naar de interFACE van dingen. Smartphone, SmartTV en natuurlijk de spammende frigo hebben we in huis. Maar hoe zit het met persoonlijkheid van een stoel of de kritische mening van je huisdier? We prutsen, denken en maken onze eigen versie van hoe wij met dingen zouden moeten converseren.</p>

<p>Verwacht je aan wekelijkse workshops, talks, een hackathon, drank en veel fun.</p>

          </div>
        </div>
      </div>
      <div class="o-grid__item u-1-of-2-bp5 u-divider-mobile">
        <div class="s-content u-max-width-md">





















<article class="s-content o-media">
    <p class="u-mb-alpha u-faded">
      Maandag 5 maart 2018
    </p>
    <h2 class="u-ms0 u-mb-beta">

      <a href="https://www.facebook.com/events/323018868190677/">

          Chatbots

      </a>

    </h2>


    <div class="s-content u-max-width-md">
      <p>
        Deze robots hebben geen lichaam maar wel een stem en een brein. Hun evolutionaire status is al lang voorbij  de basic Tamagotchi maar heeft nog lang geen menselijke schijn als Samantha uit Her. We ontwerpen zelf een persoonlijkheid en bouwen een Facebook chatbot.  <a href="https://www.facebook.com/events/323018868190677/">Meer info</a>
      </p>
    </div>

</article>











<article class="s-content o-media">
    <p class="u-mb-alpha u-faded">
      Maandag 12 maart 2018
    </p>
    <h2 class="u-ms0 u-mb-beta">

      <a href="https://www.facebook.com/events/225486244661901/">

          Arduino thinking

      </a>

    </h2>


    <div class="s-content u-max-width-md">
      <p>
        Automatisch Febrèze spuiten als een stoel het plots warm krijgt of je schoonvader SMS’en als het laatste blad van de eikenboom is gevallen. Dagelijkse toepassingen met een eenvoudig stukje electronica, we verklappen alle geheimen.  <a href="https://www.facebook.com/events/225486244661901/">Meer info</a>
      </p>
    </div>

</article>







<article class="s-content o-media">
    <p class="u-mb-alpha u-faded">
      Maandag 19 maart 2018
    </p>
    <h2 class="u-ms0 u-mb-beta">

      <a href="https://www.facebook.com/events/189704321774737/">

          Design thinking

      </a>

    </h2>


    <div class="s-content u-max-width-md">
      <p>
        Dé manier om heel complexe problemen op te delen en een veel oplossingen te vinden. Zo brengen we Kim Jung Un op andere gedachten en helpen we cash geld de wereld uit. Uiteindelijk gaan we op zoek naar hoe we moeten communiceren met een stoel.  <a href="https://www.facebook.com/events/189704321774737/">Meer info</a>
      </p>
    </div>

</article>







<article class="s-content o-media">
    <p class="u-mb-alpha u-faded">
      Maandag 26 maart 2018
    </p>
    <h2 class="u-ms0 u-mb-beta">

      <a href="https://www.facebook.com/events/140869936605541/">

          Sensory Thinking

      </a>

    </h2>


    <div class="s-content u-max-width-md">
      <p>
        Je kan met een parkeersensor meten of de koffie bijna op is, maar ook een krokodillenval. We spelen met alle mogelijk sensoren en kijken welke data we er kunnen uithalen. Wie wil geen bananenkleursensor zelf kunnen maken?  <a href="https://www.facebook.com/events/140869936605541/">Meer info</a>
      </p>
    </div>

</article>






        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-row u-pt-0 u-pl-0 u-pr-0 u-bgcolor-neutral-xxxxx-light u-z-delta">
  <div class="p-slick-theme js-gallery">

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/IMG_7410.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/IMG_20170321_204123.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/stoel.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/IMG_20180108_161243.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/IMG_20161207_192952.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/1_0M9YwVeaWsUTo8BKWd4Rqw.jpeg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/IMG_20170111_192414.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/home-3.jpg" alt="Lab">
        </div>
      </div>

  </div>
{% endblock %}
