{#
 # Virtual reality
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="c-row c-row--md">
  <div class="o-container">
    <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
      <div class="o-grid__item u-1-of-2-bp6">
        <div class="s-content u-max-width-md">
          <div class="c-typo-lead">
            <p>Tijd om stevig aan de slag te gaan met <strong>VR</strong>? Goesting om in bende aan een voorstelling te bouwen? Dan is het tijd voor <strong>STOOM</strong>!</p>

          </div>
          <p>Een jaar lang experimenteren we wel een dansgroep en VR. Met alle gevolgen van dien. We hebben plaats voor 20 jonge makers van allerlei pluimage om mee te leren, te spelen en te bouwen aan een 360° film en interactieve beleving.
Wij zorgen voor de strafste docenten en de meest frisse pintjes.</p>

<p>Wil je het programma kennen en zien hoe eenvoudig het is om in te schrijven?</p>

          <p>
            <a href="http://stoom.nerdlab.be/" class="c-button c-button--lg c-button--alpha">
                Data & inschrijvingen
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-row u-pt-0 u-pl-0 u-pr-0 u-bgcolor-neutral-xxxxx-light u-z-delta">
  <div class="p-slick-theme js-gallery">

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/BYOBGent_(c)VickyBogaert047.JPG" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/17661729_1857369777856224_8186121225664200704_n%20(1).jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/BYOBGent_(c)VickyBogaert079.JPG" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/16716085_1352841584737407_8649567043175026796_o.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/IMG_0622_web%20(c)%20Michiel%20Devijver.jpg" alt="Lab">
        </div>
      </div>

      <div class="p-slick-theme__img">
        <div class="o-crop">
          <img class=" o-crop__content" src="/assets/img/uploads/machien-4.jpg" alt="Lab">
        </div>
      </div>

  </div>
{% endblock %}
