{# {% include '_components/components.content-related-pages' %} #}

<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor">
       <h2>Related pages</h2>
    </div>
  </div>
</div>
