{# {% include '_components/components.content-form' %} #}

<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor">
      <h2>Form</h2>
    </div>
  </div>
</div>
