{#
  Map
  ================
#}

{#
  {% include '_components/components.map.html' %}
#}

{# -- Module -- #}
<div class="c-map">
  <div id="osm-map" class="c-map__background gmap"></div>
  <div class="c-map__content">
    <p class="s-editor">
      {{ interface.address }}
    </p>
  </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
<script>
  // Where you want to render the map.
  var element = document.getElementById('osm-map');

  // Create Leaflet map on map element.
  var map = L.map(element,
    { zoomControl:false }
  );

  // Add OSM tile leayer to the Leaflet map.
  L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
  }).addTo(map);

  // Target's GPS coordinates.
  var target = L.latLng('{{ entry.googleMap.lat }}', '{{ entry.googleMap.lng }}');

  // Set map's center to target with zoom 14.
  map.setView(target, 14);

  map.scrollWheelZoom.disable();
  map.dragging.disable();


  L.circle([{{ entry.googleMap.lat }}, {{ entry.googleMap.lng }}], {
    radius: (50),
    color: "#F33",
    fill: false
  }).addTo(map);

</script>

{# <script>
  function initMap() {
    (function initMap() {
      var mapLatlng = new google.maps.LatLng({{ entry.googleMap.lat }},{{ entry.googleMap.lng }});
      var myLatlng = new google.maps.LatLng({{ entry.googleMap.lat }},{{ entry.googleMap.lng }});
      var dragging = true;

      var mapTheme = [
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#323233"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
                "visibility": "on"
            },
            {
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#fafafc"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#fafafc"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f2f2f5"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f2f2f5"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dedee1"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f0f0f2"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e6e6e8"
            },
            {
              "lightness": 17
            }
          ]
        }
      ];

      var mapOptions = {
        zoom: 15,
        center: mapLatlng,
        disableDefaultUI: true,
        scrollwheel: false,
        draggable: dragging,
        draggableCursor: 'default',
        draggingCursor: 'move',
        styles: mapTheme
      };

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: '{{ siteName }}',
        icon: {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 10,
          strokeWeight: 2,
          strokeColor: '#FF0000',
          fillColor: '#FF0000'
        }
      });

      var contentString =
        '{{ interface.address }}';

      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      if(document.getElementById('map')) {
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        marker.setMap(map);
      }
    })();
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ craft.simpleMap.getMapToken() }}&callback=initMap" async defer></script>  #}
