<div class="cd-schedule cd-schedule--short loading">
  
      {% set programElements = craft.entries.section('mutationProgramDetails').all() %}
      {% set filteredElements = programElements|filter(item => item.programDate == day) %}
      {% set sortedProgramElements = filteredElements|sort((a, b) => a.programType <=> b.programType) %}
      {% set sortedProgramElements = sortedProgramElements|sort((a, b) => a.hourEnd|date('H:i') <=> b.hourEnd|date('H:i')) %}

      {% set sortedProgramElements = sortedProgramElements|sort((a, b) => a.hourStart|date('H:i') <=> b.hourStart|date('H:i')) %}
      {% set reindexed = sortedProgramElements|merge([]) %}
      {% for index, item in reindexed %}
        {% if loop.first or item.hourStart|date('H') != reindexed[index - 1].hourStart|date('H') %}
        {# Debugging output to show properties of the elements #}
      
          <div class="cd-schedule__timeline">
            <span>{{ item.hourStart|date('H:i') }}</span>
          </div>
        {% endif %}
                      {% include '_components/components.timetable-entry.twig' %}

      {% endfor %}
</div>


