{#
  Portfolio
  ================
#}

{#
  {% include '_components/components.portfolio.html' with { options: { tag: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  tag: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}
{% paginate craft.entries.section('portfolio').limit(20) as pageInfo, pageEntries %}

{% for portfolio in pageEntries %}
{% for item in portfolio.tags.all() %}
{% set currentTags = item %}
{% if currentTags == options.tag %}
<div class="o-row-large u-padding-top-none u-alternate">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout">
      <div class="o-layout__item ">
        <div class="o-layout u-alternate__layout">
          <div class="o-layout__item u-1/2@medium">
            {% for item in portfolio.projectHeader.limit(1).all() %}
            <div class="o-crop o-crop--1:1 u-margin-bottom-small">
              <img
                class="o-crop__content lazyload fade-in"
                src="{{ item.url(thumb) }}"
                data-sizes="auto"
                data-srcset="{{ item.url(small) }} 240w,
                             {{ item.url(medium) }} 401w,
                             {{ item.url(large) }} 601w"
                alt="{{ item.title }}">
            </div>
            {% endfor %}
          </div>
          <div class="o-layout__item u-1/2@medium">
            <div class="s-editor s-editor--small">
              {% for item in portfolio.projectHeader.limit(1).offset(1).all() %}
              <div class="o-crop o-crop--16:9 u-margin-bottom">
                <img
                  class="o-crop__content o-crop__content--center lazyload fade-in"
                  src="{{ item.url(thumb) }}"
                  data-sizes="auto"
                  data-srcset="{{ item.url(small) }} 240w,
                               {{ item.url(medium) }} 401w,
                               {{ item.url(large) }} 601w"
                  alt="{{ item.title }}">
              </div>
              {% endfor %}
              <h3 class="c-h3 u-margin-bottom-small">
                {{ portfolio.title }}
              </h3>
              {% set intro = portfolio.intro.all() %}
              {% for block in intro %}
              {% switch block.type %}
              {% case "introParagraph" %}
                {{ block.introParagraph }}
              {% endswitch %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
