{#
  Formula
  ================
#}

{#
  {% include '_components/components.formula.html' %}
#}

{# -- Module -- #}
{% set formula = entry.formula.all() %}
{% for block in formula %}
<div class="o-row-large c-illustration u-border-top">
  <div class="o-wrapper o-wrapper--huge c-background__body">
    <div class="o-layout o-layout--middle{{ cycle([' o-layout--reverse', ''], loop.index0) }}">
      <div class="o-layout__item u-1/2@medium">
        <div class="c-content c-content--small">
          <h2 class="c-h2 u-margin-bottom-small">{{ block.heading }}</h2>
          {{ block.body }}
          <p>
            <a href="{{ block.linkHref }}" class="">
              {{ block.linkText }}
            </a>
          </p>
        </div>
      </div>
      {% if block.video | length() %}
      <div class="o-layout__item u-1/2@medium">
        <div class="o-ratio o-ratio--16:9 u-margin-bottom u-margin-top">
          <iframe src="https://www.youtube.com/embed/{{ block.video }}" class="o-ratio__content" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% if block.video | length() %}
  {% else %}
  <div class="{{ cycle(['c-illustration__left', 'c-illustration__right'], loop.index0) }}">
    {% for item in block.image.limit(1).all() %}
      <img
        class="lazyload fade-in"
        src="{{ item.url(thumb) }}"
        data-sizes="auto"
        data-srcset="{{ item.url() }} 301w"
        alt="{{ item.title }}">
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endfor %}
