{% set storeHours = entry.storeHours[1:]|merge(entry.storeHours[0:1]) %}
{#
  Openingsuren
  ================
#}

{#
  {% include '_components/components.hours.html' %}
#}

{# -- Module -- #}
<div class="c-hours s-editor ">
  <h2>Openingsuren</h2>
  <ul class="o-list-bare c-hours__list">
    {% for day in storeHours %}
    <li>
      <strong>{{ day.name | capitalize }}:</strong>
      {% if day.isBlank %}
        Gesloten
      {% else %}
        {{ day.open|time('H:i') }} - {{ day.close|time('H:i') }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
