{#
  Agenda
  ================
#}

{#
  {% include '_components/components.agenda-overview.html' with { options: { layout: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  layout: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}
{% set pageEntries = craft.entries.section('events').orderBy('date asc') %}

<div class="o-row-large u-border-top c-illustration">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout">
      <div class="o-layout__item u-1/2@medium u-push-1/2@medium">
        <h2 class="c-h2">{{ labels.labelUpcomingEvent }}</h2>
        {% include '_components/components.agenda-overview.html' %}
      </div>
    </div>
  </div>
  <div class="c-illustration__left-center">
    <img
      src="/assets/images/jpg/agenda-alt-thumb.jpg" alt="agenda-illustration" data-src="/assets/images/jpg/agenda-alt.jpg" class="lazyload fade-in">
  </div>
</div>
