{#
  Related: Blog
  ======================
#}

{#
  {% include '_components/components.blog-related.html' %}
#}

{# -- Module -- #}
<h2 class="c-lead">Related</h2>
<ul class="o-list-bare">
  {% set entries = craft.entries.section('blog') %}
  {% set params = craft.entries.section('blog') %}
  {% set prevEntry = entry.getPrev(params) %}
  {% set nextEntry = entry.getNext(params) %}

  {% if nextEntry %}
    <li class="o-list-bare__item u-spacer">
      <article class="c-card js-link-expand-holder">
        <div class="o-layout o-layout--flush">
          <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large">
            <div class="c-card__image c-card__image--full">
            {% for image in nextEntry.image.all() %}
              <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                <img
                  class="o-crop__content o-crop__content--center lazyload fade-in"
                  src="{{ image.url(thumb) }}"
                  data-srcset="{{ image.url(large) }}"
                  alt="{{ image.title }}">
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
            <div class="o-box c-card__body">
              {# <p class="c-faded u-margin-bottom-none">
                {{ nextEntry.postDate | date('l d F Y') }}
              </p> #}
              {% for block in nextEntry.mutationAbout.all() %}
              {% switch block.type %}
              {% case "heading" %}
              <h2 class="c-subtitle"><a href="{{ nextEntry.url }}" class="c-link c-link--title js-link-expand__target">{{ block.heading | raw }}</a></h2>
              {% case "paragraph" %}
              <div class="s-editor">
                {{ block.paragraph }}
              </div>
              {% endswitch %}
              {% endfor %}
              <p class="c-para u-margin-top u-margin-bottom-none">
                <span class="c-link c-link--none js-link-expand">
                  {{ "More" | t }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </article>
    </li>
  {% else %}
    {% for block in entries.all() %}
      {% if loop.first %}
        <li class="o-list-bare__item u-spacer">
          <article class="c-card js-link-expand-holder">
            <div class="o-layout o-layout--flush">
              <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large">
                <div class="c-card__image c-card__image--full">
                {% for image in block.image.all() %}
                  <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                    <img
                      class="o-crop__content o-crop__content--center lazyload fade-in"
                      src="{{ image.url(thumb) }}"
                      data-srcset="{{ image.url(large) }}"
                      alt="{{ image.title }}">
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
                <div class="o-box c-card__body">
                  {# <p class="c-faded u-margin-bottom-none">
                    {{ block.postDate | date('l d F Y') }}
                  </p> #}
                  {% for item in block.mutationAbout.all() %}
                  {% switch item.type %}
                  {% case "heading" %}
                  <h2 class="c-subtitle"><a href="{{ block.url }}" class="c-link c-link--title js-link-expand__target">{{ item.heading | raw }}</a></h2>
                  {% case "paragraph" %}
                  <div class="s-editor">
                    {{ item.paragraph }}
                  </div>
                  {% endswitch %}
                  {% endfor %}
                  <p class="c-para u-margin-top u-margin-bottom-none">
                    <span class="c-link c-link--none js-link-expand">
                      {{ "More" | t }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if prevEntry %}
    <li class="o-list-bare__item u-spacer">
      <article class="c-card js-link-expand-holder">
        <div class="o-layout o-layout--flush">
          <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large">
            <div class="c-card__image c-card__image--full">
            {% for image in prevEntry.image.all() %}
              <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                <img
                  class="o-crop__content o-crop__content--center lazyload fade-in"
                  src="{{ image.url(thumb) }}"
                  data-srcset="{{ image.url(large) }}"
                  alt="{{ image.title }}">
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
            <div class="o-box c-card__body">
              {# <p class="c-faded u-margin-bottom-none">
                {{ prevEntry.postDate | date('l d F Y') }}
              </p> #}
              {% for block in prevEntry.mutationAbout.all() %}
              {% switch block.type %}
              {% case "heading" %}
              <h2 class="c-subtitle"><a href="{{ prevEntry.url }}" class="c-link c-link--title js-link-expand__target">{{ block.heading | raw }}</a></h2>
              {% case "paragraph" %}
              <div class="s-editor">
                {{ block.paragraph }}
              </div>
              {% endswitch %}
              {% endfor %}
              <p class="c-para u-margin-top u-margin-bottom-none">
                <span class="c-link c-link--none js-link-expand">
                  {{ "More" | t }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </article>
    </li>

  {% else %}
    {% for block in entries.all() %}
    {% if loop.last %}
      <li class="o-list-bare__item u-spacer">
        <article class="c-card js-link-expand-holder">
          <div class="o-layout o-layout--flush">
            <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large">
              <div class="c-card__image c-card__image--full">
              {% for image in block.image.all() %}
                <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                  <img
                    class="o-crop__content o-crop__content--center lazyload fade-in"
                    src="{{ image.url(thumb) }}"
                    data-srcset="{{ image.url(large) }}"
                    alt="{{ image.title }}">
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
              <div class="o-box c-card__body">
                {# <p class="c-faded u-margin-bottom-none">
                  {{ block.postDate | date('l d F Y') }}
                </p> #}
                {% for item in block.mutationAbout.all() %}
                {% switch item.type %}
                {% case "heading" %}
                <h2 class="c-subtitle"><a href="{{ block.url }}" class="c-link c-link--title js-link-expand__target">{{ item.heading | raw }}</a></h2>
                {% case "paragraph" %}
                <div class="s-editor">
                  {{ item.paragraph }}
                </div>
                {% endswitch %}
                {% endfor %}
                <p class="c-para u-margin-top u-margin-bottom-none">
                  <span class="c-link c-link--none js-link-expand">
                    {{ "More" | t }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </article>
      </li>
    {% endif %}
    {% endfor %}
  {% endif %}
</ul>
