{# {% include '_components/components.content-quote' %} #}

<div class="o-row-large u-border-top">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor s-editor--quote">
      <blockquote>
        <p>{{ block.quote }}</p>
        <footer>
          {{ block.author }}
        </footer>
      </blockquote>
    </div>
  </div>
</div>

