{#
  Agenda
  ================
#}

{#
  {% include '_components/components.agenda-overview.html' with { options: { layout: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  layout: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}
{% set pageEntries = craft.entries.section('events').orderBy('date asc') %}

{% for entry in pageEntries.all() %}
{% if entry.date|date('Ymd') >= now|date('Ymd') %}
<article class="u-divider-small">
  {% if entry.customDate | length() %}
  <p class="c-faded u-margin-bottom-tiny">
    {{ entry.customDate | upper }}
  </p>
  {% else %}
  <p class="c-faded u-margin-bottom-tiny">
    {{ entry.date |date('l d F Y') }}
  </p>
  {% endif %}
  <div class="s-editor s-editor--small">
    <h2 class="c-h3 c-h3--highlight u-margin-bottom-small">
      {% if entry.eventURL | length %}
      <a href="{{ entry.eventURL }}">
        {{ entry.title }}
      </a>
      {% else %}
      {{ entry.title }}
      {% endif %}
    </h2>
    {% for block in entry.body.all() %}
    {% switch block.type %}
    {% case "lead" %}
    {{ block.lead }}
    {% endswitch %}
    {% endfor %}
    {% if entry.eventURL | length %}
    <p>
      <a href="{{ entry.eventURL }}">{{ labels.labelMoreInfo }}</a>
    </p>
    {% endif %}
  </div>
</article>
{% else %}
{% if loop.last %}
<p class="c-faded">
  {{ labels.labelNoEvents }}
</p>
{% endif %}
{% endif %}
{% endfor %}
