{#
  Related: Blog
  ======================
#}

{#
  {% include '_components/components.blog-related.html' %}
#}

{# -- Module -- #}
<div class="o-row-large u-padding-bottom-huge c-theme-primary-tint">
  <div class="o-wrapper o-wrapper--huge">
    <ul class="o-list-bare">
      {% set entries = craft.entries.section('mutationBlogDetail') %}
      {% set params = craft.entries.section('mutationBlogDetail').orderBy('lft desc') %}
      {% set prevEntry = entry.getPrev(params) %}
      {% set nextEntry = entry.getNext(params) %}

      {% if nextEntry %}
        <li class="o-list-bare__item u-divider">
          <article class="c-card c-card--link js-link-expand-holder">
            <div class="o-layout o-layout--small">
              <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large u-padding-bottom u-padding-bottom-none@small">
                <div class="c-card__image">
                {% for image in nextEntry.image.all() %}
                  <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                    <img
                      class="o-crop__content o-crop__content--center lazyload fade-in"
                      src="{{ image.url(thumb) }}"
                      data-srcset="{{ image.url(large) }}"
                      alt="{{ image.title }}">
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
                <div class="c-card__body s-editor u-mw">
                  {% for block in nextEntry.mutationAbout.all() %}
                  {% switch block.type %}
                  {% case "heading" %}
                  <h2 class="c-subtitle"><a href="{{ nextEntry.url }}" class="c-link c-link--bare js-link-expand__target">{{ block.heading | raw }}</a></h2>
                  {% case "editor" %}
                    {{ block.editor }}
                  {% case "paragraph" %}
                  {{ block.paragraph }}
                  {% endswitch %}
                  {% endfor %}
                  <p class="u-margin-top u-margin-bottom-none">
                    <span class="c-link c-link--none js-link-expand">
                      {{ "More" | t }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </li>
      {% else %}
        {% for block in entries.all() %}
          {% if loop.last %}
            <li class="o-list-bare__item u-divider">
              <article class="c-card c-card--link js-link-expand-holder">
                <div class="o-layout o-layout--small">
                  <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large u-padding-bottom u-padding-bottom-none@small">
                    <div class="c-card__image">
                    {% for image in block.image.all() %}
                      <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                        <img
                          class="o-crop__content o-crop__content--center lazyload fade-in"
                          src="{{ image.url(thumb) }}"
                          data-srcset="{{ image.url(large) }}"
                          alt="{{ image.title }}">
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
                    <div class="c-card__body s-editor u-mw">
                      {% for item in block.mutationAbout.all() %}
                      {% switch item.type %}
                      {% case "heading" %}
                      <h2 class="c-subtitle"><a href="{{ block.url }}" class="c-link c-link--bare js-link-expand__target">{{ item.heading | raw }}</a></h2>
                      {% case "editor" %}
                        {{ item.editor }}
                      {% case "paragraph" %}
                      {{ item.paragraph }}
                      {% endswitch %}
                      {% endfor %}
                      <p class="u-margin-top u-margin-bottom-none">
                        <span class="c-link c-link--none js-link-expand">
                          {{ "More" | t }}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}


      {% if prevEntry %}
        <li class="o-list-bare__item u-divider">
          <article class="c-card c-card--link js-link-expand-holder">
            <div class="o-layout o-layout--small">
              <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large u-padding-bottom u-padding-bottom-none@small">
                <div class="c-card__image">
                {% for image in prevEntry.image.all() %}
                  <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                    <img
                      class="o-crop__content o-crop__content--center lazyload fade-in"
                      src="{{ image.url(thumb) }}"
                      data-srcset="{{ image.url(large) }}"
                      alt="{{ image.title }}">
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
                <div class="c-card__body s-editor u-mw">
                  {% for block in prevEntry.mutationAbout.all() %}
                  {% switch block.type %}
                  {% case "heading" %}
                  <h2 class="c-subtitle"><a href="{{ prevEntry.url }}" class="c-link c-link--bare js-link-expand__target">{{ block.heading | raw }}</a></h2>
                  {% case "editor" %}
                    {{ block.editor }}
                  {% case "paragraph" %}
                  {{ block.paragraph }}
                  {% endswitch %}
                  {% endfor %}
                  <p class="u-margin-top u-margin-bottom-none">
                    <span class="c-link c-link--none js-link-expand">
                      {{ "More" | t }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </li>

      {% else %}
        {% for block in entries.all() %}
        {% if loop.first %}
          <li class="o-list-bare__item u-divider">
            <article class="c-card c-card--link js-link-expand-holder">
              <div class="o-layout o-layout--small">
                <div class="o-layout__item u-1/3@small u-1/4@medium u-1/3@large u-padding-bottom u-padding-bottom-none@small">
                  <div class="c-card__image">
                  {% for image in block.image.all() %}
                    <div class="o-crop o-crop--4:3 c-image-link js-link-expand">
                      <img
                        class="o-crop__content o-crop__content--center lazyload fade-in"
                        src="{{ image.url(thumb) }}"
                        data-srcset="{{ image.url(large) }}"
                        alt="{{ image.title }}">
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="o-layout__item u-2/3@small u-3/4@medium u-2/3@large">
                  <div class="c-card__body s-editor u-mw">
                    {% for item in block.mutationAbout.all() %}
                    {% switch item.type %}
                    {% case "heading" %}
                    <h2 class="c-subtitle"><a href="{{ block.url }}" class="c-link c-link--bare js-link-expand__target">{{ item.heading | raw }}</a></h2>
                    {% case "editor" %}
                      {{ item.editor }}
                    {% case "paragraph" %}
                    {{ item.paragraph }}
                    {% endswitch %}
                    {% endfor %}
                    <p class="u-margin-top u-margin-bottom-none">
                      <span class="c-link c-link--none js-link-expand">
                        {{ "More" | t }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </li>
        {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
