{#
  Agenda
  ================
#}

{#
  {% include '_components/components.agenda-archive.html' with { options: { layout: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  layout: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}
{% paginate craft.entries.section('events').orderBy('date desc').limit(7) as paginate, pageEntries %}

{% for entry in pageEntries if entry.date|date('Ymd') <= now|date('Ymd') %}
<article class="u-divider-small">
  {% if entry.customDate | length() %}
  <p class="c-faded u-margin-bottom-tiny">
    {{ entry.customDate | upper }}
  </p>
  {% else %}
  <p class="c-faded u-margin-bottom-tiny">
    {{ entry.date |date('l d F Y') }}
  </p>
  {% endif %}
  <div class="c-content c-content--small">
    <h2 class="c-h3 c-h3--highlight u-margin-bottom-small">
      {% if entry.eventURL | length %}
      <a href="{{ entry.eventURL }}">
        {{ entry.title }}
      </a>
      {% else %}
      {{ entry.title }}
      {% endif %}
    </h2>
    {% for block in entry.body.all() %}
    {% switch block.type %}
    {% case "lead" %}
    {{ block.lead }}
    {% endswitch %}
    {% endfor %}
    {% if entry.eventURL | length %}
    <p>
      <a href="{{ entry.eventURL }}">{{ labels.labelMoreInfo }}</a>
    </p>
    {% endif %}
  </div>
</article>
{% else %}
{% if loop.last %}
<p class="c-faded">
  {{ labels.labelNoEvents }}
</p>
{% endif %}
{% endfor %}
{# Build pagination interface if more than 1 page #}
{% if paginate.totalPages > 1 %}
<ul class="o-list-bare c-pagination">
  {% if paginate.prevUrl %}
    <li class="o-list-bare__item c-pagination__item c-pagination__item--first"><a href="{{ paginate.prevUrl }}#archive" class="c-pagination__link">{% include '_tools/tools.icon.html' with { options: { icon: 'previous' } } %} <span>Vorige pagina</span></a></li>
  {% endif %}

  {% for page, url in paginate.getPrevUrls(2) %}
    <li class="o-list-bare__item c-pagination__item"><a href="{{ url }}#archive" class="c-pagination__link">{{ page }}</a></li>
  {% endfor %}

  <li class="o-list-bare__item c-pagination__item c-pagination__item--current">{{ paginate.currentPage }}</li>

  {% for page, url in paginate.getNextUrls(2) %}
    <li class="o-list-bare__item c-pagination__item"><a href="{{ url }}#archive"  class="c-pagination__link">{{ page }}</a></li>
  {% endfor %}

  {% if paginate.nextUrl %}
    <li class="o-list-bare__item c-pagination__item c-pagination__item--last"><a href="{{ paginate.nextUrl }}#archive"  class="c-pagination__link"><span>Volgende</span> {% include '_tools/tools.icon.html' with { options: { icon: 'next' } } %}</a></li>
  {% endif %}
</ul>
{% endif %}
