{#
 # Portfolio detail
 # ------------------------
-#}

{% extends "_layouts/nerdlab" %}

{% block main %}
<div class="o-row-intro">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--large o-layout--spacer">
      <div class="o-layout__item u-1/2@large">
        {# Intro #}
        <h1 class="c-h1">{{ entry.title }}</h1>
        {% include '_components/components.intro.html' %}
      </div>
      <div class="o-layout__item u-1/2@large">
        {# Agenda overview #}
        {% include '_components/components.agenda-filter.html' with { options: { tag: entry.title } } %}
      </div>
    </div>
  </div>
</div>

{# Gallery #}
<div class="o-row o-row-tiny">
  <div class="p-slick-theme js-gallery">
    {% for item in entry.projectHeader.all() %}
    <div class="p-slick-theme__img">
      <div class="o-crop o-crop--19:9">
        <img
          class="o-crop__content o-crop__content--center lazyload fade-in"
          src="{{ item.url(thumb) }}"
          data-sizes="auto"
          data-srcset="{{ item.url(small) }} 240w,
                       {{ item.url(medium) }} 401w,
                       {{ item.url(large) }} 601w,
                       {{ item.url(xlarge) }} 901w,
                       {{ item.url(huge) }} 1281w"
          alt="{{ item.title }}">
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{# Projects overview #}
{% include '_components/components.projects-overview-related.html' %}
{% endblock %}
