// ==================================
// #FONT
// ==================================

@font-face {
  font-family: 'Mutation';
  src: url('/assets/fonts/mutation/2024/QuattrocodeVF-Regular.ttf') format('opentype');
  font-weight: 600;
}

@font-face {
	font-family: 'GT-Flexa';
	src: url('/assets/fonts/mutation/2024/GT-Flexa-Standard-Medium.otf') format('opentype');
	font-weight: medium;
}

@font-face {
	font-family: 'GT-Flexa';
	src: url('/assets/fonts/mutation/2024/GT-Flexa-Standard-Regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'GT-Flexa-Compressed';
	src: url('/assets/fonts/mutation/2024/GT-Flexa-X-Compressed-Regular.otf') format('opentype');
	font-weight: light;
}
