/* ==================================
   #THEME
   ================================== */

.s-theme-white {
  color: $color-neutral-dark;
  background-color: $white;
}

.s-theme-neutral-xxlight {
  color: $color-neutral-dark;
  background-color: $color-neutral-xxlight;
}

.s-theme-primary {
  color: $white;
  background-color: $color-primary;
}

.c-color-primary {
  color: $white;
  background-color: $color-primary;
}

.c-color-secondary {
  color: $white;
  background-color: $color-secondary;
}

.c-color-white {
  color: $color-neutral-dark;
  background-color: $white;
}

.c-color-neutral {
  color: $color-neutral-dark;
  background-color: $color-neutral-light;
}

.c-color-black {
  color: $white;
  background-color: $black;
}
