{% assign cta = site.cta %}
{% for item in cta %}
  {% if item.title == page.CTA %}
    <div class="c-row c-row--md c-row--cta u-z-delta">
        <div class="c-background-image c-background-image--fallback" style="background-image: url('{{ site.baseurl }}{{ item.Video['Poster asset'] }}');"></div>
        <video class="c-background-video" autoplay loop muted preload="true">
            <source src="{{ site.baseurl }}{{ item.Video['webm asset'] }}" type="video/webm">
            <source src="{{ site.baseurl }}{{ item.Video['mp4 asset'] }}" type="video/mp4">
        </video>
        <p class="c-background-video__meta">
            {{ item.Meta }}
        </p>
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-flex">
                <div class="o-grid__item u-1-of-2-bp6">
                    <div class="u-max-width-md">
                        <div class="c-cta-lead u-color-neutral-xxxxx-light">
                            {{ item.Text | markdownify }}
                        </div>
                        <p>
                            <a href="{{ item.Button.Link }}" class="c-button c-button--lg c-button--cta">
                                {{ item.Button.Label }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endif %}
{% endfor %}
