{% assign content = item.content | strip_newlines %}
<article class="s-content o-media">
    <p class="u-mb-alpha u-faded">
      {{ item.when }}
    </p>
    <h2 class="u-ms0 u-mb-beta">
      {% if item.link != "" %}
      <a href="{{ item.link }}">
      {% endif %}
          {{ item.title }}
      {% if item.link != "" %}
      </a>
      {% endif %}
    </h2>

    {% if content != "" %}
    <div class="s-content u-max-width-md">
      <p>
        {{ content | strip_html }} {% if item.link != "" %} <a href="{{ item.link }}">Meer info</a>{% endif %}
      </p>
    </div>
    {% endif %}
</article>
