{% set subscribe = mutationGlobals.mutationSubscribe.all() %}
{% if subscribe | length() %}
<div class="o-row-large c-theme-primary-tint" id="subscribe">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout u-margin-bottom-large">
      <div class="o-layout__item u-2/3@medium">
        {% for item in subscribe %}
        {% switch item.type %}
        {% case "heading" %}
        <h2 class="c-section-title">
          {{ item.heading }}
        </h2>
        {% case "paragraph" %}
        <div class="c-editor c-editor--large c-editor--bold">
          {{ item.paragraph }}
        </div>
        {% endswitch %}
        {% endfor %}
      </div>
    </div>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://nerdlab.us6.list-manage.com/subscribe/post?u=26083caa15a40f691a214b23c&amp;id=dc6209d55c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="o-layout o-layout--small o-layout--bottom">
          <div class="mc-field-group o-layout__item u-2/3@medium">
            <label for="mce-EMAIL" class="c-label">{{ labels.labelEmailAddress }}</label>
            <div class="c-input-wrapper">
              <input type="email" value="" name="EMAIL" class="required email c-input" id="mce-EMAIL">
            </div>
          </div>
          <div class="clear o-layout__item u-1/3@medium">
            <button role="submit"  name="subscribe" id="mc-embedded-subscribe" class="button c-button c-button--negative">{{ labels.labelSubscribe }} {% include '_tools/tools.icon.html' with { options: { icon: 'forward' } } %}</button>
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
{% endif %}

{% set social = mutationGlobals.mutationSocial.all() %}
{% set partners = mutationGlobals.mutationPartners.all() %}
<div class="o-row-large c-theme-secondary">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--spacer">
      <div class="o-layout__item u-1/2@small u-1/3@medium u-1/4@large">
        {% for item in social %}
        {% switch item.type %}
        {% case "heading" %}
        <h2 class="c-section-title">
          {{ item.heading }}
        </h2>
        {% endswitch %}
        {% endfor %}
        <ul class="o-list-bare c-list">
        {% for item in social %}
        {% switch item.type %}
        {% case "socialLink" %}
        {% if item.href | length %}
        <li class="c-list__item">
          <a href="{{ item.href }}" class="c-link c-link--bare" target="_blank">{{ item.text }} {% include '_tools/tools.icon.html' with { options: { icon: 'forward' } } %}</a>
        </li>
        {% endif %}
        {% endswitch %}
        {% endfor %}
        </ul>
      </div>
      <div class="o-layout__item u-1/2@small u-1/3@medium u-1/4@large">
        {% for item in partners %}
        {% switch item.type %}
        {% case "heading" %}
        <h2 class="c-section-title">
          {{ item.heading }}
        </h2>
        {% endswitch %}
        {% endfor %}
        <ul class="o-list-bare c-list">
        {% for item in partners %}
        {% switch item.type %}
        {% case "partner" %}
        {% if item.href | length %}
        <li class="c-list__item">
          <a href="{{ item.href }}" class="c-link c-link--bare" target="_blank">{{ item.text }} {% include '_tools/tools.icon.html' with { options: { icon: 'forward' } } %}</a>
        </li>
        {% endif %}
        {% endswitch %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% set nerdlab = mutationGlobals.mutationNerdlab.all() %}
<div class="o-row-large c-theme-primary">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--reverse">
      <div class="o-layout__item u-4/5@small u-2/3@medium u-1/2@large">
        {% for item in nerdlab %}
        {% switch item.type %}
        {% case "heading" %}
        <h2 class="c-section-title">
          {{ item.heading }}
        </h2>
        {% endswitch %}
        {% endfor %}
        <div class="c-editor c-editor--medium c-editor--bold">
        {% for item in nerdlab %}
        {% switch item.type %}
        {% case "paragraph" %}
          {{ item.paragraph }}
        {% case "href" %}
        {% if item.href | length %}
        <p>
          <a href="{{ item.href }}" class="c-link">{{ item.text }}</a>
        </p>
        {% endif %}
        {% endswitch %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="o-row-large c-theme-neutral-light">
  <div class="o-wrapper o-wrapper--huge">
    <div class="c-footer">
      <img src="/assets/images/svg/vlaanderen-logo-light.svg" alt="Vlaanderen - verbeelding werkt" class="c-footer__logo">
      {% set conditions = craft.entries.section('conditions') %}
      {% set credits = craft.entries.section('siteCredits') %}
      {% set privacy = craft.entries.section('privacyStatement') %}
      {% set cookies = craft.entries.section('cookieStatement') %}
      <p class="c-small c-footer__text">©{{ 'now'|date('Y') }} Nerdlab, {% for page in conditions.all() %}<a href="{{ page.url }}" class="c-link">{{ page.title }}</a>{% endfor %}, {% for page in privacy.all() %}<a href="{{ page.url }}" class="c-link">{{ page.title }}</a>{% endfor %}, {% for page in cookies.all() %}<a href="{{ page.url }}" class="c-link">{{ page.title }}</a>{% endfor %}{% for item in credits.all() %} – <a href="{{ item.url }}" class="c-link">{{ item.title }}</a>{% endfor %}</p>
    </div>
  </div>
</footer>
