<section class="contact-page s-theme-tertiary s-theme-noise">
  <div class="c-marquee c-marquee--tertiary" aria-hidden="true">
    <div class="c-marquee__content" id="program">
      <span>Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours Opening Hours</span>
    </div>
  </div>
  <div class="o-wrapper o-wrapper--huge u-flexbox">
    {# <h2 class="c-mutation-title u-text-center">Updates</h2> #}
    <section class="o-list-bare u-flexbox u-spacer u-flex-row" id="opening-hours">
      <div class="o-openinghours__card o-openinghours__card--wintercircus">
        <div class="o-openinghours__overlay">
          <h3 class="o-openinghours__title">Wintercircus</h3>
          <p class="o-openinghours__address">Lammerstraat 13, 9000 Ghent</p>
          <ul class="o-openinghours__hours o-list-bare">
            <li>
              <span class="o-openinghours__date">Friday 22.11.2024</span>
              <span class="o-openinghours__time">10:00 - 20:00</span>
            </li>
            <li>
              <span class="o-openinghours__date">Saturday 23.11.2024</span>
              <span class="o-openinghours__time">10:00 - 06:00</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="o-openinghours__card o-openinghours__card--de-krook">
        <div class="o-openinghours__overlay">
          <h3 class="o-openinghours__title">De Krook</h3>
          <p class="o-openinghours__address">Miriam Makebaplein 1, 9000 Ghent</p>
          <ul class="o-openinghours__hours o-list-bare">
            <li>
              <span class="o-openinghours__date">Friday 22.11.2024</span>
              <span class="o-openinghours__time">10:00 - 18:00</span>
            </li>
            <li>
              <span class="o-openinghours__date">Saturday 23.11.2024</span>
              <span class="o-openinghours__time">10:00 - 17:00</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="o-openinghours__card o-openinghours__card--shopping-center-zuid">
        <div class="o-openinghours__overlay">
          <h3 class="o-openinghours__title">Shopping Center Zuid</h3>
          <p class="o-openinghours__address">Woodrow Wilsonplein 4, 9000 Ghent</p>
          <ul class="o-openinghours__hours o-list-bare">
            <li>
              <span class="o-openinghours__date">Friday 22.11.2024</span>
              <span class="o-openinghours__time">10:00 - 18:00</span>
            </li>
            <li>
              <span class="o-openinghours__date">Saturday 23.11.2024</span>
              <span class="o-openinghours__time">10:00 - 18:00</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="o-openinghours__card o-openinghours__card--oude-bib">
        <div class="o-openinghours__overlay">
          <h3 class="o-openinghours__title">Old Library</h3>
          <p class="o-openinghours__address">Woodrow Wilsonplein n/n, 9000 Ghent</p>
          <ul class="o-openinghours__hours o-list-bare">
            <li>
              <span class="o-openinghours__date">Friday 22.11.2024</span>
              <span class="o-openinghours__time">10:00 - 23:00</span>
            </li>
            <li>
              <span class="o-openinghours__date">Saturday 23.11.2024</span>
              <span class="o-openinghours__time">10:00 - 18:00</span>
            </li>
            <li>
              <span class="o-openinghours__date">Sunday 24.11.2024</span>
              <span class="o-openinghours__time">10:00 - 17:00</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="c-marquee c-marquee--tertiary" aria-hidden="true">
    <div class="c-marquee__content" id="program">
      <span>Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information Contact Information</span>
    </div>
  </div>

  <div class="o-box o-box--large">
    <ul class="o-list-bare">
      <li><a href="mailto:info@mutationfest.be" class="c-pill__shape">info@mutationfest.be</a></li>
      <br>
      <li><a href="mailto:program@mutationfest.be" class="c-pill__shape">program@mutationfest.be</a></li>
    </ul>
  </div>

  <div class="c-marquee c-marquee--tertiary" aria-hidden="true">
    <div class="c-marquee__content" id="program">
      <span>About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us About Us</span>
    </div>
  </div>
  <div class="o-wrapper o-wrapper--huge u-flexbox">
  <div class="o-box o-box--large">{{ craft.entries.section('mutationContact').one().mutationContactOverOns }}</div>
  </div>
</section>
