<div class="o-row-large c-drawing s-theme-secondary s-theme-noise">
  <span class="c-drawing c-drawing__right-bottom">
    <img src="/assets/images/png/bacteria.png" alt="Decoration - Bacteria" class=".delay-3">
  </span>
  <span class="c-drawing c-drawing__right-top">
      <img src="/assets/images/png/talks-and-thoughts-sea-butterfly.png" alt="Decoration - Sea Butterfly"  class=".delay-3">

  </span> 
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="c-mutation-title">{{ entry.title }}</h2>
    {% include '_components/components.intro.twig' %}
  </div>
</div>