
    <section class="contact-page">
        <h1 class="u-text-center">Contactpagina</h1>

        <div class="o-box o-box--large">
            <h2 class="u-text-center">Openingsuren</h2>
            <ul class="o-list-bare">
                <li>Vrijdag 22.11.2024 (10u00-23u00)</li>
                <li>Zaterdag 23.11.2024 (10u00-00u00 *afterparty tot 6u00)</li>
                <li>Zondag 24.11.2024 (10u00-18u00 *enkel locatie Oude bib)</li>
            </ul>
        </div>

        <div class="o-box o-box--large">
            <h2 class="u-text-center">Locaties</h2>
            <div class="o-box o-box--medium">
                <h3 class="u-text-center">Wintercircus</h3>
                <p class="u-text-center">Lammerstraat 13, 9000 Gent</p>
                <ul class="o-list-bare">
                    <li>Vrijdag 22.11.2024 (10:00 - 20:00)</li>
                    <li>Zaterdag 23.11.2024 (10:00 - 06:00)</li>
                </ul>
            </div>
            <div class="o-box o-box--medium">
                <h3 class="u-text-center">De Krook</h3>
                <p class="u-text-center">Miriam Makebaplein 1, 9000 Gent</p>
                <ul class="o-list-bare">
                    <li>Vrijdag 22.11.2024 (10:00 - 18:00)</li>
                    <li>Zaterdag 23.11.2024 (10:00 - 17:00)</li>
                </ul>
            </div>
            <div class="o-box o-box--medium">
                <h3 class="u-text-center">Shopping Center Zuid</h3>
                <p class="u-text-center">Woodrow Wilsonplein 4, 9000 Gent</p>
                <ul class="o-list-bare">
                    <li>Vrijdag 22.11.2024 (10:00 - 18:00)</li>
                    <li>Zaterdag 23.11.2024 (10:00 - 18:00)</li>
                </ul>
            </div>
            <div class="o-box o-box--medium">
                <h3 class="u-text-center">Oude Bib</h3>
                <p class="u-text-center">Woodrow Wilsonplein z/n, 9000 Gent</p>
                <ul class="o-list-bare">
                    <li>Vrijdag 22.11.2024 (10:00 - 23:00)</li>
                    <li>Zaterdag 23.11.2024 (10:00 - 18:00)</li>
                    <li>Zondag 24.11.2024 (10:00 - 17:00)</li>
                </ul>
            </div>
        </div>

        <div class="o-box o-box--large">
            <h2 class="u-text-center">Contactgegevens</h2>
            <ul class="o-list-bare">
                <li>info@mutationfest.be</li>
                <li>program@mutationfest.be</li>
            </ul>
        </div>

        <div class="o-box o-box--large">
            <h2 class="u-text-center">Over ons</h2>
            <p>Mutation is een samenwerking van Nerdlab vzw en De Creatieve STEM vzw en biedt een antwoord op de vraag: 
            In hoeverre kunnen kunst en technologie dienen als drijvende krachten achter maatschappelijke mutaties, en zijn ze onlosmakelijk met elkaar verbonden in dit proces?</p>
            <p>Kunst en technologie bewegen steeds meer in elkaars richting, elk met hun eigen kracht om de manier waarop we de wereld zien en ervaren te beïnvloeden. Waar kunst emotie, verbeelding en menselijkheid in het spel brengt, biedt technologie ons de tools om verder te gaan dan de grenzen van het fysieke en het denkbare. Samen zorgen ze voor ‘mutaties’—ingrijpende transformaties die zowel onze sociale structuren als onze innerlijke wereld veranderen.</p>
            <p>Ze muteren onze manier van creëren, communiceren, en verbinden. Technologische vooruitgang in kunst zoals AI, VR en algoritmes dwingt ons om te herzien wat we als 'origineel' beschouwen, en daagt ons uit nieuwe ethische en esthetische waarden te vormen. Kunst op haar beurt geeft technologie een ziel en stimuleert innovatie door onverwachte invalshoeken te verkennen, voorbij het functionele.</p>
            <p>Deze mutaties scheppen ruimte voor verandering: nieuwe vormen van expressie, gemeenschap en zelfs identiteit. Ze vormen samen de motor achter een voortdurende revolutie waarin mens en machine samen evolueren. De vraag blijft: kunnen we ooit loskomen van technologie, of is het juist door deze samenwerking dat we onszelf opnieuw uitvinden?</p>
        </div>
    </section>
