/*
    Plugin: Lazysizes
    ---
    https://github.com/aFarkas/lazysizes
*/

.fade-in,
.fade-in-cta {
  opacity: 0;
  transition: opacity 400ms;
}

  .fade-in.lazyloaded {
    opacity: 1;
  }

  .fade-in-cta.lazyloaded {
    opacity: .4;
  }
