.c-drawing {
  position: relative;

  img {
    width: 100%;
  }

  @include mq(medium) {
    padding-bottom: $unit-huge;
    min-height: $unit-huge*4;
  }

  @include mq(large) {
    padding-bottom: $unit-huge;
    min-height: $unit-huge*5;
  }
}

  .c-drawing__background {
    z-index: $z-index-alpha;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .c-drawing__left-top {
    position: absolute;
    width: 40%;
    left: 50%;
    top: -5%;
    z-index: $z-index-alpha;

    @include mq(small) {
      width: 25%;
      left: 70%;
      top: -7%;
    }

    @include mq(medium) {
      width: 25%;
      left: -10%;
      top: -30%;
    }

    @include mq(large) {
      width: 20%;
      left: -7%;
      top: -32%;
    }
  }

  .c-drawing__left-bottom {
    position: absolute;
    width: 25%;
    left: -10%;
    top: 70%;

    @include mq(small) {
      width: 25%;
      left: -10%;
      top: 70%;
    }

    @include mq(medium) {
      width: 25%;
      left: -10%;
      top: 55%;
    }

    @include mq(large) {
      width: 25%;
      left: -7%;
      top: 50%;
    }
  }

  .c-drawing__left-center {
    position: absolute;
    width: 10%;
    left: 75%;
    top: 5%;
    z-index: $z-index-alpha;
    transform: rotate(-150deg);

    @include mq(small) {
      width: 10%;
      left: 70%;
      top: 10%;
      transform: rotate(-130deg);
    }

    @include mq(medium) {
      left: auto;
      width: 10%;
      right: 70%;
      top: 15%;
      transform: rotate(60deg);
    }

    @include mq(large) {
      top: 20%;
    }
  }

  .c-drawing__right {
    position: absolute;
    width: 60%;
    right: 0;
    bottom: -5%;
    opacity: .5;

    @include mq(small) {
      width: 50%;
      right: 0;
    }

    @include mq(medium) {
      width: 40%;
      right: 0;
      bottom: -30%;
      opacity: .3;
    }

    @include mq(large) {
      width: 30%;
      right: 5%;
      bottom: -20%;
    }
  }

  .c-drawing__right-bottom {
    position: absolute;
    width: 30%;
    right: 0;
    top: 90%;
    z-index: $z-index-alpha;

    @include mq(small) {
      width: 30%;
      top: 85%;
    }

    @include mq(medium) {
    }

    @include mq(large) {
      width: 30%;
      right: 5%;
      top: 75%;
    }

    @include mq(huge) {
      top: 70%;
    }
  }

  .c-drawing__right-top {
    position: absolute;
    width: $unit * 1.3;
    top: $unit;
    right: 10%;
    z-index: $z-index-alpha;

    @include mq(small) {
      width: 7%;
      top: 10%;
      right: 10%;
    }

    @include mq(medium) {
      top: 10%;
      right: 10%;
    }

    @include mq(large) {
      width: 10%;
      top: 20%;
      right: 5%;
    }

    @include mq(huge) {
      right: 10%;
    }
  }
