/* ==========================================================================
   #TIMETABLE
   ========================================================================== */

$calendar-item-height: 75px;
$calendar-height: $calendar-item-height * 15;

// Bootstrapping
.cd-schedule {
  position: relative;
  margin-top: 0;
  padding-top: $unit;
  padding-bottom: $unit-large;

  * {
    margin: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  @include mq(medium) {
    overflow: hidden;
    padding-top: 0;
    padding-right: 0;
  }
}

.cd-schedule::before {
  /* never visible - this is used in js to check the current MQ */
  content: 'mobile';
  display: none;

  @include mq(medium) {
    content: 'desktop';
  }
}

.cd-schedule::after {
  @include mq(medium) {
    clear: both;
    content: "";
    display: block;
  }
}

// Timeline holder
.cd-schedule .timeline {
  display: none;

  @include mq(medium) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: $calendar-item-height;
  }
}

// Timeline item
.cd-schedule .timeline li {
  @include mq(medium) {
    position: relative;
    height: $calendar-item-height;
  }
}

// Timeline borders
.cd-schedule .timeline li:first-child::before {
  @include mq(medium) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $calendar-item-height;
    border-top: 2px solid $color-secondary-light;
  }
}

.cd-schedule .timeline li::after {
  @include mq(medium) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 2px dotted rgba($color-secondary-light, .5);
  }

  @include mq(large) {
    width: 100%;
  }
}

.cd-schedule .timeline li:last-child::after {
  @include mq(medium) {
    display: none;
  }
}

.cd-schedule .timeline li:nth-child(even)::after {
  @include mq(medium) {
    border-top-style: solid;
  }
}

// Timeline label
.cd-schedule .timeline li span {
  @include font-size($h6, 1);
  position: relative;
  display: none;
  font-weight: $bold;
  padding: $unit-tiny/2 $unit-tiny/1.5 $unit-tiny/1.5;
  color: $white;
  background-color: $color-secondary-light;

  @include mq(medium) {
    display: inline-block;
    transform: translateY(calc(-50% - 1px));
  }
}

// Events
.cd-schedule .events {
  position: relative;
  top: 0;
  z-index: 1;

  @include mq(medium) {
    width: calc(100% - 60px);
    margin-left: 60px;
    position: absolute;

    ul {
      width: 100%;
      display: flex;
    }
  }
}

.cd-schedule .events .events-group {
  position: relative;

  @include mq(medium) {
    flex-grow: 1;
    border-left: 2px dotted rgba($color-secondary-light, .5);
    /* reset style */
    margin-bottom: 0;
    min-height: 2000px; // Fix height
  }
}

.cd-schedule .events .events-group:last-child {
  @include mq(medium) {
    border-right: 0;
  }
}

// Top info row
.cd-schedule .events .top-info {
  width: 100%;
  padding: 0;

  @include mq(medium) {
    /* vertically center its content */
    height: $calendar-item-height;
    margin-bottom: 0;
    border-bottom: 0;
  }
}

// Top info labels
.cd-schedule .events .top-info>span {
  @include font-size($h6, 1.5);
  display: block;
  font-weight: $bold;
  color: $color-primary;
  padding: $unit-small 0 $unit-tiny 0;
  border-bottom: 1px solid $color-secondary-light;
  margin-bottom: $unit-small;

  @include mq(medium) {
    @include font-size($h5, 1.5);
    text-align: center;
    padding: $unit $unit-tiny $unit-tiny/2 $unit-tiny/2;
    margin-bottom: 0;
    border-bottom: 0;
  }
}

// Events container
.cd-schedule .events .events-group>ul {
  position: relative;
  display: block;
  margin-bottom: $unit-small;
  // border-bottom: 2px solid $color-neutral-xlight;

  @include mq(medium) {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.cd-schedule .events .events-group>ul::after {
  /* never visible - used to add a right padding to .events-group > ul */
  // display: inline-block;
  // content: '-';
  // width: 1px;
  // height: 100%;
  // opacity: 0;
  // color: transparent;

  @include mq(medium) {
    clear: both;
    content: "";
    display: block;
    /* reset style */
    display: none;
  }
}

// Single event
.cd-schedule .events .single-event {
  transition: opacity .2s, background-color .2s;
  width: 100%;

  @include mq(medium) {
    position: absolute;
    z-index: 3;
    /* top position and height will be set using js */
    width: 100%;
    left: 0;
    height: auto;
    max-width: none;
    margin-right: 0;
    padding: $unit-tiny;
  }
}

.cd-schedule .events .single-event:last-of-type {
  margin-right: 5%;

  @include mq(medium) {
    /* reset style */
    margin-right: 0;
  }
}

.cd-schedule .events .single-event a {
  display: block;
  height: 100%;
  padding:
    ($unit-small - 4px) $unit-small $unit-small $unit-small;
  margin-bottom: $unit-small;

  @include mq(medium) {
    overflow: hidden;
  }
}

.cd-schedule .events .single-event--small a {
  margin-bottom: $unit-small;

  @include mq(medium) {
    padding:
      $unit-tiny/2 $unit-small $unit-tiny/2 $unit-small;
  }
}

.cd-schedule.loading .events .single-event {
  /* the class .loading is added by default to the .cd-schedule element
       it is removed as soon as the single events are placed in the schedule plan (using javascript) */
  opacity: 0;
}

// Event box
.cd-schedule .event-name {
  @include inuit-font-size($h6, 1.2);
  display: block;
  font-weight: $bold;
  color: $color-neutral-dark;
}

.cd-schedule .single-event--small .event-name {
  @include mq(medium) {
    @include inuit-font-size($small, 1.2);
    margin-top: 0;
  }

  @include mq(large) {
    @include inuit-font-size($small, 1.2);
    margin-top: 0;
  }
}

.cd-schedule .event-date {
  @include inuit-font-size($small, 1.45);
  font-weight: $regular;
  color: $color-neutral;
}

.cd-schedule .single-event--small .event-date {
  @include mq(medium) {
    display: none;
  }
}

.cd-schedule .event-label {
  @include inuit-font-size(13px, 1);
  position: relative;
  bottom: .1ex;
  display: inline-block;
  font-weight: $regular;
  color: shade($color-primary, 10);
  background-color: tint($color-primary, 85);
  border-radius: 3px;
  padding: $unit-tiny/2.5 $unit-tiny/2 $unit-tiny/1.5;
}

.cd-schedule .event-label--how {
  color: shade($color-success, 40);
  background-color: tint($color-success, 80);
}

.cd-schedule .event-label--workshop {
  color: shade($color-notice, 40);
  background-color: tint($color-notice, 80);
}

.cd-schedule .single-event--small .event-label {}

.cd-schedule .single-event a {
  /* this is used to set a background color for the event and the modal window */
  background: $white;
}



.cd-schedule .single-event--tint a {
  /* this is used to set a background color for the event and the modal window */
  background: shade($color-secondary, 50);
  color: $white;

  .event-name,
  .event-date {
    color: $white;
  }
}