/* ==================================
   #NAVIGATION
   ================================== */

$nav-breakpoint: 950px;

.has-nav {
  overflow: hidden;
}

.c-navigation {
  margin-bottom: 0;
  position: relative;
  display: block;

  @include mq($until: $nav-breakpoint) {
    position: fixed;
    z-index: 4;
    overflow: scroll;
    background-color: $color-tertiary;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $unit-huge 0;
    transform: scale(0);

    &.is-visible {
      transform: scale(1);
      transition: all $duration $easing;
    }
  }
}

  .c-navigation__list {
    margin-bottom: 0;
    display: flex;
  }

  .c-navigation__item {
    display: block;
    padding: $unit-small $unit $unit-small;

    @include mq($nav-breakpoint) {
      display: block;
      padding: 0;
    }

    @include mq(medium) {
      & + & {
        margin-left: $unit;
      }
    }

    @include mq(large) {
      & + & {
        margin-left: $unit-large;
      }
    }
  }

  .c-navigation__link {
    @include font-size($h5);
    position: relative;
    font-weight: $regular;
    text-decoration: none;
    display: block;
    transition: color $transition;
    padding: $unit-small;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: $unit-large + $unit-tiny/2;
      height: 2px;
      top: 50%;
      right: calc(100%);
      background-color: $color-neutral;
    }

    &,
    &:visited {
      color: $color-neutral;
    }

    &:hover,
    &:focus {
      color: $color-neutral-dark;
      text-decoration: underline;
      text-decoration-color: $color-neutral-dark;
    }

    &:focus {
      outline: $outline;
    }

    .is-active > & {
      color: $color-neutral;
      outline: 2px solid $color-neutral;
      background-color: $white;
      text-decoration: none;
      font-weight: $medium;
    }

    .is-active > &:focus {
      outline: 2px dotted $color-neutral;
    }

    @include mq($nav-breakpoint) {
      @include font-size($small);

      .c-navigation__item:first-child &:before {
        display: none;
      }

      &:before {
        width: $unit;
        height: 2px;
        width: $unit;
        top: 50%;
        right: calc(100%);
        background-color: $color-neutral;
      }
    }

    @include mq(large) {
      @include font-size($h5);

      &:before {
        width: $unit-large;
      }
    }
  }

// Language nav
.c-navigation__language-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: $unit-large;
  border-top: 3px dotted $color-secondary-xlight;

  @include mq($nav-breakpoint) {
    position: relative;
    bottom: auto;
    width: auto;
    margin-left: $unit;
    margin-top: 0;
    border: 3px dotted $color-secondary-xlight;
  }
}

.c-navigation__language-item {
  display: block;
  text-align: center;
  width: 100%;

  & + & {
    margin-top: 0;
    border-left: 3px dotted $color-secondary-xlight;
  }
}

.c-navigation__language-link {
  @include font-size($h4);
  font-weight: $bold;
  text-decoration: none;
  display: block;
  padding: $unit - 3px $unit-small;
  transition: color $transition;

  &,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $color-tertiary;
  }

  &:focus {
    outline: 0;
    background-color: $color-secondary;
    color: $white;
  }

  .is-active > & {
    color: $color-tertiary;
  }

  .is-active > &:focus {
    background-color: $color-primary;
    color: $white;
  }

  @include mq($nav-breakpoint) {
    @include font-size($h5);
    padding: $unit-small - 3px $unit - 3px;

    &,
    &:visited {
      color: $color-secondary;
    }

    &:hover,
    &:focus {
      color: $color-secondary-light;
    }

    &:focus {
      outline: 0;
      background-color: $color-secondary;
      color: $white;
    }

    .is-active > & {
      color: $color-neutral;
      background-color: $color-secondary-xxlight;
    }
  }

  @include mq(large) {
    padding: $unit-small*1.5 - 3px $unit - 3px;
  }
}

// Mobile navigation toggle
.c-navigation-toggle {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  border: 0;
  transition: $global-transition;
  font-weight: $bold;
  border: 2px solid $color-neutral;
  padding-bottom: $unit-tiny;
  padding-top: $unit-tiny/2;
  background-color: $white;
  color: $color-neutral;

  &:focus {
    outline: $outline;
  }

  &[aria-expanded="true"] {
    background-color: transparent;
    border-color: transparent;
  }

  .s-mutation &[aria-expanded="true"] {
    color: $white;
  }

  @include mq($nav-breakpoint) {
    display: none;
  }
}

// Hamburger icon and animation
.c-hamburger {
  stroke: currentColor;
  stroke-width: 6px;
  stroke-linecap: square;
  width: 44px;
  height: 44px;

  .s-mutation & {
    stroke-linecap: square;
    stroke-width: 8px;
    transform: skewY(4deg);
  }
}

  .c-hamburger__line {
    transition: transform $duration $easing;
    transform-origin: center;

    &:nth-child(3) {
      opacity: 0;
    }
  }

  [aria-expanded='true'] .c-hamburger__line {
    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      opacity: 1;
    }

    &:first-child,
    &:last-child {
      transform: scale(0);
    }
  }
