/* ==================================
   #LINKS
   ================================== */

.c-link {
  transition: color $transition;

  &,
  &:visited {
    color: $color-secondary;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:focus {
    outline: $outline;
  }
}

.c-link--bare {
  &,
  &:visited,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Skip to navigation link
.c-link--skip {
  @include font-size($tiny,1.2);
  font-weight: $bold;
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  display: block;
  text-decoration: none;
  transition: color $duration $easing;

  &,
  &:visited,
  &:hover,
  &:focus {
    color: $color-neutral-dark;
  }

  &:hover {
    background-color: $color-tertiary-light;
  }

  &:focus {
    width: auto;
    height: auto;
    top: calc(100% + #{$unit-tiny});
    left: 0;
    white-space: nowrap;
    background-color: $color-tertiary;
    padding: $unit-tiny/2;
  }
}
