/* ==================================
   #BRAND
   ================================== */

// Set global font style @TODO: should this be in elements.page?
.c-brand {
  font-family: $inuit-font-family-primary;
}

// Logo
.c-brand-mark {
  &,
  & > .c-brand-mark__link {
    position: relative;
    color: $color-primary;
    font-weight: $inuit-font-weight-bold;
    text-decoration: none;
    margin-bottom: 0;
  }
}
