/* ==========================================================================
   #HOURS
   ========================================================================== */

   .c-hours {
    color: $color-neutral;
    margin-top: $unit-large;
    @include font-size($small);
  }

    .c-hours__list {
      margin-bottom: 0;

      strong {
        font-weight: $regular;
      }

      li {
        display: flex;
        justify-content: space-between;
      }

      li + li {
        border-top: 1px dotted $color-neutral-xlight;
        padding-top: $unit-tiny/2;
        margin-top: $unit-tiny/2;
      }

      li.is-now {
        font-weight: $bold;

        strong {
          font-weight: $bold;
        }
      }
    }
