/* ==================================
   #PAGINATION
   ================================== */

.c-pagination {
  display: flex;
  justify-content: flex-start;
  margin-top: $unit + $unit-tiny;
  border-top: 1px solid $color-neutral-xlight;
  @include font-size($h6);

  @include mq(small) {
    @include font-size($h5);
  }
}

.c-pagination--center {
  align-items: center;
  margin-top: 0;

  @include mq(small) {
    justify-content: space-between;
    margin-top: 0;
  }

  @include mq(medium) {
    @include font-size($h5);
  }
}

  .c-pagination__item {
    display: block;

    .c-pagination--center  & + & {
      margin-left: 0;
    }

    @include mq(medium) {
      & + & {
        // margin-left: $unit;
      }
    }
  }

  .c-pagination__item--current {
    display: block;
    font-weight: $bold;
    color: $white;
    background-color: $color-secondary;
    padding: $unit-small;

    @include mq(small) {
      padding: $unit;
    }
  }

  .c-pagination__item--center {
    border-right: 1px dotted $color-neutral-xlight;

    @include mq(medium) {
      border-left: 1px dotted $color-neutral-xlight;
      padding-left: $unit-large;
      padding-right: $unit-large;
    }
  }

  .c-pagination__item--center {
    @include font-size($h4);

    @include mq(medium) {
      @include font-size($h3);
    }
  }

  .c-pagination__item--first {
    .c-pagination--center  & {
      width: 100%;
      display: none;
    }

    @include mq(medium) {
      .c-pagination--center  & {
        width: 40%;
        text-align: left;
        display: block;
      }
    }
  }

  .c-pagination__item--last {
    .c-pagination--center  & {
      width: 100%;
    }

    @include mq(medium) {
      .c-pagination--center  & {
        width: 40%;
        text-align: right;
      }
    }
  }

  .c-pagination__link {
    display: block;
    padding: $unit-small;
    transition: $global-transition;

    .c-pagination__item--first &,
    .c-pagination__item--last & {
      text-decoration: none;
    }

    &,
    &:visited {
      color: $color-secondary;
      background-color: tint($color-neutral-xxlight,40);
    }

    &:hover,
    &:focus {
      color: $color-secondary;
      background-color: $color-neutral-xxlight;
    }

    span {
      display: none;
    }

    @include mq(small) {
      padding: $unit;
    }

    @include mq(medium) {
      span {
        display: inline;
      }
    }
  }
