.c-privacy {
  background-color: $color-primary;
  color: $white;

  a:not(.c-btn) {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      opacity: .8;
    }
  }
}

.c-privacy-notice {
  display: flex;
  padding: $unit 0;
  justify-content: space-between;

  p {
    margin-bottom: 0;
  }

  @include mq(medium) {
    padding: $unit/2 0;
    align-items: center;

    p + p {
      margin-top: 0;
    }
  }
}
