{% extends "_layouts/site" %}

{% block main %}
<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    {# Breadcrumb #}
    {% include "_elements/elements.breadcrumb.html" %}
    {# Page title #}
    <h1 class="c-h1">{{ entry.title }}</h1>
    {# Intro #}
    {% include '_components/components.intro.html' %}
  </div>
</div>

{# Formula #}
{% include '_components/components.formula.html' %}

{# Related #}
{% include '_components/components.subpages-selected.html' %}

{# Features #}
{% include '_components/components.features.html' %}

{# CTA #}
{% include '_components/components.cta.html' %}
{% endblock %}
