///* ========================================================================
//   #SHAME
//   Quick fixes ======================================================================== */

.u-order-one {
  order: 1;
  margin-bottom: $unit-large;

  @include mq(medium) {
    order: 2;
    margin-bottom: 0;
  }
}

.u-order-two {
  order: 2;

  @include mq(medium) {
    order: 1;
  }
}

.u-divider {
  margin-top: $unit-large;

  & + & {
    margin-top: $unit-large;
    padding-top: $unit-large;
    border-top: 1px solid $color-neutral-xlight;
  }

  @include mq(large) {
    & + & {
      margin-top: $unit-huge;
      padding-top: $unit-huge;
    }
  }
}

.u-border-top {
  border-top: 1px solid $color-neutral-xlight;
}

.u-divider-small {
  & + & {
    margin-top: $unit;
    padding-top: $unit;
    border-top: 1px solid $color-neutral-xlight;
  }
}

.o-layout--spacer {
  .o-layout__item {
    padding-top: $unit-small;
    padding-bottom: $unit-small;
  }
}

.o-layout--spacer-mobile {
  .o-layout__item {
    padding-bottom: $unit;
  }

  .o-layout__item:last-child {
    padding-bottom: 0;
  }
}

.u-color-neutral-xlight {
  // background-color: $color-neutral-xxlight;
}

.u-svg {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $unit-small;

  @include mq(small) {
    width: 70%;
  }

  @include mq(medium) {
    width: 100%;
  }
}

.c-illustration {
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
  // padding-bottom: $unit-huge*2;

  @include mq(medium) {
    padding-bottom: $unit-huge;
  }
}

  .c-illustration__left {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $unit;

    @include mq(small) {
      width: 80%;
    }

    @include mq(medium) {
      position: absolute;
      width: 70%;
      left: -20%;
      bottom: 0;
      max-height: 100%
    }

    @include mq(large) {
      width: 50%;
      left: 0;
    }
  }

.c-footer {
  margin-top: $unit;
  padding-top: $unit;
}
