/* ==================================
   #EDITOR
   ================================== */

.s-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: $unit-small;
  }

  h1 {
    @include font-size($h3);
  }

  h2 {
    @include font-size($h4);
  }

  h2:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-neutral-xlight;
    margin-top: $unit-small;
  }

  h2.c-title-image:after {
    border-bottom: 0;
  }

  .s-mutation & h2:after {
    border-bottom: 6px solid $white;
  }

  .s-mutation & h2.c-title-image:after {
    border-bottom: 0;
  }

  h3 {
    @include font-size($h5);
  }

  h4,
  h5,
  h6 {
    @include font-size($h6);
  }

  p {
    margin-bottom: 0;
  }

  p + * {
    margin-top: $unit;
  }

  p + ul {
    margin-top: $unit-small;
  }

  a:not(.c-btn) {
    font-weight: $medium;
    transition: color $transition;

    &,
    &:visited {
      color: $color-secondary;
    }

    &:hover,
    &:focus {
      color: $color-primary;
    }

    &:focus {
      outline: $outline;
    }
  }

  .c-h2 a {
    font-weight: $bold;
  }

  .c-h3 a {
    font-weight: $bold;
  }

  p,
  ul {
    @include font-size($h5,1.5);
    max-width: 35em;
  }

  ul {
    list-style: none;
    margin-left: $unit-small;
  }

  li + li {
    margin-top: $unit-small;
  }

  li:before {
    font-size: 1.2em;
    position: relative;
    left: -$unit-small;
    bottom: -.1em;
    content: '•';
    color: $color-secondary;
  }

  .c-small {
    @include font-size($tiny,1.5);
    color: $color-neutral-light;
  }

  blockquote {
    margin-top: $unit;
    margin-bottom: $unit;

    p {
      font-weight: $medium;
    }

    p:before {
      content: "“"
    }

    p:after {
      content: "”"
    }

    footer {
      font-weight: $medium;
      margin-top: $unit-small;
      color: $color-primary;
    }
  }

  @include mq(small) {
    h1 {
      @include font-size($h2);
    }

    h2 {
      @include font-size($h3);
    }

    h3 {
      @include font-size($h4);
    }

    h4,
    h5,
    h6 {
      @include font-size($h5);
    }

    p,
    ul {
      @include font-size($h4,1.5);
    }

    p + * {
      margin-top: $unit;
    }
  }

  @include mq(medium) {
    blockquote {
      margin-top: $unit-large;
      margin-bottom: $unit-large;
    }

    p,
    ul {
      @include font-size($h3,1.5);
    }

    p + * {
      margin-top: $unit-large;
    }

    .c-small {
      @include font-size($small,1.5);
      color: $color-neutral-light;
    }
  }
}

.s-editor--intro {
  p:first-child {
    @include font-size($h4,1.5);
    max-width: 25em;
  }

  @include mq(small) {
    p:first-child {
      @include font-size($h3,1.5);
    }
  }

  @include mq(medium) {
    p:first-child {
      @include font-size($h2,1.5);
    }
  }
}


.s-editor--small {
  p,
  ul {
    @include font-size($h5,1.5);
    max-width: 35em;
  }

  p + ul {
    margin-top: 0;
  }

  li + li {
    margin-top: 0;
  }

  ul {
    margin-left: 0;
  }

  li:before {
    display: none;
  }

  @include mq(small) {
    p,
    ul {
      @include font-size($h5,1.5);
    }
  }

  @include mq(medium) {
    p,
    ul {
      @include font-size($h4,1.5);
    }

    p + * {
      margin-top: $unit;
    }
  }
}

.s-editor--cta {
  color: $white;

  p:first-child {
    @include font-size($h4,1.5);
    max-width: 28em;
  }

  @include mq(small) {
    p:first-child {
      @include font-size($h3,1.5);
    }
  }

  @include mq(medium) {
    p:first-child {
      @include font-size($h2,1.5);
    }
  }
}

.s-editor--lead {
  color: $color-primary;

  p:first-child {
    @include font-size($h4,1.5);
    font-weight: $regular;
    max-width: 28em;
  }

  @include mq(small) {
    p:first-child {
      @include font-size($h3,1.5);
    }
  }

  @include mq(medium) {
    p:first-child {
      @include font-size($h2,1.5);
    }
  }
}

.s-editor--footer {
  a:not(.c-btn) {
    transition: color $transition;

    &,
    &:visited {
      color: $color-neutral;
    }

    &:hover,
    &:focus {
      color: $color-neutral-light;
    }

    &:focus {
      outline: $outline;
    }
  }

  p {
    max-width: 100%;
  }

  @include mq(medium) {
    text-align: right;
  }
}

.s-editor--prefooter {
  .s-mutation & a:not(.c-btn) {
    font-weight: $medium;
    transition: color $transition;

    &,
    &:visited {
      color: $color-neutral;
    }

    &:hover,
    &:focus {
      color: $color-primary;
    }

    &:focus {
      outline: $outline;
    }
  }
}
