// ==================================
// #FONT
// ==================================

@font-face {
  font-family: 'Public';
  src: url('/assets/fonts/public/PublicSans-Light.woff2') format('woff2'),
       url('/assets/fonts/public/PublicSans-Light.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Public';
  src: url('/assets/fonts/public/PublicSans-Regular.woff2') format('woff2'),
       url('/assets/fonts/public/PublicSans-Regular.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Public';
  src: url('/assets/fonts/public/PublicSans-Medium.woff2') format('woff2'),
       url('/assets/fonts/public/PublicSans-Medium.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Public';
  src: url('/assets/fonts/public/PublicSans-ExtraBold.woff2') format('woff2'),
       url('/assets/fonts/public/PublicSans-ExtraBold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Mutation';
  src: url('/assets/fonts/mutation/MutationV2.woff') format('woff');
  font-weight: 600;
}
