// ==================================
// #COLORS
// ==================================

// Tint & shade helper functions (http://bourbon.io/docs/#tint-shade)

// Makes a color lighter
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Makes a color darker
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}





// Base colors inspired by clrs.cc by @mrmrs_
$navy                       : #001F3F;
// $blue                       : #0000FF;
$blue                       : #36F;
$aqua                       : #7FDBFF;
$teal                       : #39CCCC;
$olive                      : #3D9970;
$green                      : #2ECC40;
$lime                       : #01FF70;
$yellow                     : #FFE100;
$orange                     : #FF851B;
// $red                        : #DF0000;
$red                        : #f33;
$fuchsia                    : #F012BE;
$purple                     : #B10DC9;
$maroon                     : #85144B;

$white                      : #FFFFFF;
$silver                     : #DDDDDD;
$gray                       : shade(#4b4c4d,20%);
$black                      : #202226;

// Palx color palette
$brand1: #ee192b;
$brand2: #3165FF;
$gray0: #f9f9fa;
$gray1: #eceeef;
$gray2: #dee1e3;
$gray3: #cfd3d7;
$gray4: #bfc5c9;
$gray5: #adb4b9;
$gray6: #98a1a8;
$gray7: #7f8b93;
$gray8: #606e79;
$gray9: #374047;
$gray10: #181b1f;
$blue0: #f6fafd;
$blue1: #e2eff9;
$blue2: #cce4f5;
$blue3: #b5d8f0;
$blue4: #9bcaeb;
$blue5: #7dbae5;
$blue6: #5aa7de;
$blue7: #2d8fd5;
$blue8: #006fbe;
$blue9: #004170;
$indigo0: #f9f9fe;
$indigo1: #ebedfb;
$indigo2: #dddff8;
$indigo3: #cdd1f5;
$indigo4: #bcc0f2;
$indigo5: #a9aeee;
$indigo6: #929ae9;
$indigo7: #7780e4;
$indigo8: #525edc;
$indigo9: #0516cd;
$violet0: #fbf8fe;
$violet1: #f1ebfb;
$violet2: #e8dcf8;
$violet3: #ddccf5;
$violet4: #d1baf1;
$violet5: #c4a6ed;
$violet6: #b48ee8;
$violet7: #a172e3;
$violet8: #864adb;
$violet9: #4c00b8;
$fuschia0: #fdf8fe;
$fuschia1: #f9e8fa;
$fuschia2: #f5d8f7;
$fuschia3: #f0c5f3;
$fuschia4: #eab0ef;
$fuschia5: #e498ea;
$fuschia6: #dc7be5;
$fuschia7: #d153dd;
$fuschia8: #bb01cc;
$fuschia9: #72007c;
$pink0: #fef8fb;
$pink1: #fbe9f3;
$pink2: #f7d8ea;
$pink3: #f4c6e1;
$pink4: #f0b2d6;
$pink5: #eb9ac9;
$pink6: #e57dba;
$pink7: #dd57a5;
$pink8: #cf0d7e;
$pink9: #7f004a;
$red0: #fef8f9;
$red1: #fbe9eb;
$red2: #f8dadc;
$red3: #f4c8cc;
$red4: #f0b5ba;
$red5: #ec9ea5;
$red6: #e6838b;
$red7: #df5f6a;
$red8: #d2202f;
$red9: #85000b;
$orange0: #fdf9f5;
$orange1: #f9ebe1;
$orange2: #f5dccb;
$orange3: #f0ccb3;
$orange4: #eaba98;
$orange5: #e4a679;
$orange6: #dd8d54;
$orange7: #d36d24;
$orange8: #b54c00;
$orange9: #6b2d00;
$yellow0: #fbfaec;
$yellow1: #f3efc4;
$yellow2: #eae398;
$yellow3: #e0d666;
$yellow4: #d5c72c;
$yellow5: #c5b500;
$yellow6: #b0a200;
$yellow7: #978b00;
$yellow8: #776e00;
$yellow9: #464000;
$lime0: #f6fcee;
$lime1: #e2f4c8;
$lime2: #cbec9e;
$lime3: #b2e26e;
$lime4: #94d736;
$lime5: #75c800;
$lime6: #68b300;
$lime7: #599900;
$lime8: #477900;
$lime9: #294700;
$green0: #f2fcf1;
$green1: #d6f6d3;
$green2: #b6efb1;
$green3: #90e788;
$green4: #61dd56;
$green5: #1fcf0f;
$green6: #0fb900;
$green7: #0d9f00;
$green8: #0b7e00;
$green9: #064a00;
$teal0: #f1fcf6;
$teal1: #d2f6e1;
$teal2: #afefc9;
$teal3: #85e7ae;
$teal4: #52dc8b;
$teal5: #0ace5c;
$teal6: #00b84d;
$teal7: #009e42;
$teal8: #007d34;
$teal9: #004a1f;
$cyan0: #f0fcfb;
$cyan1: #cef5f2;
$cyan2: #a8eee8;
$cyan3: #7ae4dc;
$cyan4: #40d9cc;
$cyan5: #00c9b8;
$cyan6: #00b3a4;
$cyan7: #009a8d;
$cyan8: #007a70;
$cyan9: #004842;





// Brand colors

$color-neutral              : $gray;
$color-neutral-xxlight      : tint($color-neutral,93%);
$color-neutral-xlight       : tint($color-neutral,85%);
$color-neutral-light        : tint($color-neutral,30%);
$color-neutral-dark         : shade($color-neutral,60%);

$color-primary              : $red;
$color-primary-xlight       : tint($color-primary,80);
$color-primary-light        : tint($color-primary,20);
$color-primary-dark         : shade($color-primary,20);

$color-secondary            : $blue;
$color-secondary-xxlight    : tint($color-secondary,90);
$color-secondary-xlight     : tint($color-secondary,80);
$color-secondary-light      : tint($color-secondary,20);
$color-secondary-dark       : shade($color-secondary,20);

$color-tertiary             : $yellow;
$color-tertiary-xlight      : tint($color-tertiary,80);
$color-tertiary-light       : tint($color-tertiary,20);
$color-tertiary-dark        : shade($color-tertiary,20);
$color-tertiary-xdark       : shade($color-tertiary,40);




// UI colors

$color-success              : $green;
$color-success-light        : tint($color-success,10%);
$color-success-dark         : shade($color-success,10%);

$color-error                : $red;
$color-error-light          : tint($color-error,10%);
$color-error-dark           : shade($color-error,10%);

$color-notice               : $orange;
$color-notice-light         : tint($color-notice,10%);
$color-notice-dark          : shade($color-notice,10%);
