{#
 # Agenda
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="c-row c-row--md u-bgcolor-neutral-xxxxx-light u-z-gamma">
    <div class="o-container">

<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
            <p class="u-mb-alpha u-text-align-right-bp4 u-faded">
                Vrijdag 23 februari 2018
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
            <h2 class="u-ms0">

                <a href="https://www.facebook.com/events/579959852357580/">

                    VR Cinéma

                </a>

            </h2>
        </div>
    </div>

        <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 u-push-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p>
                        We beginnen het verhaal gezellig om vrijdagavond met een drankje. Een avondje naar de VR cinéma waar je de grote variatie in films kan ontdekken. 360° Film maker Wim Forceville begeleid ons door de beste voorbeelden en leidt de brainstorm voor onze eerste eigen productie.  <a href="https://www.facebook.com/events/579959852357580/">Meer info</a>
                    </p>
                </div>
            </div>
        </div>

</article>





<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
            <p class="u-mb-alpha u-text-align-right-bp4 u-faded">
                Dinsdag 27 februari 2018
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
            <h2 class="u-ms0">

                <a href="https://www.facebook.com/events/1893001784062755/">

                    VR 101

                </a>

            </h2>
        </div>
    </div>

        <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 u-push-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p>
                        Al eens gezocht hoe je zelf een stuk VR film kan maken? Welk materiaal je nodig hebt om dat te doen?We doorlopen de hele shebang: monteren, stichten, storyboarden en vooral zorgen dat dat beeld in die bril verschijnt. Ook voor absolute beginners.  <a href="https://www.facebook.com/events/1893001784062755/">Meer info</a>
                    </p>
                </div>
            </div>
        </div>

</article>





<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
            <p class="u-mb-alpha u-text-align-right-bp4 u-faded">
                Maandag 5 maart 2018
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
            <h2 class="u-ms0">

                <a href="https://www.facebook.com/events/323018868190677/">

                    Chatbots

                </a>

            </h2>
        </div>
    </div>

        <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 u-push-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p>
                        Deze robots hebben geen lichaam maar wel een stem en een brein. Hun evolutionaire status is al lang voorbij  de basic Tamagotchi maar heeft nog lang geen menselijke schijn als Samantha uit Her. We ontwerpen zelf een persoonlijkheid en bouwen een Facebook chatbot.  <a href="https://www.facebook.com/events/323018868190677/">Meer info</a>
                    </p>
                </div>
            </div>
        </div>

</article>





<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
            <p class="u-mb-alpha u-text-align-right-bp4 u-faded">
                Dinsdag 6 maart 2018
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
            <h2 class="u-ms0">

                <a href="https://www.facebook.com/events/2009463549325250/">

                    Interactieve VR

                </a>

            </h2>
        </div>
    </div>

        <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 u-push-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p>
                        De tijd van lineaire tv is bijna voorbij. We kijken wat we willen, wanneer we willen en dat is in VR niet anders. Tijdens deze workshop zorgen we voor een interface IN de film om te switchen naar andere verhaallijnen, camera standpunten of zelfs decor. En als we er dan toch knoppen insteken, fixen we meteen ook de Mute. 🔇  <a href="https://www.facebook.com/events/2009463549325250/">Meer info</a>
                    </p>
                </div>
            </div>
        </div>

</article>





<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
            <p class="u-mb-alpha u-text-align-right-bp4 u-faded">
                Maandag 12 maart 2018
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
            <h2 class="u-ms0">

                <a href="https://www.facebook.com/events/225486244661901/">

                    Arduino thinking

                </a>

            </h2>
        </div>
    </div>

        <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 u-push-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p>
                        Automatisch Febrèze spuiten als een stoel het plots warm krijgt of je schoonvader SMS’en als het laatste blad van de eikenboom is gevallen. Dagelijkse toepassingen met een eenvoudig stukje electronica, we verklappen alle geheimen.  <a href="https://www.facebook.com/events/225486244661901/">Meer info</a>
                    </p>
                </div>
            </div>
        </div>

</article>





<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
            <p class="u-mb-alpha u-text-align-right-bp4 u-faded">
                Maandag 19 maart 2018
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
            <h2 class="u-ms0">

                <a href="https://www.facebook.com/events/189704321774737/">

                    Design thinking

                </a>

            </h2>
        </div>
    </div>

        <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 u-push-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p>
                        Dé manier om heel complexe problemen op te delen en een veel oplossingen te vinden. Zo brengen we Kim Jung Un op andere gedachten en helpen we cash geld de wereld uit. Uiteindelijk gaan we op zoek naar hoe we moeten communiceren met een stoel.  <a href="https://www.facebook.com/events/189704321774737/">Meer info</a>
                    </p>
                </div>
            </div>
        </div>

</article>





<article class="s-content o-media">
    <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
            <p class="u-mb-alpha u-text-align-right-bp4 u-faded">
                Maandag 26 maart 2018
            </p>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
            <h2 class="u-ms0">

                <a href="https://www.facebook.com/events/140869936605541/">

                    Sensory Thinking

                </a>

            </h2>
        </div>
    </div>

        <div class="o-grid o-grid--gutter o-flex-bp3 o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 u-push-1-of-2-bp4">
                <div class="s-content u-max-width-md">
                    <p>
                        Je kan met een parkeersensor meten of de koffie bijna op is, maar ook een krokodillenval. We spelen met alle mogelijk sensoren en kijken welke data we er kunnen uithalen. Wie wil geen bananenkleursensor zelf kunnen maken?  <a href="https://www.facebook.com/events/140869936605541/">Meer info</a>
                    </p>
                </div>
            </div>
        </div>

</article>





    </div>
</div>



    <div class="c-row c-row--md c-row--cta u-z-delta">
        <div class="c-background-image c-background-image--fallback" style="background-image: url('/assets/img/uploads/home-3.jpg');"></div>
        <video class="c-background-video" autoplay loop muted preload="true">
            <source src="/assets/img/uploads/nerdlab.webm" type="video/webm">
            <source src="/assets/img/uploads/nerdlab.mp4" type="video/mp4">
        </video>
        <p class="c-background-video__meta">
            Video: LUCA School of Arts - campus C-mine
        </p>
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-flex">
                <div class="o-grid__item u-1-of-2-bp6">
                    <div class="u-max-width-md">
                        <div class="c-cta-lead u-color-neutral-xxxxx-light">
                            <p>Heb je een project waar je vast mee zit of zin om samen met ons mee in een project te duiken?</p>

                        </div>
                        <p>
                            <a href="/word-nerd/" class="c-button c-button--lg c-button--cta">
                                Kom eens langs
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
