///* ========================================================================
//   #SHAME
//   Quick fixes ======================================================================== */

.u-order-one {
  order: 1;
  margin-bottom: $unit-large;

  @include mq(medium) {
    order: 2;
    margin-bottom: 0;
  }
}

.u-order-two {
  order: 2;

  @include mq(medium) {
    order: 1;
  }
}

.u-divider {
  margin-top: $unit-large;

  & + & {
    margin-top: $unit-large;
    padding-top: $unit-large;
    border-top: 1px solid $color-neutral-xlight;
  }

  @include mq(large) {
    & + & {
      margin-top: $unit-huge;
      padding-top: $unit-huge;
    }
  }
}

.u-border-top {
  border-top: 1px solid $color-neutral-xlight;
}

.u-divider-small {
  & + & {
    margin-top: $unit;
    padding-top: $unit;
    border-top: 1px solid $color-neutral-xlight;
  }
}

.o-layout--spacer {
  .o-layout__item {
    padding-top: $unit-small;
    padding-bottom: $unit-small;
  }
}

.o-layout--spacer-mobile {
  .o-layout__item {
    padding-bottom: $unit;
  }

  .o-layout__item:last-child {
    padding-bottom: 0;
  }
}

.c-illustration {
  position: relative;
  padding-bottom: 0;
  overflow: hidden;

  img {
    width: 100%;
  }

  @include mq(medium) {
    padding-bottom: $unit-huge;
  }
}

  .c-illustration__left-center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $unit;

    @include mq(small) {
      width: 80%;
    }

    @include mq(medium) {
      position: absolute;
      width: 70%;
      left: -20%;
      bottom: 0;
      max-height: 100%
    }

    @include mq(large) {
      width: 50%;
      left: 0;
    }
  }

  .c-illustration__left {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $unit;

    @include mq(small) {
      width: 80%;
      margin-left: 0;
    }

    @include mq(medium) {
      position: absolute;
      width: 70%;
      left: -20%;
      bottom: 0;
      max-height: 100%
    }

    @include mq(large) {
      width: 50%;
      left: 0;
    }
  }

  .c-illustration__right {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $unit;

    @include mq(small) {
      width: 80%;
      margin-right: 0;
    }

    @include mq(medium) {
      position: absolute;
      width: 70%;
      right: -20%;
      bottom: 0;
      max-height: 100%
    }

    @include mq(large) {
      width: 50%;
      right: 0;
    }
  }


.c-footer {
  margin-top: $unit;
  padding-top: $unit;
}

.c-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/svg/doodles.svg');
  background-size: 150%;
  background-position: 50% 50%;
  height: 100vh;
  width: 100vw;

  @include mq(small) {
    background-size: 75%;
    background-size: 100%;
  }

  @include mq(medium) {
    background-size: 75%;
  }

  @include mq(large) {
    background-size: 62.5%;
  }
}

  .c-404__wrapper {
    padding-right: $unit;
    padding-left: $unit;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    text-align: center;

    @include mq(small) {
      max-width: 400px;
    }

    @include mq(medium) {
      padding-right: $unit-large;
      padding-left: $unit-large;
    }

    @include mq(large) {
      max-width: 500px;
    }
  }

.o-crop {
  background-color: $color-neutral-xxlight;
}

.u-alternate:nth-child(odd) {
  .u-alternate__layout {
    flex-direction: row-reverse;
  }
}
