.c-privacy {
  background-color: $color-secondary;
  color: $white;
  box-shadow: 0 4px 0 rgba($color-secondary,.1);

  a:not(.c-btn) {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      opacity: .8;
    }
  }
}

.c-privacy-notice {
  display: flex;
  padding: $unit 0;
  justify-content: space-between;
  font-weight: $regular;

  p {
    margin-bottom: 0;
  }

  @include mq(medium) {
    padding: $unit 0;
    align-items: center;

    p + p {
      margin-top: 0;
    }
  }
}
