.u-flexbox{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.u-flexbox--row{
	flex-direction: row;
	// flex-direction: row-reverse;
}

.u-flexbox--column{
	flex-direction: column;
	// flex-direction: column-reverse;
}

@media (max-width: 768px) {
	.u-flexbox {
		flex-direction: column;
	}
}