/*
    Plugins: Maps
*/

// Custom map
.c-map {
  position: relative;
  height: 100%;
  width: 100%;
}

.c-map__background {
  position: relative;
  height: 100%;
  z-index: -1;
}

  .c-map__content {
    position: absolute;
    z-index: $z-index-beta;
    width: 50%;
    padding-left: $unit;
    padding-right: $unit;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    p {
      margin-bottom: 0;
    }
  }
