.c-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom-left-radius: $unit-small;
  border-bottom-right-radius: $unit-small;
  border-radius: $unit-tiny/2;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba($color-neutral-dark,0.1);
  background-color: $white;

  .o-layout {
    position: relative;
  }
}

.c-card--spacer {
  & + & {
    margin-top: $unit;
  }
}

  .c-card__image {
    flex-grow: 0;
  }

  .c-card__content {
    padding: $unit;
    flex-grow: 1;
  }

  .c-card__footer {
    flex-grow: 0;
    padding: 0 $unit $unit;
  }

  .c-card__background {
    display: block;
    width: 100%;
    min-height: 150px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mq(small) {
      min-height: 200px;
    }
  }
