/* ==========================================================================
   #CONTENT
   ========================================================================== */

.c-content {
  strong,
  h2 {
    color: $color-neutral-dark;
  }

  p,
  ul,
  ol {
    @include font-size($font-small);

    &:last-child {
      margin-bottom: 0;
    }
  }

  a:not(.c-btn) {
    position: relative;
    display: inline-block;
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-secondary;
    }

    &:after {
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      bottom: .2ex;
      left: 1px;
      right: 1px;
      background-color: currentColor;
      opacity: .8;
    }
  }

  @include mq(medium) {
    p,
    ul,
    ol {
      @include font-size($font-h6);
    }
  }

  @include mq(large) {
    p,
    ul,
    ol {
      @include font-size($font-h5, auto, +1);
    }
  }
}

.c-content--intro {
  p:first-child {
    @include font-size($font-h6, auto);
  }

  @include mq(medium) {
    p:first-child {
      @include font-size($font-h5, auto, +.5);
    }
  }

  @include mq(large) {
    p:first-child {
      @include font-size($font-h3, auto, +1);
    }
  }
}

.c-content--cta {
  strong,
  h2 {
    color: $white;
  }

  p:first-child {
    @include font-size($font-h6, auto);
    color: $white
  }

  @include mq(medium) {
    p:first-child {
      @include font-size($font-h5, auto, +.5);
    }
  }

  @include mq(large) {
    p:first-child {
      @include font-size($font-h3, auto, +1);
    }
  }
}

.c-content--small {
  p + h2 {
    margin-top: $unit-large;
  }

  p + h3 {
    margin-top: $unit;
  }

  p,
  ul,
  ol {
    @include font-size($font-tiny);
  }

  @include mq(small) {
    p,
    ul,
    ol {
      @include font-size($font-small,1.5);
    }
  }

  @include mq(large) {
    p,
    ul,
    ol {
      @include font-size($font-h6);
    }
  }
}

.c-content--footer {
  p {
    color: $color-neutral-light;
    @include font-size($font-tiny);
    margin-bottom: 0;
  }

  a:not(.c-btn) {
    color: $color-neutral-light;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-neutral;
    }

    &:after {
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      bottom: .2ex;
      left: 1px;
      right: 1px;
      background-color: currentColor;
      opacity: .5;
    }
  }

  @include mq(medium) {
    p {
      text-align: right;
    }
  }
}

.c-content--lead {
  p {
    @include font-size($font-h6);
    font-weight: $font-regular;
    color: $color-secondary;
  }


  @include mq(small) {
    p {
      @include font-size($font-h4);
    }
  }

  @include mq(medium) {
    margin-top: -$unit-tiny/2;
  }

  @include mq(large) {
    p {
      @include font-size($font-h3, auto, +1);
    }
  }
}
