/* ==========================================================================
   #INPUT
   ========================================================================== */

// Input elements
.c-input-text {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: $global-radius;
  border: 1px solid $color-neutral-xlight;
  font-family: $font-primary;
  font-weight: $font-regular;
  margin: 0;
  width: 100%;
  display: block;
  outline: none;
  line-height: 1.5;

  &:focus {
    border-color: $color-neutral-light;
  }

  &.has-error {
    border-color: $color-error;
  }
}

// Input sizes
.c-input-text--sm {
  padding-left: $unit-tiny;
  padding-right: $unit-tiny;
  @include font-size($font-small);
}

.c-input-text--md {
  padding-left: $unit-tiny;
  padding-right: $unit-tiny;
  @include font-size($font-small);
}

.c-input-text--lg {
  padding-left: $unit-tiny;
  padding-right: $unit-tiny;
  @include font-size($font-small);
}

// Input modifiers
.c-input-text--prefix {
  border-radius: $global-radius 0 0 $global-radius;
  border-right: 0;
}

// Input option
.c-input-option {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
