{#
 # The base layout template
 # ------------------------
 #
 # This template defines the base HTML structure for our site.
 #
-#}

{% minify %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# Metadata #}
  <title>
    {% if title is defined %}
      {{ title }} -
    {% endif %}
    {{ siteName }}
  </title>

  {# Canonical link #}
  <link rel="canonical" href="{{ entry.url }}">

  {# Modernizr #}
  <script src="http://staging.nerdlab.be/assets/js/modernizr-custom.js"></script>

  {# CSS #}
  {% if craft.app.config.general.devMode == true %}
    <link rel="stylesheet" type="text/css" href="http://staging.nerdlab.be/assets/css/screen.css">
  {% else %}
    <link rel="stylesheet" type="text/css" href="http://staging.nerdlab.be/assets/css/screen.min.css">
  {% endif %}
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}

  {# Global javascript #}
  {% block foot %}
    {% if craft.app.config.general.devMode == true %}
      <script src="http://staging.nerdlab.be/assets/js/scripts.js"></script>
    {% else %}
      <script src="http://staging.nerdlab.be/assets/js/scripts.min.js"></script>
    {% endif %}
  {% endblock %}
</body>
</html>
{% endminify %}
