{#
 # The base layout template
 # ------------------------
 #
 # This template defines the base HTML structure for our site.
 #
-#}

{% minify %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# SEO #}
  {% hook "seo" %}

  {# Modernizr #}
  <script src="{{ alias('@web') }}/assets/js/modernizr-custom.js"></script>

  {# CSS #}
  {% if craft.app.config.general.devMode == true %}
    <link rel="stylesheet" type="text/css" href="{{ alias('@web') }}/assets/css/main.css">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ rev('main.min.css') }}">
  {% endif %}

  {# Analytics #}
  {% include "_globals/globals.gtm-head" %}
  {% include "_globals/globals.ga" %}
  {% endblock %}
</head>
<body>
  {% if getCookie('PrivacyNotice') %}
  {% else %}
    <div class="c-privacy js-privacy">
      <div class="o-wrapper o-wrapper--huge">
        <div class="c-privacy-notice">
          {% set privacy = craft.entries.section('privacyPolicy') %}
          <p>{{ labels.labelCookieNotice }} {% for page in privacy.all() %}<a href="{{ page.url }}" class="c-link">Learn more</a>{% endfor %}</p>
          <p>
            <button class="c-button c-button--cookie js-privacy__button">{% include '_tools/tools.icon.html' with { options: { icon: 'close' } } %} <span class="u-hidden-visually">{{ labels.labelClose }}</span></button>
          </p>
        </div>
      </div>
    </div>
  {% endif %}
  {# Analytics #}
  {% include "_globals/globals.gtm-body" %}
  {# @var schema \Spatie\SchemaOrg\Schema #}
  {% set schema = craft.schema %}
  {{ schema
      .thing
        .name("{{ siteName }}")
        .email("info@nerdlab.be")
        .url("https://nerdlab.be")
        .address(schema.postalAddress
          .addressCountry("Belgium")
          .addressLocality("Gent")
          .addressRegion("Oost-Vlaanderen")
          .postalCode("9000")
          .streetAddress("Nieuwland 67")
        ) | raw
  }}

  {# Image transforms #}
  {% set thumb = {
    mode: 'crop',
    width: 100,
    quality: 90,
    position: 'center-center'
  } %}

  {% set small = {
    mode: 'crop',
    width: 400,
    quality: 90,
    position: 'center-center'
  } %}

  {% set medium = {
    mode: 'crop',
    width: 600,
    quality: 90,
    position: 'center-center'
  } %}

  {% set large = {
    mode: 'crop',
    width: 900,
    quality: 90,
    position: 'center-center'
  } %}

  {% set xlarge = {
    mode: 'crop',
    width: 1280,
    quality: 90,
    position: 'center-center'
  } %}

  {% set huge = {
    mode: 'crop',
    width: 1400,
    quality: 90,
    position: 'center-center'
  } %}

  {% block body %}{% endblock %}

  {# Global javascript #}
  {% block foot %}
    {% if craft.app.config.general.devMode == true %}
      <script src="{{ alias('@web') }}/assets/js/scripts.js"></script>
    {% else %}
      <script src="{{ rev('scripts.min.js') }}"></script>
    {% endif %}
  {% endblock %}
</body>
</html>
{% endminify %}
