/* ==================================
   #FORMS
   ================================== */

.c-form {
  margin-top: $unit-large;
  max-width: $inuit-wrapper-width;
}

.c-field {
  position: relative;
  margin-bottom: 0;

  & + & {
    margin-top: $unit;
  }
}

.c-field--checkbox,
.c-field--radio {
  li + li {
    margin-top: $unit-tiny;
  }
}

.c-legend {
  @include font-size($h6);
  font-weight: $bold;
  margin-bottom: $unit-small;
}

.c-label {
  @include font-size($small);
  display: block;
  color: $color-neutral;
  margin-bottom: $unit-tiny;

  .s-theme-secondary & {
    color: $white;
  }

  .c-field--check & {
    color: $color-neutral-dark;
    margin-bottom: $unit-tiny;
    width: calc(100% - #{$unit});
  }
}


.c-subscribe-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.c-subscribe-form__input {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border-width: 0 0 1px 0;
  border-color: $color-neutral-xlight;
  flex-grow: 1;
  width: auto;

  &:focus {
    border-color: $color-neutral-xlight;
  }

  &::-webkit-input-placeholder {
    color: $color-neutral-light;
  }

  &::-moz-placeholder {
    color: $color-neutral-light;
  }

  &:-ms-input-placeholder {
    color: $color-neutral-light;
  }

  .s-mutation & {
    color: $white;
    border-width: 0 0 6px 0;
    border-color: $color-tertiary;
    width: 100%;
    padding: $unit-small + 3px 0  $unit-small - 2px;

    @include font-size($h5);

    &:focus {
      border-color: $color-tertiary;
    }

    &::-webkit-input-placeholder {
      color: $color-neutral-xlight;
    }

    &::-moz-placeholder {
      color: $color-neutral-xlight;
    }

    &:-ms-input-placeholder {
      color: $color-neutral-xlight;
    }
  }

  @include mq(small) {
    .s-mutation & {
      border-color: $white;
    }
  }

  @include mq(medium) {
    .s-mutation & {
      @include font-size($h4);
    }
  }
}

.c-subscribe-form__btn {
  border: 0;
  border-bottom: 1px solid $color-neutral-xlight;
  color: $color-secondary;
  background-color: transparent;
  padding-right: 0;
  border-radius: 0;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  .s-mutation & {
    @include font-size($h5);
    border-width: 0;
    border-color: $white;
    color: $color-secondary;
    background-color: $white;
    font-weight: $bold;
    width: 100%;

    &:hover,
    &:focus {
      color: $color-primary;
      border-color: $color-primary;
    }
  }

  @include mq(small) {
    .s-mutation & {
      width: auto;
      color: $white;
      background-color: transparent;
      width: auto;
      border-width: 0 0 6px 0;

      &:hover,
      &:focus {
        color: $color-tertiary;
        border-color: $color-tertiary;
      }
    }
  }

  @include mq(medium) {
    .s-mutation & {
      @include font-size($h4);
    }
  }
}


.c-field-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  @include mq(small) {
    flex-direction: row;
  }
}

.c-field-group__input {
  flex-grow: 1;
  width: 100%;

  @include mq(small) {
    width: auto;
  }
}

.c-error-group {
  margin-top: $unit-tiny;
  font-weight: $bold;
}


// Quick fix > @TODO: clean up
.s-mutation {
  #mc_embed_signup div.mce_inline_error {
    line-height: 2;
    display: block;
    color: $color-primary !important;
    background-color: $white !important;
  }

  #mc_embed_signup input.mce_inline_error {
    border-color:  $color-primary !important;
  }

  #mce-responses {
    display: block;
    position: relative;
    z-index: $z-index-beta;
    font-weight: $medium;
    width: 100%;

    @include mq(small) {
      position: absolute;
      top: 100%;
    }
  }

  #mce-error-response {
    color: $white;
    padding: $unit-small;
    background-color: $color-primary;

    a,
    a:hover,
    a:visited,
    a:focus {
      color: $white;
    }
  }

  #mce-success-response {
    color: $color-neutral;
    padding: $unit-small;
    background-color: $color-tertiary;

    a,
    a:hover,
    a:visited,
    a:focus {
      color:  $color-neutral;
    }
  }
}
