/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

   .c-background {
    overflow: hidden;
    position: relative;
    background-color: $color-neutral;
    padding-bottom: $unit-large + $unit;

    @include mq(medium) {
      display: flex;
      align-items: flex-end;
      padding-bottom: $unit-huge;

      .o-wrapper {
        width: 100%;
      }
    }

    @include mq(large) {
      padding-top: $unit-huge*2;
      // height: calc(100vh - 7rem);
    }
  }

  .c-background-alt {
    overflow: hidden;
    position: relative;
    padding-bottom: $unit-huge * 2;

    @include mq(medium) {
      padding-bottom: $unit-huge;
    }
  }

    .c-background__image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .4;

      @include mq(medium) {
        display: block;
        opacity: .4;
      }
    }

    .c-background-alt__image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom;

      @include mq(medium) {
        display: block;
        background-size: contain;
        background-position: left bottom;
      }
    }

    .c-background-alt__image--right {
      @include mq(medium) {
        background-position: right bottom;
      }
    }

    .c-background__image--fallback {
      .videoautoplay & {
        display: none;
      }
    }

    .c-background__video {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: .5;

      .videoautoplay & {
        display: block;
      }
    }

    .c-background__video__meta,
    .c-background__image__meta {
      position: absolute;
      bottom: 0;
      left: $unit;
      color: rgba($white,.75);
      @include font-size($tiny);

      @include mq(small) {
        left: auto;
        right: $unit;
      }
    }

    .c-background__body {
      position: relative;
    }
