/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

.c-breadcrumb {
  margin-bottom: $unit-small;

  @include mq(medium) {
    .s-mutation & {
      @include font-size($h4);
    }
  }
}

  .c-breadcrumb__link {
    text-decoration: none;
    font-weight: $bold;

    &,
    &:visited {
      color: $color-secondary;
    }
  }
