/* ==================================
   #INPUT
   ================================== */


.c-input,
.c-textarea {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: $radius;
  font-family: inherit;
  margin: 0;
  width: 100%;
  display: block;
  outline: none;
  line-height: normal;
  color: $color-neutral;
  background-color: $white;
  border: 2px solid $color-neutral-xlight;
  padding: $unit-small;
  @include font-size($h6);

  &:focus {
    background-color: $white;
    color: $color-neutral-dark;
    border-color: shade($color-neutral-xlight,20);
    box-shadow: 0 0 4px $color-neutral-xlight;
  }

  // Placeholder styles
  &::-webkit-input-placeholder {
    color: $color-neutral-light;
    font-style: italic;
  }

  &::-moz-placeholder {
    color: $color-neutral-light;
    font-style: italic;
  }

  &:-ms-input-placeholder {
    color: $color-neutral-light;
    font-style: italic;
  }

  &:-moz-placeholder {
    color: $color-neutral-light;
    font-style: italic;
  }
}

.c-checkbox,
.c-radio {
  position: relative;
  top: .5ex;
  width: $unit;
  display: block;
  padding-right: $unit;
}

.c-input--sm {
  max-width: 14em;
}

.c-input--md {
  max-width: 20em;
}

.c-input--lg {
  max-width: 40em;
}

// Custom select box
// ---
.c-select {
  position: relative;
  display: inline-block;
  color: $color-neutral;
  width: 100%;
  max-width: 25em;
}

  .c-select select {
    @include font-size($small);
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: $unit-small;
    color: $color-neutral-dark;
    background-color: $white;
    border: 2px solid $color-neutral-xlight;
    border-radius: $radius;
    cursor: pointer;
    outline: 0;
    appearance: none;
  }

  /* Undo the Firefox inner focus ring */
  .c-select select:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $color-neutral-dark;
  }

  /* Dropdown arrow */
  .c-select:after {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-top: -.2rem;
    pointer-events: none;
    border-top: .35rem solid $color-neutral;
    border-right: .35rem solid transparent;
    border-bottom: .35rem solid transparent;
    border-left: .35rem solid transparent;
  }

  /* Focus */
  .c-select select:focus {
    box-shadow: 0 0 2px $color-neutral-light;
  }

  /* Active/open */
  .c-select select:active {
    color: $color-neutral-dark;
  }

  /* Hide the arrow in IE10 and up */
  .c-select select::-ms-expand {
    display: none;
  }

  /* Media query to target Firefox only */
  @-moz-document url-prefix() {
    /* Firefox hack to hide the arrow */
    .c-select select {
      text-indent: .01px;
      text-overflow: '';
      padding-right: 1rem;
    }

    /* <option> elements inherit styles from <select>, so reset them. */
    .c-select option {
      background-color: $white;
    }
  }

  /* IE9 hack to hide the arrow */
  @media screen and (min-width:0\0) {
    .c-select select {
      z-index: $z-index-alpha;
      padding: .5rem 1.5rem .5rem 1rem;
    }

    .c-select:after {
      z-index: $z-index-beta;
    }

    .c-select:before {
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      z-index: 2;
      content: "";
      display: block;
      width: 1.5rem;
      background-color: $color-neutral-xlight;
    }

    .c-select select:hover,
    .c-select select:focus,
    .c-select select:active {
      color: $color-neutral;
      background-color: $color-neutral-xlight;
    }
  }

/*
* Checkboxes and radios
*/

.c-control {
  position: relative;
  display: flex;
  align-items: center;
  color: $color-neutral;
  cursor: pointer;

  .s-theme-secondary & {
    color: $white;
  }
}

.c-control input {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.c-control-indicator {
  display: block;
  width:  1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: 65%;
  margin-right: $unit-tiny;
  color: $color-neutral-xlight;
  text-align: center;
  border: 2px solid $color-neutral-xlight;
  background-color: $white;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.c-control:hover .c-control-indicator {
  color: #fff;
  background-color: #ccc;
}
*/

/* Focus */
.c-control input:focus ~ .c-control-indicator {
  box-shadow: 0 0 0 2px $color-neutral-xlight;
}

/* Checked state */
.c-control input:checked ~ .c-control-indicator {
  color: $color-primary;
  background-color: $color-secondary;
  border-color: $color-secondary;
}

/* Active */
.c-control input:active ~ .c-control-indicator {
  color: $color-secondary;
  background-color: $color-neutral-xxlight;
  border-color: $color-neutral-light;
}

/* Checkbox modifiers */
.c-control--checkbox .c-control-indicator {
  border-radius: $radius;
}

.c-control--checkbox input:checked ~ .c-control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

/* Radio modifiers */
.c-control--radio .c-control-indicator {
  border-radius: 50%;
}

.c-control--radio input:checked ~ .c-control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}

/* Alternately, use another character */
.c-control-x input:checked ~ .c-control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjQsMEwwLDEuNGwwLjcsMC43bDEuOCwxLjhMMC43LDUuN0wwLDYuNGwxLjQsMS40bDAuNy0wLjdsMS44LTEuOGwxLjgsMS44bDAuNywwLjdsMS40LTEuNEw3LjEsNS43DQoJTDUuMywzLjlsMS44LTEuOGwwLjctMC43TDYuNCwwTDUuNywwLjdMMy45LDIuNUwyLjEsMC43QzIuMSwwLjcsMS40LDAsMS40LDB6Ii8+DQo8L3N2Zz4NCg==);
}

.c-control-dash input:checked ~ .c-control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDN2Mmg4VjNIMHoiLz4NCjwvc3ZnPg0K)
}
