/* ==================================
   #FOOTER
   ================================== */

// Create a row with responsive padding and even spaced children. Used for a header or footer design pattern.
.c-ui {
  display: flex;
  justify-content: space-between;
}

.c-ui--header {
  align-items: center;
}

.c-ui--footer {
  flex-direction: column;

  @include mq(small) {
    flex-direction: row;
  }

  @include mq(large) {
    align-items: center;
  }
}
