/* ==================================
   #HERO
   ================================== */


.c-hero {
  position: relative;
  margin-top: $unit;
}

  .c-hero__body {
    position: relative;
    padding: $unit;
    background-color: $white;
    z-index: $z-index-beta;
    margin-top: 0;
    margin-left: -$unit;

    @include mq(medium) {
      padding: $unit + $unit-small;
      margin-right: $unit-large;
      margin-left: 0;
      margin-top: $unit-large;
    }

    @include mq(large) {
      padding: $unit-large;
    }

    @include mq(huge) {
      margin-left: -$unit-large;
    }
  }

  .c-hero__visual {
    border: 2px solid $white;
    border-right: 0;
    background-color: tint($color-secondary,60);
    height: $unit-huge*2;
    margin-left: $unit-large;
    border: 2px solid $white;
    border-right: 0;
    box-shadow: 8px 8px rgba($color-neutral,.1);

    &:before {
      content: '';
      position: absolute;
      top: $unit;
      left: 0;
      height: 80%;
      width: 100%;
      z-index: $z-index-alpha;
      background-position: top right;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23B3ADFF' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    @include mq(small) {
      height: $unit-huge*3;
    }

    @include mq(medium) {
      position: absolute;
      top: $unit-large - 8px;
      left: 64%;
      height: calc(100% - #{$unit-huge});
      width: calc(36%);
      margin-left: 0;

      &:before {
        top: auto;
        bottom: -$unit-large;
        left: calc(-164% - #{$unit-large + $unit-small});
        width: calc(200% + #{$unit});
        height: calc(100% + #{$unit-tiny});
      }
    }

    @include mq(large) {
      left: 50%;
      width: 50%;

      &:before {
        left: calc(-164% - #{$unit-large + $unit-small});
        width: calc(200% + #{$unit});
      }
    }
  }

  .c-hero__visual--home {
    @include mq(large) {
      top: $unit-large - 8px;
      left: 64%;
      height: calc(100% - #{$unit-huge});
      width: calc(36%);
      margin-left: 0;

      &:before {
        top: auto;
        bottom: -$unit-large;
        left: calc(-164% - #{$unit-large + $unit-large});
        width: calc(200% + #{$unit});
        height: calc(100% + #{$unit-tiny});
      }
    }
  }
