/* ==================================
   #CARDS
   ================================== */

.c-card {
  display: flex;
  flex-direction: column;
  // height: 100%;
  background-color: $white;
  border: 2px solid $color-neutral;

  .s-mutation & {
    outline: 6px dashed $color-tertiary-dark;
    position: relative;
    z-index: $z-index-beta;
    border-radius: 0;
  }

  .o-layout {
    position: relative;
  }
}

  .c-card--alpha {
    position: relative;
    padding: $unit;
    border: 2px solid $color-neutral;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      right: -$unit-tiny - 2px;
      top: $unit-tiny + 2px;
      width: 100%;
      height: 100%;
      border: 2px solid $color-neutral;
      background-color: $color-primary;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -2;
      right: -$unit-small - 2px;
      top: $unit-small + 2px;
      width: 100%;
      height: 100%;
      border: 2px solid $color-neutral;
      background-color: $color-secondary;
    }
  }

  .c-card--beta {
    position: relative;
    padding: $unit;
    color: $white;
    background-color: $color-neutral;
    border: 2px solid $color-neutral;

    &:after {
      content: "";
      position: absolute;
      z-index: -3;
      left: -$unit-tiny - 2px;
      top: $unit-tiny + 2px;
      width: 100%;
      height: 100%;
      border: 2px solid $color-neutral;
      background-color: $color-secondary;
    }

    @include mq(medium) {
      padding: $unit + $unit-small;
      margin-bottom: $unit;
    }
  }

  .c-card--gamma {
    position: relative;
    margin-top: -$unit - $unit-tiny;
    border: 2px solid $color-neutral;

    &:before {
      content: '';
      position: absolute;
      left: -$unit;
      top: -$unit;
      width: 100%;
      height: 100%;
      z-index: -3;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23B3ADFF' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -2;
      right: -$unit-tiny - 2px;
      top: $unit-tiny + 2px;
      width: 100%;
      height: 100%;
      border: 2px solid $color-neutral;
      background-color: $color-primary;
    }

    @include mq(medium) {
      margin-top: -$unit-large;

      &:before {
        top: -$unit-large;
        left: -33%;
        width: 120%;
      }
    }

    @include mq(large) {
      &:before {
        left: -50%;
      }
    }
  }

.c-card--spacer {
  & + & {
    margin-top: $unit;
  }
}

  .c-card__image {
    flex-grow: 0;
  }

  .c-card__image--full {
    height: 100%;
  }

  .c-card__content {
    padding: $unit;
    flex-grow: 1;
  }

  .c-card__footer {
    flex-grow: 0;
    padding: 0 $unit $unit;
  }

  .c-card__background {
    display: block;
    width: 100%;
    min-height: 150px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mq(small) {
      min-height: 200px;
    }
  }
