/* ==================================
   #TYPOGRAPHY
   ================================== */

.c-page-title {
  @include font-size($h3,1.25);
  color: $color-neutral-dark;
  margin-bottom: $unit-small;

  @include mq(small) {
    @include font-size($h2,1.25);
    margin-bottom: $unit;
  }

  @include mq(medium) {
    @include font-size($h1,1.25);
  }
}

.c-cta-title {
  @include font-size($h3,1.25);
  color: $white;
  margin-bottom: $unit-small;

  @include mq(small) {
    @include font-size($h2,1.25);
    margin-bottom: $unit;
  }

  @include mq(medium) {
    @include font-size($h1,1.25);
  }
}


.c-lead {
  @include font-size($h4,1.5);
  margin-bottom: $inuit-global-spacing-unit-large;
}

// Badge > Small text with background color
// ---
.c-badge {
  @include font-size($tiny,1.3);
  display: inline-block;
  padding: $unit-tiny/2 $unit-tiny;
  color: $color-neutral;
  background-color: $color-neutral-xxlight;
  border-radius: $radius;

  .c-form & {
    margin-left: $unit-tiny;
  }
}

.c-badge--negative {
  color: $white;
  background-color: $color-neutral-light;
}

.c-badge--icon {
  line-height: 1;
  position: absolute;
  display: table;
  right: -$unit-tiny;
  top: -$unit-tiny;
  border-radius: 1.5em;
  width: 1.5em;
  height: 1.5em;
  padding: .3em .5em;
  border: 2px solid $white;
  vertical-align: middle;
  text-align: center;
}






.c-h1-big {
  color: $color-primary;
  @include font-size($h1,1.25);
  margin-bottom: $unit-tiny;

  @include mq(small) {
    @include font-size($h1,1.25);
  }

  @include mq(medium) {
    @include font-size(60px,1.25);
  }
}

.c-h1 {
  color: $color-neutral-dark;
  @include font-size($h3,1.25);

  @include mq(small) {
    @include font-size($h2,1.25);
  }

  @include mq(medium) {
    @include font-size($h1,1.25);
  }
}

.c-h2 {
  color: $color-neutral-dark;
  @include font-size($h4,1.25);

  @include mq(medium) {
    @include font-size($h3,1.25);
  }
}

.c-h3 {
  color: $color-neutral-dark;
  @include font-size($h5,1.25);

  @include mq(medium) {
    @include font-size($h4,1.25);
  }
}

.c-h3--highlight,
.c-content .c-h3--highlight {
  color: $color-primary;
}

.c-h4 {
  color: $color-primary;
  @include font-size($h6,1.25);
  margin-bottom: $unit-small;

  @include mq(medium) {
    @include font-size($h5,1.25);
  }
}

.c-h5 {
  font-weight: $regular;
  color: $color-neutral-light;
  @include font-size($small,1.25);
  margin-bottom: $unit-tiny;

  @include mq(medium) {
    @include font-size($h6,1.25);
  }
}

.c-para {
  @include font-size($h5,1.5);

  @include mq(medium) {
    @include font-size($h4,1.5);
  }
}

.c-lead {
  @include font-size($h4);
  max-width: 28em;
  font-weight: $regular;
  color: $color-primary;

  @include mq(small) {
    @include font-size($h3);
  }

  @include mq(medium) {
    @include font-size($h2, auto, +1);
  }
}

.c-faded {
  font-weight: $regular;
  color: $color-neutral-light;
  text-transform: uppercase;
  @include font-size(14px);

  .s-mutation & {
    font-weight: $medium;
    color: $color-tertiary-xdark;
  }
}

.c-small {
  @include font-size($small,1.5);

  @include mq(medium) {
    @include font-size($h6,1.5);
  }
}
