/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  display: flex;
  flex-direction: column;

  @include mq(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

  .c-footer__logo {
    width: 150px;

    @include mq(large) {
      width: 180px;
    }
  }

  .c-footer__text {
    margin-top: $unit-small;
  }
