.c-pill__shape {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
  height: 75px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  background-color: $black;
  color: $color-primary;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 1rem;
  font-family: $font-primary;
  font-weight: normal;
  flex-flow: column;
  padding: 15px 50px;


  @include mq(small) {
    @include font-size($h1 * 1.75/3);
  }
  @include mq(medium) {
    flex-flow: row;    
    padding: 15px 100px 10px;
    @include font-size($h1 * 1.75/3);


  }

  @include mq(large) {
    font-size: 3rem;
    @include font-size($h1 * 1);

  }

  

}






.c-pill__shape-small {
  display: inline;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  border: 2px solid $color-neutral;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 1rem;
  font-family: $font-primary;
  font-weight: normal;
  margin: auto;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.c-pill__shape-small:hover {
  background-color: $color-neutral;
  color: $color-primary;
  border: 2px solid $color-primary;
}