/* ==========================================================================
   #LINKS
   ========================================================================== */

.c-link {
  transition: color $global-duration $global-easing;

  .c-theme-primary &,
  .c-theme-primary-tint &,
  .c-theme-neutral & {
    &,
    &:active {
      color: $color-primary;
    }

    &:hover,
    &:focus {
      color: $color-primary-light;
    }
  }

  .c-theme-primary-negative &, {
    &,
    &:active {
      color: $white;
    }

    &:hover,
    &:focus {
      color: tint($color-primary,80);
    }
  }

  .c-theme-secondary & {
    &,
    &:active {
      color: $color-secondary;
    }

    &:hover,
    &:focus {
      color: tint($color-secondary,30);
    }
  }

  .c-theme-secondary-negative &, {
    &,
    &:active {
      color: $white;
    }

    &:hover,
    &:focus {
      color: tint($color-secondary,60);
    }
  }

  .c-theme-neutral-light & {
    &,
    &:active {
      color: $color-neutral-light;
    }

    &:hover,
    &:focus {
      color: $color-primary-light;
    }
  }

  .c-theme-neutral-negative & {
    &,
    &:active {
      color: $white;
    }

    &:hover,
    &:focus {
      color: $color-neutral-xlight;
    }
  }
}


.c-link--bare {
  text-decoration: none;
  font-weight: $font-bold;
}

.c-link--none {
  text-decoration: underline;
}
