/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.c-nav-language {
  display: block;
  margin-left: $unit-small;

  li {
    margin-left: $unit;
  }

  li:first-child {
    // border-left: 1px dotted $color-neutral-xlight;
    padding-left: $unit;
    margin-left: $unit-small;
  }

  @include mq(small) {
    li:first-child {
      border-left: 1px dotted $color-neutral-xlight;
    }
  }
}

  .c-nav-language__link {
    display: block;
    padding-bottom: $unit-tiny;
    transition: color $global-duration $global-easing;
    text-decoration: none;

    &,
    &:active {
      color: $color-neutral-light;
    }

    &:hover,
    &:focus {
      color: tint($color-neutral-light,20);
    }

    &.is-active {
      color: $color-neutral;
      font-weight: $font-bold;

      &:hover,
      &:focus {
        color: $color-neutral;
      }
    }
  }

.c-nav {
  display: flex;
  flex-direction: column;
  margin-top: $unit;

  @include mq(medium) {
    flex-direction: row;
    margin-top: 0;
  }
}

  .c-nav__item {
    & + & {
      margin-top: $unit-tiny;
      padding-top: $unit-tiny;
      border-top: 1px dotted $color-neutral-xlight;
    }

    @include mq(medium) {
      & + & {
        margin-top: 0;
        padding-top: 0;
        margin-left: $unit;
        padding-left: $unit;
        border-top: 0;
        border-left: 1px dotted $color-neutral-xlight;
      }
    }
  }

  .c-nav__link {
    display: block;
    padding-bottom: $unit-tiny;
    transition: color $global-duration $global-easing;
    text-decoration: none;

    font-weight: $font-bold;

    &,
    &:active {
      color: $color-primary;
    }

    &:hover,
    &:focus {
      color: $color-primary-light;
    }

    &.is-active {
      color: $color-neutral;
      font-weight: $font-bold;

      &:hover,
      &:focus {
        color: $color-neutral;
      }
    }
  }

  .c-nav__link--special {
    font-weight: $font-bold;

    &,
    &:active {
      color: $color-primary;
    }

    &:hover,
    &:focus {
      color: $color-primary-light;
    }
  }
