/* ==========================================================================
   #FORMS
   ========================================================================== */

.c-label {
  display: block;
  color: $color-primary;
  @include font-size($font-tiny);
  font-weight: $font-bold;
  margin-bottom: $unit-tiny;
}

.c-label--negative {
  color: $yellow;
}

.c-input {
  display: block;
  width: 100%;
  font: inherit; /* [3] */
  margin: 0; /* [4] */
  padding: ($unit - $unit-tiny) $unit ($unit + $unit-tiny);
  transition: $global-transition;
  border-radius: $global-radius;
  background-color: $white;
  border: 0;
  outline: 0;
  color: $color-neutral;
  @include font-size($font-h4);

  @include mq(medium) {
    @include font-size($font-h3);
  }

  @include mq(large) {
    @include font-size($font-h3-big);
  }
}

.c-input-wrapper {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: $unit-small;
    left: -$unit-small;
    background-color: $color-primary-light;
    width: 100%;
    height: 2px;
    z-index: 1;
  }
}


.c-input-wrapper--negative {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: $unit-small;
    left: -$unit-small;
    background-color: $yellow;
    width: 100%;
    height: 2px;
    z-index: 1;
  }
}
