/* ==========================================================================
   #THEME
   ========================================================================== */

.c-theme-intro {
  color: $white;
  background-color: $color-neutral;

  @include mq(medium) {
    color: $color-neutral;
    background-color: $white;
  }
}

.c-theme-neutral {
  color: $color-neutral;
  background-color: $white;
}

.c-theme-neutral-alt {
  color: $color-neutral;
  background-color: $white;
}

.c-theme-neutral-light {
  color: $color-neutral-light;
  background-color: $white;
}

.c-theme-primary {
  color: $color-primary;
  background-color: $white;
}

.c-theme-primary-tint {
  color: $color-primary;
  background-color: $color-primary-xlight;
}

.c-theme-secondary {
  color: $color-secondary;
  background-color: $white;
}

.c-theme-secondary-negative {
  color: $white;
  background-color: $color-secondary;
}
