/* ==========================================================================
   #BRAND
   ========================================================================== */

.c-logo {
  position: relative;
  display: block;
  margin-bottom: 0;
  width: 120px;
  height: 26px;

  svg {
    width: 100%;
  }

  @include mq(small) {
    width: 180px;
    height: 37px;
  }
}
