/* ==========================================================================
   #EDITOR
   ========================================================================== */

.c-editor {
  position: relative;

  p,ul,ol {
    margin-bottom: 0;
  }

  p + p,
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  ul + p,
  p + ul,
  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4 {
    margin-top: $unit;
  }

  p {
    @include font-size($font-h6);
    max-width: 35em;
  }

  ul {

  }

  ul li + li {
    margin-top:  $unit-tiny;
  }

  a {
    transition: color $global-duration $global-easing;

    .c-theme-primary &,
    .c-theme-primary-tint &,
    .c-theme-neutral & {
      &,
      &:active {
        color: $color-primary;
      }

      &:hover,
      &:focus {
        color: $color-primary-light;
      }
    }

    .c-theme-secondary &,
    .c-theme-neutral-tint & {
      &,
      &:active {
        color: $color-secondary;
      }

      &:hover,
      &:focus {
        color: tint($color-secondary,30);
      }
    }

    .c-theme-neutral-light & {
      &,
      &:active {
        color: $color-neutral-light;
      }

      &:hover,
      &:focus {
        color: $color-primary-light;
      }
    }
  }

  @include mq(medium) {
    p {
      @include font-size($font-h5);
    }
  }
}

.c-editor--bold {
  p {
    font-weight: $font-bold;
  }
}

.c-editor--small {
  a {
    font-weight: $font-bold;
  }

  p {
    @include font-size($font-small);
  }

  @include mq(medium) {
    p {
      @include font-size($font-h6);
    }
  }
}

.c-editor--medium {
  p {
    @include font-size($font-h5);
  }

  @include mq(small) {
    p {
      @include font-size($font-h4);
    }
  }

  @include mq(medium) {
    p {
      @include font-size($font-h3);
    }
  }
}

.c-editor--large {
  p {
    @include font-size($font-h5);
  }

  @include mq(small) {
    p {
      @include font-size($font-h4);
    }
  }

  @include mq(medium) {
    p {
      @include font-size($font-h3);
    }
  }

  @include mq(large) {
    p {
      @include font-size($font-h3-big);
    }
  }
}

.c-editor--line-up {
  margin-top: $unit-small;

  @include mq(medium) {
    margin-top: $unit;
  }
}
