/* ==========================================================================
   #SPLIT
   ========================================================================== */

.c-split {
  position: relative;
  z-index: $z-index-alpha;
}

  .c-split__background {
    position: absolute;

    @include mq(medium) {
      display: block;
      width: 33%;
      left: 67%;
      top: 0;
      height: calc(100% + #{$unit-large});
      background-color: $color-neutral;
    }

    @include mq(large) {
      width: 45%;
      left: 55%;
    }
  }
