/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

.c-title {
  font-weight: $font-bold;
  @include font-size($font-h3);
  margin-bottom: $unit-small;
  padding-top: $unit-tiny;

  .c-theme-neutral-alt & {
    color: $color-secondary;
  }

  @include mq(medium) {
    @include font-size($font-h2);
  }
}

.c-subtitle {
  font-weight: $font-bold;
  @include font-size($font-h4);
  margin-bottom: $unit-small;

  .c-theme-neutral-alt & {
    color: $color-secondary;
  }

  @include mq(medium) {
    @include font-size($font-h3);
  }
}

.c-section-title {
  @include font-size($font-h6);
  margin-bottom: $unit-small;
  padding-top: $unit-tiny;

  .c-theme-neutral-alt & {
    color: $color-primary;
  }

  @include mq(medium) {
    @include font-size($font-h5);
  }
}

.c-section-h2 {
  font-weight: $font-bold;
  @include font-size($font-h6);
  color: $color-neutral;

  .c-theme-secondary-negative & {
    color: $white;
  }

  .c-theme-neutral-alt & {
    color: $color-primary;
  }
}

.c-section-h3 {
  font-weight: $font-regular;
  @include font-size($font-small);
  margin-bottom: $unit-tiny;
  color: $color-neutral-light;

  .c-theme-secondary-negative & {
    color: $white;
  }
}

.c-para {
  @include font-size($font-h5);
  margin-bottom: 0;

  @include mq(small) {
    @include font-size($font-h4);
  }

  @include mq(medium) {
    @include font-size($font-h3);
  }
}

.c-para-large {
  font-weight: $font-bold;
  @include font-size($font-h2,1);

  @include mq(small) {
    @include font-size($font-h1,1);
  }

  @include mq(large) {
    @include font-size($font-huge,1);
  }
}

.c-list {
  @include font-size($font-h5);
  margin-bottom: 0;

  @include mq(small) {
    @include font-size($font-h4);
  }

  @include mq(medium) {
    @include font-size($font-h3);
  }
}

  .c-list__item {
    & + & {
      margin-top: $unit-small;
    }

    @include mq(medium) {
      & + & {
        margin-top: $unit;
      }
    }
  }

.c-list--large {
  font-weight: $font-bold;
  @include font-size($font-h3,1);

  .c-list__item + .c-list__item {
    margin-top: $unit-small;
    padding-top: $unit-small;
    border-top: 2px solid $white;
  }

  .c-theme-secondary-negative & .c-list__item + .c-list__item {
    border-top: 2px solid rgba($white,.2);
  }

  .c-theme-secondary & .c-list__item + .c-list__item {
    border-top: 2px solid rgba($color-secondary,.1);
  }


  @include mq(medium) {
    @include font-size($font-h2,1);

    .c-list__item + .c-list__item {
      margin-top: $unit;
      padding-top: $unit-small;
    }
  }
}

.c-list--credits {
  margin-top: $unit-small;
  font-weight: $font-bold;
  @include font-size($font-h3,1);

  .c-list__item + .c-list__item {
    margin-top: $unit;
  }

  @include mq(medium) {
    margin-top: 0;
    @include font-size($font-h1,1);
  }
}

.c-list--medium {
  @include font-size($font-h4,1);
  font-weight: $font-bold;

  > .c-list__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  strong {
    margin-bottom: $unit-small;
  }

  > .c-list__item + .c-list__item {
    border-top: 2px solid $white;
    padding-top: $unit-small;
    margin-top: $unit-small;
  }

  @include mq(small) {
    @include font-size($font-h3,1);

    strong {
      margin-bottom: 0;
    }

    > .c-list__item {
      flex-direction: row;
    }

    > .c-list__item + .c-list__item {
      padding-top: $unit-small;
      margin-top: $unit;
    }
  }

  @include mq(medium) {
    @include font-size($font-h2,1);

    > .c-list__item + .c-list__item {
      padding-top: $unit;
      margin-top: $unit + $unit-tiny*1.5;
    }
  }
}

.c-small {
  @include font-size($font-small);
  margin-bottom: 0;
}

.c-tag {
  @include font-size($font-h6);
  display: block;
  margin-bottom: 0;
}

.c-tag--back {
  display: inline-block;
  line-height: 1;
  background-color: $white;
  padding: $unit-tiny/2 $unit-tiny $unit-tiny*1.3;

  .c-theme-secondary-negative & {
    color: $color-secondary;
  }
}

.c-tag--back-large {
  @include font-size($font-small);
  display: inline-block;
  line-height: 1;
  background-color: $white;
  padding: $unit-tiny/2 $unit-tiny $unit-tiny*1.3;

  .c-theme-secondary-negative & {
    color: $color-secondary;
  }

  .c-theme-secondary & {
    color: $white;
    background-color: $color-secondary;
  }

  @include mq(medium) {
    @include font-size($font-h4);
  }
}
