{#
  Story (Stoom)
  ================
#}

{#
  {% include '_components/components.story.html' %}
#}

{# -- Module -- #}
<div class="c-row c-row--large js-one" id="concept">
  <div class="o-container">
    {% for block in entry.story.all() %}
    <div class="o-grid o-grid--gutter{% if block.layoutReverse %} o-grid--reverse{% endif %}">
      <div class="o-grid__item u-2-of-6-bp4">
        {% for image in block.photo.all() %}
        <img src="{{ image.url }}" alt="{{ image.title }}">
        {% endfor %}
      </div>
      <div class="o-grid__item u-4-of-6-bp4">
        <div class="c-editor c-relative">
          {{ block.paragraph }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
