{#
  Projects overview
  ================
#}

{#
  {% include '_components/components.projects-overview.html' %}
#}

{# -- Module -- #}
<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
  <div class="o-container">
    <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
      <div class="o-grid__item u-1-of-2-bp4">
        <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
          <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
            <h2>
              STOOM
            </h2>
            <p>Tijdens een jaartraject kijken wat er ontstaat als kunst en technologie botsen. Aan de hand van laagdrempelige workshops kijken we hoe je met een beamer kan mappen, zoeken we de limieten van VR en gaan we aan de slag met licht.</p>
          </div>
          <p class="u-mb-jota-bp3">
            <img src="/assets/img/uploads/21107716_772905649556154_6990988279961092096_n.jpg" alt="">
          </p>
        </div>
      </div>
      <div class="o-grid__item u-1-of-2-bp4">
        <p>
          <img src="/assets/img/uploads/21689277_1474015486233172_6724994547228606464_n.jpg" alt="">
        </p>
      </div>
    </div>
  </div>
</div>
