{#
  Body
  ================
#}

{#
  {% include '_components/components.Body.html' %}
#}

{# -- Module -- #}
<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout">
      <div class="o-layout__item u-2/3@medium u-1/2@large">
        <div class="c-lead">
          {% for block in entry.body.all() %}
          {% switch block.type %}
          {% case "lead" %}
          {{ block.lead }}
          {% endswitch %}
          {% endfor %}
        </div>
      </div>
      <div class="o-layout__item u-2/3@medium u-1/2@large">
        <div class="c-content">
          {% for block in entry.body.all() %}
          {% switch block.type %}
          {% case "paragraph" %}
          {{ block.paragraph }}
          {% case "subtitle" %}
          <h3>{{ block.subtitle }}</h3>
          {% case "button" %}
          <p>
            {% if block.buttonLink | length %}
            {% for link in block.buttonLink.all() %}
            <a href="{{ link.url }}" class="c-btn c-btn--large c-btn--primary">
              {{ block.buttonTitle }}
            </a>
            {% endfor %}
            {% else %}
            <a href="{{ block.buttonURL }}" class="c-btn c-btn--large c-btn--primary">
              {{ block.buttonTitle }}
            </a>
            {% endif %}
          </p>
          {% endswitch %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
