{# {% include '_components/components.content-paragraph' %} #}

<div class="o-row-large u-divider">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor s-editor--title">
       {{ block.paragraph }}
    </div>
  </div>
</div>
