<footer class="c-row c-row--md c-footer">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="c-main-section">
                    <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
                        <div class="o-grid__item u-1-of-2-bp2">
                            <p class="u-max-width-md s-content">
                                <strong class="c-nerdlab u-color-neutral-xxxx-dark">{{ site.Info.Naam }}</strong> <br>
                                {{ site.Info.Straat }} {{ site.Info.Nummer }} <br>
                                {{ site.Info.Postcode }} {{ site.Info.Plaats }} <br>
                                <a class="c-footer__link" href="mailto:{{ site.Info.Email }}">{{ site.Info.Email }}</a>
                            </p>
                        </div>
                        <div class="o-grid__item u-1-of-2-bp2">
                            <p class="u-mb-alpha">{{ site.Social.Titel }}</p>
                            <ul class="o-list c-footer-list s-content">
                                <li><a class="c-footer__link" href="{{ site.info['Twitter link'] }}">Twitter</a></li>
                                <li><a class="c-footer__link" href="{{ site.info['Facebook link'] }}">Facebook</a></li>
                                <li><a class="c-footer__link" href="{{ site.info['Instagram link'] }}">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="c-footer__subscribe u-max-width-md">
                    <p class="c-subscribe-text">
                        {{ site.Newsletter.Intro }}
                    </p>
                    <div class="u-mb-gamma">
                        {% include components.subscribe-form.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
