{#
  Related subpages
  ================
#}

{#
  {% include '_components/components.subpages-related.html' %}
#}

{# -- Module -- #}
{% if entry.level == '1' %}
  {% set parent = craft.entries.slug(craft.app.request.getSegment(1)).one() %}
  {% set subnav =  parent.getDescendants(1)  %}
{% elseif entry.level == '2' %}
  {% set parent = craft.entries.slug(craft.app.request.getSegment(1)).one() %}
  {% set subnav =  parent.getDescendants(1)  %}
{% elseif entry.level == '3' %}
  {% set parent = craft.entries.slug(craft.app.request.getSegment(2)).one() %}
  {% set subnav =  parent.getDescendants(1)  %}
{% endif %}

{% if parent.hasDescendants %}
<div class="o-row-large u-border-top">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--small o-layout--spacer">
      <div class="o-layout__item">
        <p class="c-lead">{{ labels.labelOtherServices }}</p>
      </div>
      {# set the parent #}
      {# don't show if nothing's under it #}
      {% for page in subnav.all() %}
      {% if page.title == entry.title %}
      {% else %}
      <div class="o-layout__item u-1/2@medium u-1/3@large">
        <div class="c-card">
          <div class="c-card__image">
            {% for item in page.projectHeader.limit(1).all() %}
            <div class="o-crop o-crop--3:1">
              <a href="{{ page.url }}" alt="{{ page.title }}">
                <img
                  class="o-crop__content o-crop__content--center lazyload fade-in"
                  src="{{ item.url(thumb) }}"
                  data-sizes="auto"
                  data-srcset="{{ item.url(small) }} 240w,
                               {{ item.url(medium) }} 401w,
                               {{ item.url(large) }} 601w"
                  alt="{{ item.title }}">
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="c-card__content c-content c-content--small">
            <h3 class="c-h3 u-margin-bottom-small">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </h3>
            {% set intro = page.intro.all() %}
            {% for block in intro %}
            {% switch block.type %}
            {% case "introParagraph" %}
              {{ block.introParagraph }}
            {% endswitch %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
