{#
  CTA
  ================
#}

{#
  {% include '_components/components.cta.html' with { options: { handle: '' } } %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  handle: ''
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Module -- #}
{% set doormat = entry.doormat.all() %}
{% for block in doormat %}
<div class="o-row-large c-background">
  {% for item in block.media.all() %}
  {% switch item.type %}
  {% case "photo" %}
  {% for type in item.photo.all() %}
    <div class="c-background__image lazyload fade-in-cta" style="background-image: url('{{ type.url(thumb) }}');" data-bg="{{ type.url(huge) }}"></div>
    <p class="c-background__image__meta">
      {{ type.credits }}
    </p>
  {% endfor %}
  {% case "video" %}
  {% for type in item.placeholder.all() %}
  <div class="c-background__image c-background__image--fallback lazyload fade-in-cta" style="background-image: url('{{ type.url(thumb) }}');" data-bg="{{ type.url(huge) }}"></div>
  {% endfor %}
  <video class="c-background__video" autoplay loop muted preload="true">
    {% for type in item.webm.all() %}
    <source src="{{ type.url }}" type="video/webm">
    {% endfor %}
    {% for type in item.mp4.all() %}
    <source src="{{ type.url }}" type="video/mp4">
    {% endfor %}
  </video>
  {% for type in item.placeholder.all() %}
  <p class="c-background__video__meta">
    {{ type.credits }}
  </p>
  {% endfor %}
  {% endswitch %}
  {% endfor %}
  <div class="o-wrapper o-wrapper--huge c-background__body">
    <div class="o-layout">
      <div class="o-layout__item u-2/3@small u-1/2@huge">
        <div class="c-content c-content--cta">
          {{ block.paragraph }}
          {% for item in block.button.all() %}
          <p>
          {% if item.buttonLink | length %}
            {% for link in item.buttonLink.all() %}
            <a href="{{ link.url() }}" class="c-btn c-btn--large c-btn--primary c-btn--ghost">
              {{ item.buttonTitle }}
            </a>
            {% endfor %}
          {% else %}
            <a href="{{ item.buttonURL }}" class="c-btn c-btn--large c-btn--primary c-btn--ghost">
              {{ item.buttonTitle }}
            </a>
          {% endif %}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
