{#
  Two column
  ================
#}

{#
  {% include '_components/components.two-column.html' %}
#}

{# -- Module -- #}
<div class="c-row c-row--md c-row--top u-z-beta">
  <div class="o-container">
    <div class="c-main-section">
      <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
        <div class="o-grid__item u-1-of-2-bp4">
          <div class="u-max-width-md s-content">
            <div class="c-typo-lead u-color-beta-base">
              <p>We vinden nieuwe dingen uit door oude dingen kapot te maken, te kijken wat er in zit en ermee aan de slag te gaan.</p>
            </div>
          </div>
        </div>
        <div class="o-grid__item u-1-of-2-bp4">
          <div class="u-max-width-md s-content">
            <p>In <strong>Nerdlab</strong> maken we dingen. Gameconsoles, soundsystems, (3D) printers, zandbakken of andere machines. We vinden nieuwe dingen uit door oude dingen kapot te maken, te kijken wat er in zit en ermee aan de slag te gaan. We zoeken uit hoe iets werkt en we leren het elkaar. Daarvoor hebben we boren, zagen, electronica, drank en een hele berg rommel. Die uitvindingen zijn niet altijd nuttig (meestal zelfs niet). En dat is niet erg, want uit dat proces ontstaat kennis, inspiratie en een netwerk van getalenteerde mensen.</p>
            <p>We zijn niet de eerste die dit doen. Niel Gershenfield bedacht de term Fablab voor een plaats waar mensen terechtkunnen voor tools en kennis om hun ideeën te materialiseren. Naast zagen, boren, weerstanden en condensatoren kan je ook aan de slag met onze 3D printer, CNC of één van onze arduino’s. We blijven gestaag bouwen aan het machinepark. Naast materiaal zijn er specialisten ter plaatse die met je mee op zoek gaan of je basiskennis aanscherpen tijdens een workshop.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
