{#
 # The base layout template
 # ------------------------
 #
 # This template defines the base HTML structure for our site.
 #
-#}

{% minify %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# SEO #}
  {%- if seo is not defined and entry is defined and entry["seo"] is defined and entry.seo is iterable %}
		{% set seo = entry.seo %}
	{% endif %}
	{% if seo is not defined or seo is null or seo.title == "" %}
		{% set seo = craft.seo.custom(siteName, '', false) %}
	{% endif -%}

	{% set locale = craft.app.locale %}
	{% set locales = craft.app.i18n.siteLocaleIds|without(locale) %}

	<title>{{ seo.title }}</title>
	<meta name="description" content="{{ seo.description }}" />

	{% set fb = seo.social.facebook -%}
	<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ fb.title }}" />
	<meta property="og:image" content="https://nerdlab.be/mutation/images/facebook-og-twitter-card.jpg" />
	<meta property="og:description" content="{{ fb.description }}" />
	<meta property="og:site_name" content="{{ seo.title }}" />
	<meta property="og:locale" content="{{ locale }}" />
	{% for locale in locales -%}
		<meta property="og:locale:alternate" content="{{ locale }}" />
	{% endfor %}

	{% set tw = seo.social.twitter -%}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
	<meta name="twitter:title" content="{{ tw.title }}" />
	<meta name="twitter:description" content="{{ tw.description }}" />
	<meta name="twitter:image" content="https://nerdlab.be/mutation/images/facebook-og-twitter-card.jpg" />

	<link rel="home" href="{{ siteUrl }}" />
	<link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">

  {# CSS #}
  {% if craft.app.config.general.devMode == true %}
    <link rel="stylesheet" type="text/css" href="/assets/css/mutation.css">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ rev('mutation.min.css') }}">
  {% endif %}

  {# Favicon #}
  <link rel="shortcut icon" type="image/ico" href="{{ siteUrl }}favicon.ico"/>
  <link rel="shortcut icon" type="image/png" href="{{ siteUrl }}favicon.png"/>
  <link rel="apple-touch-icon-precomposed" href="{{ siteUrl }}apple-touch-icon-precomposed.png" />

  {# Analytics #}
  {% include "_globals/globals.gtm-head" %}
  {% include "_globals/globals.ga" %}
  {% endblock %}
</head>
<body>
  {# Cookie notice #}
  {% if craft.doNotTrack.isEnabled %}
  {% else %}
  {% if getCookie('PrivacyNotice') %}
  {% else %}
    <div class="c-theme-secondary-negative js-privacy">
      <div class="o-wrapper o-wrapper--huge">
        <div class="c-privacy-notice">
          {% set cookies = craft.entries.section('cookieStatement') %}
          <p>{{ labels.labelCookieNotice }} {% for page in cookies.all() %}<a href="{{ page.url }}" class="c-link c-link--negative">{{ labels.labelMoreInfo }}</a>{% endfor %}</p>
          <p>
            <button class="c-button c-button--cookie js-privacy__button">{% include '_tools/tools.icon.html' with { options: { icon: 'close' } } %} <span class="u-hidden-visually">{{ labels.labelClose }}</span></button>
          </p>
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}
  {# Analytics #}
  {% include "_globals/globals.gtm-body" %}
  {# @var schema \Spatie\SchemaOrg\Schema #}
  {% set schema = craft.schema %}
  {{ schema
      .thing
        .name("{{ siteName }}")
        .email("info@nerdlab.be")
        .url("https://nerdlab.be")
        .address(schema.postalAddress
          .addressCountry("Belgium")
          .addressLocality("Gent")
          .addressRegion("Oost-Vlaanderen")
          .postalCode("9000")
          .streetAddress("Nieuwland 67")
        ) | raw
  }}

  {# Image transforms #}
  {% set thumb = {
    mode: 'crop',
    width: 100,
    quality: 90,
    position: 'center-center'
  } %}

  {% set small = {
    mode: 'crop',
    width: 400,
    quality: 90,
    position: 'center-center'
  } %}

  {% set medium = {
    mode: 'crop',
    width: 600,
    quality: 90,
    position: 'center-center'
  } %}

  {% set large = {
    mode: 'crop',
    width: 900,
    quality: 90,
    position: 'center-center'
  } %}

  {% set xlarge = {
    mode: 'crop',
    width: 1280,
    quality: 90,
    position: 'center-center'
  } %}

  {% set huge = {
    mode: 'crop',
    width: 1400,
    quality: 90,
    position: 'center-center'
  } %}

  {% block body %}{% endblock %}

  {# Global javascript #}
  {% block foot %}
    {% if craft.app.config.general.devMode == true %}
      <script src="/assets/js/scripts.js"></script>
    {% else %}
      <script src="{{ rev('scripts.min.js') }}"></script>
    {% endif %}
  {% endblock %}
</body>
</html>
{% endminify %}
