{#

 # The site layout template
 # ------------------------
 #
 # This layout template extends the _layouts/base.html layout, and defines the main site layout: the header, footer, and main content area.
 #
-#}

{% extends "_layouts/default" %}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
  {% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}

{% block body %}
  {% include "_globals/globals.header-refactor" %}

  <main role="main" id="content" class="c-main">
    {% block main %}{% endblock %}
  </main>

  {% include "_globals/globals.prefooter-refactor" %}
  {% include "_globals/globals.footer-refactor" %}
{% endblock %}
