{#

 # The site layout template
 # ------------------------
 #
 # This layout template extends the _layouts/base.html layout, and defines the main site layout: the header, footer, and main content area.
 #
-#}

{% extends "_layouts/base" %}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
  {% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}

{% block body %}
  <div class="c-scene" id="js-smoothstate">
    {% include "_globals/globals.header" %}

    <main role="main" id="content" class="c-main">
      {% block main %}{% endblock %}
    </main>
  </div>

  {% include "_globals/globals.prefooter" %}
  {% include "_globals/globals.footer" %}
{% endblock %}
