/* ==========================================================================
   #TIMETABLE
   ========================================================================== */

$calendar-item-height: 100px;
$calendar-height: $calendar-item-height * 22;

// Bootstrapping
.cd-schedule {
  position: relative;
  z-index: 2;
  margin-top: 0;
  padding-top: $unit;
  padding-bottom: $unit-large;

  * {
    margin: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  @include mq(medium) {
    overflow: hidden;
    padding-top: 0;
    padding-right: 0;
  }
}

.cd-schedule::before {
  /* never visible - this is used in js to check the current MQ */
  content: 'mobile';
  display: none;

  @include mq(medium) {
    content: 'desktop';
  }
}

.cd-schedule::after {
  @include mq(medium) {
    clear: both;
    content: "";
    display: block;
  }
}

// Timeline holder
.cd-schedule .timeline {
  display: none;

  @include mq(medium) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: $calendar-item-height;
  }
}

// Timeline item
.cd-schedule .timeline li {
  @include mq(medium) {
    position: relative;
    height: $calendar-item-height;
  }
}

// Timeline borders
.cd-schedule .timeline li:first-child::before {
  @include mq(medium) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $calendar-item-height;
    border-top: 2px solid $color-secondary-light;
  }
}

.cd-schedule .timeline li::after {
  @include mq(medium) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 2px dotted rgba($color-secondary-light, .5);
  }

  @include mq(large) {
    width: 100%;
  }
}

.cd-schedule .timeline li:last-child::after {
  @include mq(medium) {
    display: none;
  }
}

.cd-schedule .timeline li:nth-child(even)::after {
  @include mq(medium) {
    border-top-style: solid;
  }
}

// Timeline label
.cd-schedule .timeline li span {
  @include font-size($h6, 1);
  position: relative;
  display: none;
  font-weight: $bold;
  padding: $unit-tiny/2 $unit-tiny/1.5 $unit-tiny/1.5;
  color: $white;
  background-color: $color-secondary-light;

  @include mq(medium) {
    display: inline-block;
    transform: translateY(calc(-50% - 1px));
  }
}

// Events
.cd-schedule .events {
  position: relative;
  top: 0;
  z-index: 1;

  @include mq(medium) {
    width: calc(100% - 60px);
    margin-left: 60px;
    position: absolute;

    ul {
      width: 100%;
      display: flex;
    }
  }
}

.cd-schedule .events .events-group {
  position: relative;

  @include mq(medium) {
    flex-grow: 1;
    border-left: 2px dotted rgba($color-secondary-light, .5);
    /* reset style */
    margin-bottom: 0;
    min-height: 3000px; // Fix height
  }
}

.cd-schedule .events .events-group:last-child {
  @include mq(medium) {
    border-right: 0;
  }
}

// Top info row
.cd-schedule .events .top-info {
  width: 100%;
  padding: 0;

  @include mq(medium) {
    /* vertically center its content */
    height: $calendar-item-height;
    margin-bottom: 0;
    border-bottom: 0;
  }
}

// Top info labels
.cd-schedule .events .c-top-info__title {
  @include font-size($h6, 1.5);
  display: inline-block;
  font-weight: $bold;
  color: $white;
  background-color: $color-neutral;
  padding: $unit-tiny/6 $unit-tiny/2 $unit-tiny/3;
  margin-bottom: $unit-tiny;

  @include mq(medium) {
    @include font-size($h5, 1.5);
    display: inline-block;
    color: $white;
    background-color: $color-neutral;
    margin-left: $unit-tiny;
  }
}

.cd-schedule .events .c-top-info__info {
  @include font-size($small, 1.5);
  display: block;
  font-weight: $regular;
  color: shade($color-tertiary-dark, 60);
  margin-bottom: $unit-small;

  @include mq(medium) {
    @include font-size($small, 1.5);
    margin-bottom: 0;
    margin-left: $unit-tiny;
  }
}

// Events container
.cd-schedule .events .events-group>ul {
  position: relative;
  display: block;
  margin-bottom: $unit-small;

  @include mq(medium) {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.cd-schedule .events .events-group>ul::after {
  /* never visible - used to add a right padding to .events-group > ul */
  // display: inline-block;
  // content: '-';
  // width: 1px;
  // height: 100%;
  // opacity: 0;
  // color: transparent;

  @include mq(medium) {
    clear: both;
    content: "";
    display: block;
    /* reset style */
    display: none;
  }
}

// Single event
.cd-schedule .events .single-event {
  transition: opacity .2s, background-color .2s;
  width: 100%;

  @include mq(medium) {
    position: absolute;
    z-index: 3;
    /* top position and height will be set using js */
    width: 100%;
    left: 0;
    height: auto;
    max-width: none;
    margin-right: 0;
    padding: $unit-tiny;
  }
}

.cd-schedule .events .single-event:last-of-type {
  margin-right: 5%;

  @include mq(medium) {
    /* reset style */
    margin-right: 0;
  }
}

.cd-schedule .events .single-event a {
  display: block;
  height: 100%;
  padding:
    ($unit-small - 4px) $unit-small $unit-small $unit-small;
  margin-bottom: $unit-small;
  background-color: tint($color-tertiary-xlight, 30);

  @include mq(medium) {
    overflow: hidden;
  }
}

.cd-schedule .events .single-event--link a {
  transition: box-shadow $transition;
  background-color: $white;

  &:hover,
  &:focus {
    box-shadow: 0 0 6px rgba($color-neutral-dark, .2);
  }
}

.c-underline {
  text-decoration: underline;
}

.cd-schedule .events .single-event--info a {
  color: $white;
  background-color: $color-secondary-dark;
}

.single-event a {
  color: $color-primary;
}

.single-event a:hover {
  color: $color-secondary;
}

.cd-schedule .events .single-event--small a {
  margin-bottom: $unit-small;

  @include mq(medium) {
    padding:
      $unit-tiny*1.5 $unit-small $unit-tiny*1.5 $unit-small;
  }
}

.cd-schedule.loading .events .single-event {
  /* the class .loading is added by default to the .cd-schedule element
    it is removed as soon as the single events are placed in the schedule plan (using javascript) */
  opacity: 0;
}

// Event box
.cd-schedule .event-name {
  @include inuit-font-size($h6, 1.2);
  display: block;
  font-weight: $bold;
  color: $color-neutral-dark;
}

.cd-schedule .single-event--small .event-name {
  @include mq(medium) {
    @include inuit-font-size($small, 1.2);
    margin-top: 0;
  }

  @include mq(large) {
    @include inuit-font-size($small, 1.2);
    margin-top: 0;
  }
}

.cd-schedule .single-event--info .event-name {
  color: $white;
}

.cd-schedule .event-date {
  @include inuit-font-size($small, 1.45);
  font-weight: $regular;
  color: $color-neutral;
}

.cd-schedule .single-event--small .event-date {
  @include mq(medium) {
    display: none;
  }
}

.cd-schedule .single-event--info .event-date {
  color: $white;
}

.cd-schedule .event-label {
  @include inuit-font-size(13px, 1);
  display: flex;
  font-weight: $regular;
  color: shade($color-primary, 10%);
  background-color: tint($color-primary, 85%);
  border-radius: 3px;
  padding: $unit-tiny/2.5 $unit-tiny/2 $unit-tiny/1.5;
}

.cd-schedule .event-label--primary {
  color: shade($color-secondary, 60%);
  background-color: tint($color-secondary, 80%);
}

.cd-schedule .event-label--secondary {
  color: shade($color-tertiary, 70%);
  background-color: tint($color-tertiary, 80%);
}

.cd-schedule .event-label--tertiary {
  color: shade($color-success, 60%);
  background-color: tint($color-success, 90%);
}

.cd-schedule .event-label--quarternary {
  color: shade($color-neutral-light, 50%);
  background-color: tint($color-neutral-light, 90%);
}

.cd-schedule .event-label--quinary {
  color: shade($purple, 50%);
  background-color: tint($purple, 90%);
}


.cd-schedule .single-event a {
  /* this is used to set a background color for the event and the modal window */
  background: $white;
}

.cd-schedule .single-event--tint a {
  /* this is used to set a background color for the event and the modal window */
  background: shade($color-secondary, 50);
  color: $white;

  .event-name,
  .event-date {
    color: $white;
  }
}


.schedule-evening-holder {
  position: relative;
  padding-top: $unit;
  border-top: 6px dashed $color-tertiary-dark;

  z-index: 2;

  @include mq(medium) {
    border-top: 0;
    padding-top: 0;
    margin-left: 60px;
    margin-top: -$calendar-item-height - $unit-large;
  }
}

.schedule-evening-block {

  display: block;
  text-decoration: none;
  padding: $unit;
  background-color: $color-primary;
  transition: box-shadow $transition;


  a:hover,
  a:focus {
    box-shadow: 0 0 6px rgba($color-neutral-dark, .2);
  }

  .event-name {
    text-decoration: underline;
  }

  .event-date {
    @include inuit-font-size($small, 1.45);
    display: block;
    font-weight: $medium;
    color: $white;
    margin-bottom: $unit-tiny/2;
  }

  .event-name {
    @include inuit-font-size($h6, 1.2);
    display: block;
    font-weight: $bold;
    color: $color-neutral-dark;
    color: $white;
  }

  @include mq(medium) {
    padding: 6px;

    .event-name {
      @include inuit-font-size($h4, 1);
    }
  }
}



// added for testing
$card-padding: 15px;
$card-margin: 15px;

// Mixins
@mixin card-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $card-margin 0;
  background-color: $white;
  border: 1px solid $color-secondary;
  position: relative;
}

@mixin label-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 2px 6px;
  font-size: 0.75em;
}

// Base styles
.single-event {
  @include card-style;
  width: 100%;


  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  position: relative;

  .event-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image text";

    @include mq(medium) {
      grid-template-columns: 1fr 3fr;
    }
  }

  .event-text {
    padding: $card-padding;
    grid-area: text;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "name name label"
      "info info null"
      "details details tickets";
  }

  .event-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: image;
    @include mq(medium) {
      min-height: 150px;

    }
  }

  .event-name {
    display: flex;
    flex-direction: column; // Stack labels and title vertically on smaller screens
    grid-area: name;
    .c-underline {
      text-decoration: underline;
      font-weight: bold;
    }

  }

  .event-label {
    @include label-style(#cc00ff, #fff);

    &--primary {
      @include label-style(#007bff, #fff);
    }

    &--secondary {
      @include label-style(#28a745, #fff);
    }

    &--tertiary {
      @include label-style(#ffc107, #333);
    }

    &--quarternary {
      @include label-style(#dc3545, #fff);
    }

    &--quinary {
      @include label-style(#17a2b8, #fff);
    }
  }

  .event-details{
    grid-area: details;
  }

  .event-time,
  .event-location,
  .event-tickets {
    font-size: 0.875em;
    color: $color-secondary;
  }

  .sign-up {
    background-color: $color-primary !important;
  }

  .event-time, .event-location {
    margin-bottom: 4px;
  }

  .event-tickets {
    font-weight: bold;
    color: $white;
    background-color: $color-neutral;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    transition: box-shadow $transition;

    &:hover,
    &:focus {
      box-shadow: 0 0 6px rgba($color-neutral-dark, .5);
    }
  }

  .event-tickets-wrapper {
    grid-area: tickets;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .event-info-wrapper{
    grid-area: info;
    display: flex;
  }

  .event-label-wrapper{
    grid-area: label;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}



