/* ==================================
   #TOOLTIP
   ================================== */

.c-tooltip {
  position: relative;
  display: inline-block;
}

  .c-tooltip__body {
    @include font-size($tiny,1.3);
    padding: $unit-tiny/2 $unit-tiny;
    color: $color-neutral;
    background-color: $color-neutral-xxlight;
    border-radius: $radius;
    position: absolute;
    z-index: $z-index-alpha;
    display: none;
    min-width: 12em;

    &::before {
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: solid transparent;
      border-color: rgba($white, 0);
      border-width: 6px;
    }

    .c-tooltip--right & {
      top: 50%;
      left: calc(100% + #{$unit-small});
      transform: translateY(-50%);

      &::before {
        right: 100%;
        top: 50%;
        margin-top: -6px;
        border-right-color: $color-neutral-xxlight;
      }
    }

    .c-tooltip--left & {
      top: 50%;
      right: calc(100% + #{$unit-small});
      transform: translateY(-50%);

      &::before {
        left: 100%;
        top: 50%;
        margin-top: -6px;
        border-left-color: $color-neutral-xxlight;
      }
    }

    .c-tooltip--top & {
      text-align: center;
      bottom: calc(100% + #{$unit-small});
      left: 50%;
      transform: translateX(-50%);

      &::before {
        left: 50%;
        top: 100%;
        margin-left: -6px;
        border-top-color: $color-neutral-xxlight;
      }
    }

    .c-tooltip--bottom & {
      text-align: center;
      top: calc(100% + #{$unit-small});
      left: 50%;
      transform: translateX(-50%);

      &::before {
        left: 50%;
        bottom: 100%;
        margin-left: -6px;
        border-bottom-color: $color-neutral-xxlight;
      }
    }
  }

  .c-tooltip__link:hover + .c-tooltip__body,
  .c-tooltip__link:focus + .c-tooltip__body {
      display: block;
  }

// Toggletip variant
.c-toggletip {
  position: relative;
  display: inline-block;

  .c-icon {
    color: $color-neutral-light
  }
}

  .c-toggletip__body {
    @include font-size($tiny,1.3);
    padding: $unit-tiny/2 $unit-tiny;
    color: $color-neutral;
    background-color: $color-neutral-xxlight;
    border-radius: $radius;
    position: absolute;
    z-index: $z-index-alpha;
    min-width: 20em;

    &::before {
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: solid transparent;
      border-color: rgba($white, 0);
      border-width: 6px;
    }

    .c-toggletip--right & {
      top: 50%;
      left: calc(100% + #{$unit-small});
      transform: translateY(-50%);

      &::before {
        right: 100%;
        top: 50%;
        margin-top: -6px;
        border-right-color: $color-neutral-xxlight;
      }
    }

    .c-toggletip--left & {
      top: 50%;
      right: calc(100% + #{$unit-small});
      transform: translateY(-50%);

      &::before {
        left: 100%;
        top: 50%;
        margin-top: -6px;
        border-left-color: $color-neutral-xxlight;
      }
    }

    .c-toggletip--top & {
      text-align: center;
      bottom: calc(100% + #{$unit-small});
      left: 50%;
      transform: translateX(-50%);

      &::before {
        left: 50%;
        top: 100%;
        margin-left: -6px;
        border-top-color: $color-neutral-xxlight;
      }
    }

    .c-toggletip--bottom & {
      text-align: center;
      top: calc(100% + #{$unit-small});
      left: 50%;
      transform: translateX(-50%);

      &::before {
        left: 50%;
        bottom: 100%;
        margin-left: -6px;
        border-bottom-color: $color-neutral-xxlight;
      }
    }
  }
