/*
    Objects: Grid
    ---
    Grid system objects, works together with utility width classes
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-max-width;
}

// Grid

.o-grid {
  display: flex; /* [3] */
  align-items: stretch; /* [3] */
  flex-wrap: wrap; /* [3] */
  margin:  0; /* [2] */
  padding: 0; /* [2] */
  list-style: none; /* [1] */
}

.o-grid--gutter {
  @include margin-lr(-($grid-gutter),-($grid-gutter));
}

.o-grid--gutter-sm {
  @include margin-lr(-($grid-gutter/2),-($grid-gutter/2));
}

.o-grid--gutter-lg {
  @include margin-lr(-($grid-gutter*2),-($grid-gutter*2));
}


  /**
   * 1. By default, all layout items are full-width (mobile first).
   * 2. Gutters provided by left padding:
   */

  .o-grid__item {
    width: 100%; /* [1] */

    .o-grid--gutter > & {
      @include padding-lr($grid-gutter,$grid-gutter);
    }

    .o-grid--gutter-sm > & {
      @include padding-lr($grid-gutter/2,$grid-gutter/2);
    }

    .o-grid--gutter-lg > & {
      @include padding-lr($grid-gutter*2,$grid-gutter*2);
    }
  }










/* Vertical alignment modifiers.
   ========================================================================== */

/**
 * Align all grid items to the middles of each other.
 */

.o-grid--middle {

  > .o-grid__item {
    align-self: center;
  }

}


/**
 * Align all grid items to the bottoms of each other.
 */

.o-grid--bottom {

  > .o-grid__item {
    align-self: flex-end;
  }

}





/* Fill order modifiers.
   ========================================================================== */

/**
 * Fill up the layout system from the centre.
 */

.o-grid--center {
  justify-content: center;
}


/**
 * Fill up the layout system from the right-hand side.
 */

.o-grid--right {
  justify-content: flex-end;
}


/**
 * Reverse the rendered order of the grid system.
 */

.o-grid--reverse {
  flex-direction: row-reverse;
}
