/* ==================================
   #SHAME
   ================================== */

   .o-wrapper{
    z-index: 10;
    // position: relative;
   }

.u-order-one {
  order: 1;
  margin-bottom: $unit-large;

  @include mq(medium) {
    order: 2;
    margin-bottom: 0;
  }
}

.u-order-two {
  order: 2;

  @include mq(medium) {
    order: 1;
  }
}

.c-footer-alpha {
  position: relative;
  z-index: 1;
}

.u-divider {
  margin-top: $unit-large;

  & + & {
    margin-top: $unit-large;
    padding-top: $unit-large;
    border-top: 1px solid $color-neutral-xlight;
  }

  @include mq(large) {
    & + & {
      margin-top: $unit-huge;
      padding-top: $unit-huge;
    }
  }
}

.u-spacer {
  margin-top: $unit-large;

  & + & {
    margin-top: $unit;
    padding-top: $unit;
  }
}

.u-border-top {
  border-top: 1px solid $color-neutral-xlight;
}

.u-divider-small {
  & + & {
    margin-top: $unit;
    padding-top: $unit;
    border-top: 1px solid $color-neutral-xlight;
  }
}

.o-layout--spacer {
  .o-layout__item {
    padding-top: $unit-small;
    padding-bottom: $unit-small;
  }
}

.o-layout--spacer-mobile {
  .o-layout__item {
    padding-bottom: $unit;
  }

  .o-layout__item:last-child {
    padding-bottom: 0;
  }
}

.c-footer {
  margin-top: $unit;
  padding-top: $unit;
}

.c-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/svg/doodles.svg');
  background-size: 150%;
  background-position: 50% 50%;
  height: 100vh;
  width: 100vw;

  @include mq(small) {
    background-size: 75%;
    background-size: 100%;
  }

  @include mq(medium) {
    background-size: 75%;
  }

  @include mq(large) {
    background-size: 62.5%;
  }
}

  .c-404__wrapper {
    padding-right: $unit;
    padding-left: $unit;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    text-align: center;

    @include mq(small) {
      max-width: 400px;
    }

    @include mq(medium) {
      padding-right: $unit-large;
      padding-left: $unit-large;
    }

    @include mq(large) {
      max-width: 500px;
    }
  }

.o-crop {
  background-color: $color-neutral-xxlight;
}

.u-alternate:nth-child(odd) {
  .u-alternate__layout {
    flex-direction: row-reverse;
  }
}

.o-crop .o-crop__content {
  max-width: 100%;
  width: 100%;
}


.c-highlight {
  position: relative;
  z-index: $z-index-alpha;
  display: inline-block;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: -$unit-small;
    left: -$unit-small;
    height: calc(100% + #{$unit});
    width: calc(100% + #{$unit});
    border-radius: 100%;
  }

  &:after {
    border: 4px solid $color-secondary;
    transform: rotate(5deg);
  }

  &:before {
    border: 4px dashed $color-secondary;
    transform: rotate(-5deg);
    z-index: -1;
  }

  .s-theme-secondary & {
    &:after {
      border: 4px solid $white;
      transform: rotate(2deg);
    }

    &:before {
      border: 4px dashed $white;
      transform: rotate(-5deg);
    }
  }

  @include mq(medium) {
    &:after,
    &:before {
      top: -$unit;
      left: -$unit;
      height: calc(100% + #{$unit*2});
      width: calc(100% + #{$unit*2});
    }

    &:after {
      border: 6px solid $color-secondary;
    }

    &:before {
      border: 6px dashed $color-secondary;
    }

    .s-theme-secondary & {
      &:after {
        border: 5px solid $white;
      }

      &:before {
        border: 5px dashed $white;
      }
    }
  }
}

.s-mutation .c-mutation-title,
.s-mutation .c-title {
  @include font-size($h3);
  text-transform: uppercase;
  color: $color-tertiary;
  // text-shadow: .25ex .25ex 0 rgba($color-tertiary,.4),-.25ex -.25ex 0 rgba($color-tertiary,.2);

  @include mq(small) {
    @include font-size($h2);
  }

  @include mq(medium) {
    @include font-size($h1);
  }
}

.s-mutation .s-theme-white .c-mutation-title,
.s-mutation .s-theme-white .c-title {
  color: $color-neutral;
  // text-shadow: .25ex .25ex 0 rgba($color-neutral,.3),-.25ex -.25ex 0 rgba($color-neutral,.1);
}

.s-mutation .s-theme-primary .c-mutation-title,
.s-mutation .s-theme-primary .c-title {
  color: $white;
  // text-shadow: .25ex .25ex 0 rgba($white,.3),-.25ex -.25ex 0 rgba($white,.2);
}

.s-mutation .s-theme-secondary .c-mutation-title,
.s-mutation .s-theme-secondary .c-title {
  color: $color-primary;
  // text-shadow: .25ex .25ex 0 rgba($color-tertiary,.4),-.25ex -.25ex 0 rgba($color-tertiary,.2);
}

.s-mutation .s-theme-tertiary .c-mutation-title,
.s-mutation .s-theme-tertiary .c-title {
  color: $white;
  // text-shadow: .25ex .25ex 0 rgba($color-neutral,.3),-.25ex -.25ex 0 rgba($color-neutral,.1);
}

.s-mutation .s-theme-neutral .c-mutation-title,
.s-mutation .s-theme-neutral .c-title {
  color: $white;
  // text-shadow: .25ex .25ex 0 rgba($white,.3),-.25ex -.25ex 0 rgba($white,.1);
}

.c-mutation-subtitle,
.c-subtitle,
.s-editor .c-subtitle,
.s-editor .c-mutation-subtitle {
  @include font-size($h4);

  @include mq(medium) {
    @include font-size($h3);
  }
}



.u-text-center {
  &,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}


.c-list-inline {
  display: flex;
  flex-direction: column;
  margin-bottom: $unit-large;

  @include mq(small) {
    flex-direction: row;
    align-items: center;
  }

  @include mq(large) {
    margin-bottom: $unit-huge;
  }
}

  .c-list-inline__item,
  .s-editor .c-list-inline__item {

    @include mq(small) {
      & + & {
        margin-top: 0;
        margin-left: $unit;
      }
    }

  }

.c-image-link  {
  height: 100%;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 103%;
    display: block;
  }
}

.c-video,
.c-image {
  outline: 6px solid $color-neutral-xxlight;

  .s-mutation & {
    outline: 6px dashed $color-tertiary-dark;
  }
}

.c-image--full {
  img {
    width: 100%;
  }
}


.c-grid {
  position: relative;
  display: grid;
  grid-gap: $unit;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) );

  .o-crop {
    outline: 6px solid $color-neutral-xxlight;
  }

  .s-mutation & .o-crop {
    outline: 6px solid $color-tertiary-dark;
    background-color: $color-tertiary-dark;
  }

  @include mq(medium) {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr) );
  }
}

  .c-grid__item {
    display: block;

    .o-crop__content {
      height: 100%;
      width: initial;
      max-width: initial;
    }
  }

  .c-grid__item--one {
    grid-column: auto / span 1;
  }

  .c-grid__item--two {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }

  .c-grid__item--three {
    grid-column: auto / span 2;

    @include mq(medium) {
      grid-column: auto / span 1;
    }
  }


.u-alpha {
  position: relative;
  z-index: $z-index-alpha;
}



.s-mutation .c-list {
  @include font-size($h5);

  @include mq(medium) {
    @include font-size($h3);
  }
}

  .c-list__item {
    & + & {
      margin-top: $unit-small;
      padding-top: $unit-small;
    }

    .c-list--divider & + & {
      border-top: 1px solid $color-neutral-xlight;
    }

    .s-mutation .c-list--divider & + & {
      border-top: 3px dashed $white;
    }

    @include mq(medium) {
      & + & {
        margin-top: $unit;
        padding-top: $unit;
      }
    }
  }

.c-bold {
  font-weight: $bold;
}

.js-link-none {
  cursor: default;
}


.c-drawing img{
	position: relative;
	z-index: 10;
	animation: image_animation 60s infinite;
}

.c-drawing .delay-1 {
	animation-delay: 3s;
}

.c-drawing .delay-2 {
	animation-delay: 15s;
}

.c-drawing .delay-3 {
	animation-delay: 7s;
}


@keyframes image_animation {
	0% {
		transform: scale(1) rotate(0deg);
	}
	5% {
		transform: scale(1.002) rotate(3deg);
	}
	10% {
		transform: scale(0.999) rotate(0deg);
	}
	15% {
		transform: scale(1.004) rotate(-1deg);
	}
	20% {
		transform: scale(1.0) rotate(0deg);
	}

	25% {
		transform: scale(1.002) rotate(3deg);
	}
	30% {
		transform: scale(0.999) rotate(0deg);
	}
	35% {
		transform: scale(1.004) rotate(-1deg);
	}
	40% {
		transform: scale(1.0) rotate(0deg);
	}
	45% {
		transform: scale(1.002) rotate(3deg);
	}
	50% {
		transform: scale(0.999) rotate(0deg);
	}
	55% {
		transform: scale(1.004) rotate(-1deg);
	}
	60% {
		transform: scale(1.0) rotate(0deg);
	}
	65% {
		transform: scale(1.002) rotate(3deg);
	}
	70% {
		transform: scale(0.999) rotate(0deg);
	}
	75% {
		transform: scale(1.004) rotate(-1deg);
	}
	80% {
		transform: scale(1.0) rotate(0deg);
	}
	85% {
		transform: scale(1.002) rotate(3deg);
	}
	90% {
		transform: scale(0.999) rotate(0deg);
	}
	95% {
		transform: scale(1.004) rotate(-1deg);
	}
	100% {
		transform: scale(1.0) rotate(0deg);
	}
	
}


*{
  scroll-behavior: smooth;

}

.o-wrapper--full {
  max-width: 80%;
}

.o-wrapper--full * {
  margin: auto;
}