---
layout: default
---

<div class="c-row c-row--md u-z-delta">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp6">
                <div class="s-content u-max-width-md">
                    <div class="c-typo-lead">
                        {{ page['Intro text'] | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-row u-pt-0 u-pl-0 u-pr-0 u-bgcolor-neutral-xxxxx-light u-z-delta">
    <div class="p-slick-theme js-gallery">
        {% for item in page['Carousel Images'] %}
            <img class="p-slick-theme__img" src="{{ item.Image }}" alt="Lab">
        {% endfor %}
    </div>
</div>

{% for item in page.Body %}
<div class="c-row c-row--md c-row--top u-z-beta">
    <div class="o-container">
        <div class="c-main-section">
            <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
                <div class="o-grid__item u-1-of-2-bp4">
                    <div class="u-max-width-md s-content">
                        <div class="c-typo-lead u-color-beta-base">
                            {{ item['Intro text'] | markdownify }}
                        </div>
                    </div>
                </div>
                <div class="o-grid__item u-1-of-2-bp4">
                    <div class="u-max-width-md s-content">
                        {{ item['Body text'] | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include components.cta.html %}
