---
layout: default
---

<div class="c-row c-row--md">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp6">
                <div class="s-content u-max-width-md">
                    <div class="c-typo-lead">
                        {{ page['Intro text'] | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for item in page.Projecten %}
<div class="c-row c-row--md c-row--border-top u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--horizontal-rev">
            <div class="o-grid__item u-1-of-2-bp4">
                <div class="o-flex o-flex--wrap o-flex--vertical-rev-bp4">
                    <div class="s-content u-max-width-md u-mb-gamma-bp3 u-mb-alpha-bp4">
                        <h2>
                            {{ item.Titel }}
                        </h2>
                        {{ item.Text | markdownify }}
                    </div>
                    <p class="u-mb-jota-bp3">
                        <img src="{{ site.baseurl }}{{ item['Brede image'] }}" alt="">
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4">
                <p>
                    <img src="{{ site.baseurl }}{{ item['Hoge image'] }}" alt="">
                </p>
                {% if item.Fotograaf %}
                <p class="u-ms-2 u-color-neutral-base">
                    © {{ item.Fotograaf }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include components.cta.html %}
