{#
 # 404
 # ------------------------
-#}

{% extends "_layouts/404" %}

{% set title = "404"|t %}

{% if entry is not defined %}
  {% set entry = craft.entries.uri('404').one() %}
{% endif %}

{% block body %}
<div class="o-row c-404">
  <div class="c-404__wrapper">
    <h1 class="c-h1-big">{{ entry.title }}</h1>
    <div class="s-editor s-editor--small">
      {% set intro = entry.intro.all() %}
      {% for block in intro %}
      {% switch block.type %}
      {% case "introParagraph" %}
        {{ block.introParagraph }}
      {% case "paragraph" %}
        {{ block.paragraph }}
      {% case "subtitle" %}
        <h2>{{ block.subtitle }}</h2>
      {% case "button" %}
        <p>
          {% if block.buttonLink | length %}
          {% for link in block.buttonLink.all() %}
          <a href="{{ link.url }}" class="c-btn c-btn--large c-button--primary">
            {{ block.buttonTitle }}
          </a>
          {% endfor %}
          {% else %}
          <a href="{{ block.buttonURL }}" class="c-btn c-btn--large c-btn--primary">
            {{ block.buttonTitle }}
          </a>
          {% endif %}
        </p>
      {% endswitch %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
