/* ==================================
   #SHAME
   ================================== */

.u-order-one {
  order: 1;
  margin-bottom: $unit-large;

  @include mq(medium) {
    order: 2;
    margin-bottom: 0;
  }
}

.u-order-two {
  order: 2;

  @include mq(medium) {
    order: 1;
  }
}

.u-spacer {
  margin-top: $unit-large;

  & + & {
    margin-top: $unit;
    padding-top: $unit;
  }
}

.u-border-top {
  border-top: 1px solid $color-neutral-xlight;
}

.u-divider-small {
  & + & {
    margin-top: $unit;
    padding-top: $unit;
    border-top: 1px solid $color-neutral-xlight;
  }
}

.o-layout--spacer {
  .o-layout__item {
    padding-top: $unit-small;
    padding-bottom: $unit-small;
  }
}

.o-layout--spacer-mobile {
  .o-layout__item {
    padding-bottom: $unit;
  }

  .o-layout__item:last-child {
    padding-bottom: 0;
  }
}

.c-footer {
  margin-top: $unit;
  padding-top: $unit;
}

.o-crop {
  background-color: $color-neutral-xxlight;
}

.u-alternate:nth-child(odd) {
  .u-alternate__layout {
    flex-direction: row-reverse;
  }
}

.o-crop .o-crop__content {
  max-width: 100%;
  width: 100%;
}


.c-highlight {
  position: relative;
  z-index: $z-index-alpha;
  display: inline-block;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: -$unit-small;
    left: -$unit-small;
    height: calc(100% + #{$unit});
    width: calc(100% + #{$unit});
    border-radius: 100%;
  }

  &:after {
    border: 4px solid $color-secondary;
    transform: rotate(5deg);
  }

  &:before {
    border: 4px dashed $color-secondary;
    transform: rotate(-5deg);
    z-index: -1;
  }

  .s-theme-secondary & {
    &:after {
      border: 4px solid $white;
      transform: rotate(2deg);
    }

    &:before {
      border: 4px dashed $white;
      transform: rotate(-5deg);
    }
  }

  @include mq(medium) {
    &:after,
    &:before {
      top: -$unit;
      left: -$unit;
      height: calc(100% + #{$unit*2});
      width: calc(100% + #{$unit*2});
    }

    &:after {
      border: 6px solid $color-secondary;
    }

    &:before {
      border: 6px dashed $color-secondary;
    }

    .s-theme-secondary & {
      &:after {
        border: 5px solid $white;
      }

      &:before {
        border: 5px dashed $white;
      }
    }
  }
}

.c-subtitle,
.s-editor .c-subtitle,
.s-editor .c-mutation-subtitle {
  @include font-size($h4);

  @include mq(medium) {
    @include font-size($h3);
  }
}

.u-text-center {
  &,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}

.c-list-inline {
  display: flex;
  flex-direction: column;
  margin-bottom: $unit-large;

  @include mq(small) {
    flex-direction: row;
    align-items: center;
  }

  @include mq(large) {
    margin-bottom: $unit-huge;
  }
}

  .c-list-inline__item,
  .s-editor .c-list-inline__item {

    @include mq(small) {
      & + & {
        margin-top: 0;
        margin-left: $unit;
      }
    }

  }

.c-image-link  {
  height: 100%;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 103%;
    display: block;
  }
}

.c-video,
.c-image {
  outline: 6px solid $color-neutral-xxlight;

  .s-mutation & {
    outline: 6px dashed $color-tertiary-dark;
  }
}

.c-image--full {
  img {
    width: 100%;
  }
}


.c-grid {
  position: relative;
  display: grid;
  grid-gap: $unit;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) );

  .o-crop {
    outline: 6px solid $color-neutral-xxlight;
  }

  .s-mutation & .o-crop {
    outline: 6px solid $color-tertiary-dark;
    background-color: $color-tertiary-dark;
  }

  @include mq(medium) {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr) );
  }
}

  .c-grid__item {
    display: block;

    .o-crop__content {
      height: 100%;
      width: initial;
      max-width: initial;
    }
  }

  .c-grid__item--one {
    grid-column: auto / span 1;
  }

  .c-grid__item--two {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }

  .c-grid__item--three {
    grid-column: auto / span 2;

    @include mq(medium) {
      grid-column: auto / span 1;
    }
  }


.u-alpha {
  position: relative;
  z-index: $z-index-alpha;
}

.c-list {

}

.c-list--agenda {
  @include font-size($h6);

  @include mq(medium) {
    @include font-size($h4);
  }
}

.s-mutation .c-list {
  @include font-size($h5);

  @include mq(medium) {
    @include font-size($h3);
  }
}

  .c-list__item {
    & + & {
      margin-top: $unit-small;
      padding-top: $unit-small;
    }

    .c-list--divider & + & {
      border-top: 1px solid $color-neutral-xlight;
    }

    .c-list--agenda & + & {
      margin-top: $unit-tiny;
      padding-top: $unit-tiny;
      border-top: 1px solid $color-neutral-xlight;
    }

    .c-list--small & + & {
      margin-top: $unit-tiny;
      padding-top: $unit-tiny;
    }

    .s-mutation .c-list--divider & + & {
      border-top: 3px dashed $white;
    }

    @include mq(medium) {
      & + & {
        margin-top: $unit;
        padding-top: $unit;
      }

      .c-list--small & + & {
        margin-top: $unit-tiny;
        padding-top: $unit-tiny;
      }
    }
  }

.c-bold {
  font-weight: $bold;
}

.js-link-none {
  cursor: default;
}

.c-media {
  width: 100%;
}

.c-media--fit {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.c-fit-holder {
  position: relative;
}

.c-fit {
  position: relative;
  display: block;
  height: $unit-huge + $unit-large;
  overflow: hidden;

  @include mq(small) {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.c-media--shadow {
  width: calc(100% - #{$unit});
  border: 2px solid $white;
  box-shadow: 8px 8px 0 rgba($color-neutral,.1);
}



.c-backdrop-holder {
  position: relative;
}

.c-card-group {
  margin-top: $unit-tiny;

  @include mq(small) {
    .o-layout__item {
      border-right: 1px solid $color-neutral-xlight;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: $unit;
      margin-bottom: $unit;
    }

    .o-layout__item:nth-child(2n),
    .o-layout__item:last-child {
      border-right: 0;
    }
  }

  @include mq(medium) {
    .o-layout__item:nth-child(2n) {
      border-right: 1px solid $color-neutral-xlight;
    }

    .o-layout__item:nth-child(3n),
    .o-layout__item:last-child {
      border-right: 0;
    }
  }
}

.c-card-group-row {
  margin-top: $unit;

  @include mq(small) {
    > .o-layout__item + .o-layout__item > .o-box {
      padding-top: $unit-large;
      border-top: 1px solid $color-neutral-xlight;
    }
  }

  @include mq(medium) {

  }
}

.c-card-group-two {
  margin-top: $unit-tiny;

  @include mq(medium) {
    .o-layout__item {
      border-right: 1px solid $color-neutral-xlight;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: $unit;
      margin-bottom: $unit;
    }

    .o-layout__item:nth-child(2n) {
      border-right: 0;
    }

    .o-layout__item:last-child {
      border-right: 0;
    }
  }
}

.c-media-border {
  border: 2px solid $white;
  box-shadow: 4px 4px rgba($color-neutral,.1);
  position: relative;

  img {
    object-fit: cover;
    height: 101%;
    width: 101%;
  }

  &:focus-within {
    outline: $outline;
    outline-offset: 2px;
  }
}

.c-backdrop {
  position: relative;
  top: 0;
  right: 0;
  background-color: tint($color-secondary,80%);
  margin-left: $unit;
  width: calc(100% - #{$unit-large});
  margin-bottom: -$unit;
  border: 2px solid $color-neutral;
  border-right: 0;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    mix-blend-mode: luminosity;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -$unit;
    left: -$unit;
    height: 80%;
    width: 80%;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffed03' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  @include mq(medium) {
    position: absolute;
    height: calc(100% - #{$unit});
    width: 50%;
    margin-bottom: 0;
    top: 0;
  }
}

.c-front {
  position: relative;
  z-index: $z-index-alpha;
  background-color: $white;
}

.o-crop video {
  width: 100%;
}
