<footer class="o-row-large c-theme-neutral-light">
  <div class="o-wrapper o-wrapper--large">
    <div class="c-footer">
      <img src="/assets/images/svg/vlaanderen-logo-light.svg" alt="Vlaanderen - verbeelding werkt" class="c-footer__logo">
      {% set conditions = craft.entries.section('conditions') %}
      {% for page in conditions.all() %}
      <p class="c-small c-footer__text">©{{ 'now'|date('Y') }} Nerdlab, <a href="{{ page.url }}" class="c-link">{{ page.title }}</a></p>
      {% endfor %}
    </div>
  </div>
</footer>
