<footer class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--spacer-mobile">
      <div class="o-layout__item u-1/2@medium">
        <div class="c-main-section">
          <div class="o-layout">
            <div class="o-layout__item u-1/2@small">
              <div class="c-content">
                {{ interface.address }}
              </div>
            </div>
            <div class="o-layout__item u-1/2@small  c-content">
              <p class="u-margin-bottom-none">{{ interface.socialTitle }}</p>
              <ul class="o-list-bare">
                {% for block in interface.social.all() %}
                  <li><a href="{{ block.linkURL }}">{{ block.linkTitle }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="o-layout__item u-1/2@medium">
        {% for block in interface.newsletter.all() %}
        <div class="c-content">
          {{ block.paragraph }}
        </div>
        <div class="u-margin-top-small">
          <form class="c-subscribe-form" action="//nerdlab.us6.list-manage.com/subscribe/post?u=26083caa15a40f691a214b23c&amp;id=14a5daee70" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input class="c-input-text c-input-text--large c-subscribe-form__input" type="email" value="" placeholder="{{ block.placeholder }}" name="EMAIL" class="required email" id="mce-EMAIL">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26083caa15a40f691a214b23c_14a5daee70" tabindex="-1" value=""></div>
            <input class="c-subscribe-form__btn c-btn c-btn--large" type="submit" value="{{ block.submit }}" name="subscribe" id="mc-embedded-subscribe">
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
