
<footer class="o-row-large c-footer-alpha">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--middle o-layout--reverse c-footer-wrapper">
      <div class="o-layout__item u-2/3@medium s-editor s-editor--footer">
        <p class="c-small">©{{ 'now'|date('Y') }} Zjaak,
          <a href="https://nerdlab.be/algemene-voorwaarden">Algemene voorwaarden</a>, <a href="https://nerdlab.be/cookies">Cookies</a>, <a href="https://nerdlab.be/privacy">Privacy</a>
        </p>
      </div>
      <div class="o-layout__item u-1/3@medium c-logos__wrapper">
        <img src="/assets/images/svg/vlaanderen-logo.svg" alt="Vlaanderen - verbeelding werkt" class="c-logos__item">
				<img src="/assets/images/logos/nerdlab.svg" alt="Nerdlab" class="c-logos__item">
				<img src="/assets/images/logos/decreatievestem.png"  alt="De Creatieve Stem" class="c-logos__item">
				<img src="/assets/images/logos/Bosa.svg"  alt="Bosa" class="c-logos__item">
				<img src="/assets/images/logos/gent.png"  alt="Gent" class="c-logos__item">
      </div>
    </div>
  </div>
</footer>
