<footer class="o-row-large c-theme-neutral-light">
  <div class="o-wrapper o-wrapper--huge">
    <div class="c-footer">
      <img src="/assets/images/svg/vlaanderen-logo-light.svg" alt="Vlaanderen - verbeelding werkt" class="c-footer__logo">
      {% set conditions = craft.entries.section('conditions') %}
      {% set credits = craft.entries.section('siteCredits') %}
      <p class="c-small c-footer__text">©{{ 'now'|date('Y') }} Nerdlab, {% for page in conditions.all() %}<a href="{{ page.url }}" class="c-link">{{ page.title }}</a>{% endfor %}{% for item in credits.all() %} – <a href="{{ item.url }}" class="c-link">{{ item.title }}</a>{% endfor %}</p>
    </div>
  </div>
</footer>
