<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--spacer-mobile">
      <div class="o-layout__item u-1/2@small u-1/4@medium u-order-two">
        <div class="c-content">
          {{ interface.address }}
        </div>
      </div>
      <div class="o-layout__item u-1/2@small u-1/4@medium c-content u-order-two">
        <p class="u-margin-bottom-none">{{ interface.socialTitle }}</p>
        <ul class="o-list-bare">
          {% for block in interface.social.all() %}
            <li><a href="{{ block.linkURL }}">{{ block.linkTitle }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="o-layout__item u-2/4@medium u-order-one">
        {% for block in interface.newsletter.all() %}
        <div class="c-content u-margin-bottom-small">
          {{ block.paragraph }}
        </div>
        <form class="c-subscribe-form" action="//nerdlab.us6.list-manage.com/subscribe/post?u=26083caa15a40f691a214b23c&amp;id=14a5daee70" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input class="c-input-text c-input-text--large c-subscribe-form__input" type="email" value="" placeholder="{{ block.placeholder }}" name="EMAIL" class="required email" id="mce-EMAIL">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26083caa15a40f691a214b23c_14a5daee70" tabindex="-1" value=""></div>
          <input class="c-subscribe-form__btn c-btn c-btn--large" type="submit" value="{{ block.submit }}" name="subscribe" id="mc-embedded-subscribe">
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<footer class="o-row-large u-padding-top-none">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout o-layout--middle o-layout--reverse">
      <div class="o-layout__item u-1/2@small c-content c-content--footer">
        {% set conditions = craft.entries.section('conditions') %}
        {% for page in conditions.all() %}
        <p class="c-small">©{{ 'now'|date('Y') }} Nerdlab, <a href="{{ page.url }}">{{ page.title }}</a></p>
        {% endfor %}
      </div>
      <div class="o-layout__item u-1/2@small">
        <img src="/assets/images/svg/vlaanderen-logo.svg" alt="Vlaanderen - verbeelding werkt" class="c-logo-vlaanderen">
      </div>
    </div>
  </div>
</footer>
