<div class="c-hero s-theme-noise">
  <span class="c-hero__background">
    <!-- <img src="/assets/images/svg/mutation-backdrop.svg" alt=""> -->
			<div class="c-hero__background__video u-duotone">
            <video src="/assets/video/hero-video.mp4" autoplay="autoplay" muted="muted" loop="loop">
              <span data-language="en">Your browser does not support the video tag.</span >
              <span data-language="nl">Je browser ondersteunt de video tag niet.</span >
            </video>
          </div>
		 <div class="c-hero__marquee">
            <div class="c-marquee__marquee title-font">
              <div class="c-marquee__track">
                <div class="content">
                  MutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutationMutation
                </div>
              </div>
            </div>
          </div>
  </span>
  <div class="o-wrapper o-wrapper--huge u-header__background">
    <h1 class="u-hidden-visually">
      {{ entry.title }}
    </h1>
    <h2 class="c-hero__title c-pill__shape c-h2">
      Mutation Festival  / <span class="hero-date">{{ mutationGlobals.mutationDate }}</span>
			<!-- 22 → 24 NOV 2024  -->
    </h2>
		<div class="c-lower__buttons__container">
			<a class="c-hero__program c-pill__shape" href="#open-call">Get involved</a>
			<a class="c-hero__locations c-pill__shape" href="#program">Gent Zuid</a>
		</div>
	
    <!-- <p class="c-hero__date">{{ mutationGlobals.mutationDate }}</p>
    <p class="c-hero__location">{{ mutationGlobals.mutationLocation }}</p> -->
  </div>
</div>