<header class="o-row">
  <div class="o-wrapper o-wrapper--huge">
    <div class="c-header">
      {% include '_elements/elements.logo' %}
      {# Site navigation #}
      {% include '_components/components.navigation' with { options: { handle: interface.navigation } } %}
    </div>
  </div>
</header>
