{#
 # The homepage template
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    {# Intro #}
    <h1 class="u-hidden-visually">{{ entry.title }}</h1>
    {% include '_components/components.intro.html' %}
  </div>
</div>

{# Agenda home #}
{% include '_components/components.agenda-home.html' %}

{# Projects overview #}
{% include '_components/components.projects-overview-home.html' %}

{# CTA #}
{% include '_components/components.cta.html' with { options: { handle: '' } } %}
{% endblock %}
