{#
 # Lab overview
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    {# Intro #}
    <h1 class="c-h1">{{ entry.title }}</h1>
    {% include '_components/components.intro.html' %}
  </div>
</div>

{# Gallery #}
{% include '_components/components.gallery.html' %}

{# Body #}
{% include '_components/components.body.html' %}

{# Portfolio overview #}
{% include '_components/components.portfolio.html' with { options: { tag: entry.title } } %}

{# Agenda #}
<div class="o-row-large u-border-top">
  <div class="o-wrapper o-wrapper--huge">
    <div class="s-editor s-editor--lead">
      {{ entry.paragraph }}
    </div>
    <div class="u-margin-top-large">
      {# Agenda filter #}
      {% include '_components/components.agenda-filter.html' with { options: { tag: entry.title } } %}
    </div>
  </div>
</div>

{# CTA #}
{% include '_components/components.cta.html' %}

{% endblock %}
