{#
 # Program
 # ------------------------
-#}

{% extends "_layouts/mutation" %}

{% block main %}
{% include "_globals/globals.navigation" %}
<div class="o-row-large c-drawing s-theme-tertiary s-theme-noise">
  {# <span class="c-drawing__background">
    <img src="/assets/images/svg/mutation-backdrop-light.svg" alt="">
  </span> #}
  <div class="o-wrapper o-wrapper--huge">

    {% include '_components/components.faq.twig' %}
  </div>
</div>
{% endblock %}



